.bg-career,
.career,
.glyphicon,
.top-bar {
    position: relative
}

#explore .card-title,
.bg-career .heading,
.bottm_sec,
.career .heading,
.circle1,
.circle1 span,
.contact-tag h1,
.content .steps .circle p,
.diagnosis ul li,
.faq_tab .nav-link,
.filter-button,
.filter-button:hover,
.gallery-title,
.icon_box img,
.off_circle p,
.slick-slide,
.timeline>li.timeline-inverted>.timeline-panel,
.timeline>li>.timeline-badge,
.tldate,
.training .table th {
    text-align: center
}

@font-face {
    font-family: AkkuratStdRegular;
    src: url(../fonts/AkkuratStdRegular.eot);
    src: url(../fonts/AkkuratStdRegular.eot) format('embedded-opentype'), url(../fonts/AkkuratStdRegular.woff2) format('woff2'), url(../fonts/AkkuratStdRegular.woff) format('woff'), url(../fonts/AkkuratStdRegular.ttf) format('truetype'), url(../fonts/AkkuratStdRegular.svg#AkkuratStdRegular) format('svg')
}

@font-face {
    font-family: AkkuratStdLight;
    src: url(../fonts/AkkuratStdLight.eot);
    src: url(../fonts/AkkuratStdLight.eot) format('embedded-opentype'), url(../fonts/AkkuratStdLight.woff2) format('woff2'), url(../fonts/AkkuratStdLight.woff) format('woff'), url(../fonts/AkkuratStdLight.ttf) format('truetype'), url(../fonts/AkkuratStdLight.svg#AkkuratStdLight) format('svg')
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(../fonts/glyphicons-halflings-regular.eot);
    src: url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/glyphicons-halflings-regular.woff2) format('woff2'), url(../fonts/glyphicons-halflings-regular.woff) format('woff'), url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}

.glyphicon {
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.glyphicon-plus:before {
    content: "\002b"
}

.box-position .panel-title>a:before,
.glyphicon-minus:before {
    content: "\2212"
}

body,
h1,
h2,
p {
    font-family: AkkuratStdLight;
    color: #595757
}

a,
a:hover {
    color: #7cc4c3
}

.pb-20 {
    padding-bottom: 20px
}

.form-control {
    border-radius: 0
}

.noPadding {
    padding: 0!important
}

.maginExtra {
    margin-left: -15px!important;
    margin-right: -15px!important
}

.btn-pdding {
    padding: 15px 40px
}

.bt-border {
    border-bottom: 14px solid #fff!important
}

.padd-box {
    padding: 14px
}

.padd-box2 {
    width: 200px
}

.w100 {
    width: 100%!important
}

.fourImage .col-sm-6 {
    padding: 1px;
    margin-bottom: 1px
}

video {
    max-width: 100%
}

.no-gutters {
    padding-right: 0;
    padding-left: 0
}

.bg-col-1 {
    background-color: #ebf4f5
}

.bg-col-2 {
    background-color: #fff!important
}

.bg-col-3 {
    background-color: #343a40!important
}

.bg-col-4 {
    background-color: #ebebeb!important
}

.bg-col-5 {
    background-color: #7dd8d7
}

.bg-col-w {
    background-color: #fff!important
}

.bg-col-6 {
    background-color: #cecece
}

.bg-col-7 {
    background-color: #ccccc7
}

.bg-col-8 {
    background-color: #77a5bc
}

.bg-col-9 {
    background-color: #a38877
}

.bg-col-10 {
    background-color: #57bc17
}

.bg-col-11 {
    background-color: #cecece!important
}

.bd-left {
    border-left: 2px solid #fff
}

.primary-link {
    color: #368391!important;
    font-weight: 700
}

.primary-link:hover {
    color: #368391
}

.colw {
    color: #fff
}

.circle {
    width: 60px;
    height: 60px;
    background: 0 0;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border: 2px solid #fff
}

.circle1 {
    width: 40px;
    height: 40px;
    background: 0 0;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border: 2px solid #595757;
    margin: 0 auto
}

.circle1 span {
    font-size: 24px;
    line-height: 40px;
    padding: 0
}

.maxw600 {
    width: 600px
}

.maxwid800 {
    width: 800px;
    margin: 0 auto
}

.maxwid600 {
    width: 600px;
    margin: 0 auto
}

.maxw800 {
    width: 800px
}

.commmon-padd {
    padding: 60px 0
}

.btn {
    border-radius: 0
}

.btn-outline-white {
    color: #fff;
    background-color: transparent;
    background-image: none;
    border-color: #fff
}

.btn-outline-white:hover {
    background-color: #fff;
    color: #232323
}

.btn-outline-action {
    color: #fff;
    background-color: #254040;
    background-image: none;
    border: 2px solid #fff;
    text-transform: capitalize;
    padding: 15px 40px
}

.btn-outline-action:hover {
    background-color: #fff;
    color: #254040;
    border: 2px solid #254040
}

.btn-common,
.btn-common:hover {
    border-color: #7cc4c3;
    background-image: none
}

.btn-common {
    color: #fff;
    background-color: #7cc4c3;
}

.btn-common:hover {
    color: #7cc4c3;
    background-color: #fff
}

.btn-face,
.btn-face:hover {
    color: #fff;
    background-color: #2b4170;
    background-image: none;
    border-color: #2b4170
}

.btn-twit,
.btn-twit:hover {
    color: #fff;
    background-color: #0081ce;
    background-image: none;
    border-color: #0081ce
}

.card {
    border: 0;
    border-radius: 0
}

.career {
    background: url(../image/career/career.JPG) no-repeat;
    background-size: 100%;
    height: 600px
}

.career .heading {
    padding: 30px;
    margin: 0 auto;
    display: block;
    width: 900px
}

.career_card {
    padding: 20px
}

.career_card .card {
    background-color: #fff!important;
    border: 0!important;
    margin-bottom: 20px
}

.career_card .card img {
    min-height: 200px;
    overflow: hidden
}

.bg-career {
    background: url(../image/career/1.jpg) 100% 30% no-repeat;
    background-size: 100%;
    height: 700px
}

.bg-career .heading {
    padding: 30px;
    width: 900px;
    margin: 0 auto
}

.breadcrumb {
    background-color: #7eb7b5;
    border-radius: 0
}

.breadcrumb-item a {
    color: #232323
}

.box-position .glyphicon,
.breadcrumb-item.active,
.custom_nav ul li a,
.top-bar {
    color: #fff
}

.box-position .panel-title>a:before {
    float: right!important;
    font-family: 'Glyphicons Halflings';
    padding-right: 5px
}

.box-position .panel-title>a.collapsed:before {
    float: right!important;
    content: "\002b"
}

.box-position h5 {
    margin-bottom: 0;
    font-size: 16px
}

.box-position .panel-title a {
    color: #fff;
    display: block
}

.box-position p {
    margin-bottom: 0
}

.box-position .form-group {
    margin-bottom: 5px
}

.panel-body {
    background-color: #FFF;
    border: 1px
}

.top-bar {
    background: #368391;
    padding: 4px 10px;
    overflow: hidden
}

.box-position .message_box {
    position: fixed;
    right: 10px;
    width: 300px;
    bottom: 0;
    z-index: 1
}

#demo .carousel-control-next,
.carousel-control-prev {
    width: 5%
}

.custom_nav .dropdown .dropdown-menu {
    background-color: #343a40!important
}

.dropdown:hover>.dropdown-menu {
    display: block
}

.row-equal>div[class*=col-] {
    display: flex;
    flex: 1 0 auto
}

#demo .carousel-caption {
    bottom: 125px
}

#demo .carousel-inner img {
    width: 100%;
    height: 100%
}

.custom_nav {
    display: block;
    width: 100%;
    height: 60px
}

.custom_nav .navbar-dark .navbar-toggler {
    border-color: transparent
}

.custom_nav ul li a {
    text-transform: capitalize;
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
    padding: 10px 22px;
    font-family: AkkuratStdLight
}

.custom_nav ul li a:hover {
    color: #368391
}

.custom_nav .btn-outline-info {
    border-radius: 0;
    background-color: #368391;
    color: #fff;
    border-color: #368391;
    cursor: pointer;
    text-transform: capitalize;
    font-family: AkkuratStdRegular;
    font-size: 14px;
    line-height: 46px
}

.custom_nav .btn-outline-info:hover {
    background-color: #fff;
    color: #368391;
    border-color: #fff
}

.custom_nav form {
    position: absolute;
    top: 0;
    right: 0
}

.threeSteps .card-body {
    min-height: 300px
}

.threeSteps1 .card {
    border-radius: 0;
    background-color: #fff;
    border-top: 0 solid #fff!important;
    border-left: 0 solid #fff!important;
    border-right: 0 solid #fff!important
}

.threeSteps1 .card-body {
    background-color: #fff;
    padding: 0!important;
    min-height: 325px;
    margin-bottom: 30px
}

.threeSteps1 .card-body p {
    padding: 10px 8px!important
}

.threeSteps1 .card-body h5 {
    padding: 10px 5px
}

.list_image ul {
    list-style-image: circle
}

.list_image h4 {
    background-color: #555;
    color: #fff!important;
    padding: 10px!important
}

#explore .card-title {
    font-size: 16px!important;
    margin-bottom: 0
}

#explore .card-title span {
    font-size: 22px!important;
    display: block
}

.training .table th {
    padding: .75rem;
    vertical-align: middle;
    border-top: 1px solid #e9ecef
}

.training .table p {
    padding: 8px;
    margin-bottom: 0
}

.train_carousel .carousel-inner {
    padding: 0 20px
}

.train_carousel .carousel-inner img {
    width: 100px;
    height: 100px
}

.mar-minus {
    margin-top: -6px
}

.content .card {
    border-radius: 0;
    background-color: #ebebeb;
    border-top: 14px solid #fff;
    border-left: 14px solid #fff;
    border-right: 14px solid #fff
}

.content .card-body {
    padding: 0 15px
}

.content .card-body .row .col-sm-6 {
    padding-right: 0;
    padding-left: 0
}

.content h2 span {
    display: block;
    font-weight: 300;
    font-size: 20px;
    text-transform: initial
}

.content p {
    padding: 10px 40px;
    color: #595757
}

.content h2,
.content h3,
.content h4,
.content h5 {
    color: #595757;
    padding: 30px 20px 10px 40px
}

.data h6,
.steps h4,
.steps p {
    color: #fff!important
}

.steps {
    background-color: #343a40;
    min-height: 408px
}

.steps h4 {
    padding-top: 10px
}

.steps .circle {
    margin: 0 auto
}

.content .steps .circle p {
    font-size: 40px;
    line-height: 60px;
    padding: 0
}

.data {
    padding: 15px 20px
}

.content .data p {
    padding: 0 10px;
    margin-left: 10px
}

.margin-minus-tp {
    margin-top: -7px;
    margin-bottom: -9px
}

.margin-minus-tp2 {
    margin-top: -10px;
    margin-bottom: -18px
}

.bg-img {
    background: url(../image/back-bg.jpg);
    min-height: 300px;
    position: relative;
    padding: 30px 0
}

.bg-img h2 {
    color: #fff
}

.bg-img sup {
    font-size: 14px;
    top: -1.5em
}

.content .science button {
    padding: 15px 0;
    position: absolute;
    bottom: 200px
}

.mpg {
    padding: 10px
}

.mpg h1 {
    color: #7cc4c3;
    font-size: 58px
}

.mpg h4 {
    padding: 6px 10px!important;
    margin-bottom: 0
}

.mpg p {
    padding: 0!important;
    margin-bottom: .5rem
}

.slick-sec {
    padding: 0 0 80px
}

.slick-sec .slick-arrow {
    display: none!important
}

.slick-slide {
    color: #419be0;
    background: #fff;
    margin: 10px
}

.slick-sec h4,
.slick-sec p {
    color: #595757
}

.slick-center {
    display: block;
    max-width: 10%!important;
    max-height: 20%!important;
    opacity: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19)
}

.slick-sec h4 {
    text-transform: capitalize
}

.bottm_sec,
.icon_box h5 {
    text-transform: uppercase
}

.slick-sec .card,
.slick-sec .card-img-top {
    border-radius: 0;
    border: 0;
    background-color: #fff
}

.icon_box h5 {
    color: color: #595757;
    padding: 10px 0
}

.bottm_sec,
.bottm_sec h1 {
    color: #fff
}

.icon_box p {
    padding: 0 10px
}

.icon_box h6 {
    padding: 10px 0
}

.eyebrow-data {
    padding: 0 40px;
    color: #fff
}

.icon_2 {
    position: absolute;
    bottom: 20px;
    left: 100px;
    right: 100px
}

.icon_2 ul {
    width: 400px
}

.icon_2 ul li {
    display: inline-block;
    list-style: none
}

.icon_2 ul li a {
    padding-left: 50px
}

.custom_form .check_custom {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.custom_form .check_custom input {
    position: absolute;
    opacity: 0;
    cursor: pointer
}

.custom_form .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #eee
}

.custom_form .check_custom:hover input~.checkmark {
    background-color: #ccc
}

.custom_form .check_custom input:checked~.checkmark {
    background-color: #368391
}

.custom_form .checkmark:after {
    content: "";
    position: absolute;
    display: none
}

.custom_form .check_custom input:checked~.checkmark:after {
    display: block
}

.custom_form .check_custom .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

#pinBoot,
.white-panel img {
    width: 100%;
    max-width: 100%
}

.bottm_sec {
    padding: 40px;
    background: #7dd8d7
}

.bookConsult h1,
.bottm_sec h1,
.client_title h5 span,
.contact-tag h1 {
    text-transform: capitalize
}

#pinBoot {
    position: relative;
    margin-left: 8px
}

.white-panel img {
    height: auto
}

.white-panel {
    position: absolute;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
    padding: 10px
}

.white-panel h1 {
    font-size: 1em
}

.white-panel h1 a {
    color: #A92733
}

.white-panel:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
    margin-top: -5px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.wrapper {
    position: relative;
    z-index: 1
}

.image-pos {
    position: absolute;
    top: 30%;
    left: 40%;
    right: 40%;
    bottom: 30%
}

.image-pos a {
    font-size: 5em;
    color: #fff;
    margin: 0 auto
}

@media screen and (max-width:767px) {
    .row-offcanvas {
        position: relative;
        transition: all .25s ease-out
    }
    .row-offcanvas-right {
        right: 0
    }
    .row-offcanvas-left {
        left: 0
    }
    .row-offcanvas-right .sidebar-offcanvas {
        right: -100%
    }
    .row-offcanvas-right.active .sidebar-offcanvas {
        right: -50%
    }
    .row-offcanvas-left .sidebar-offcanvas {
        left: -100%
    }
    .row-offcanvas-left.active .sidebar-offcanvas {
        left: -50%
    }
    .row-offcanvas-right.active {
        right: 50%
    }
    .row-offcanvas-left.active {
        left: 50%
    }
    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 50%
    }
}

.timeline {
    list-style: none;
    padding: 20px 0;
    position: relative
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #d9d9d9;
    left: 50%;
    margin-left: -1.5px
}

.timeline>li {
    margin-bottom: 20px;
    position: relative;
    width: 50%;
    float: left;
    clear: left
}

.timeline>li:after,
.timeline>li:before {
    content: " ";
    display: table
}

.timeline>li:after {
    clear: both
}

.timeline>li>.timeline-panel {
    width: 95%;
    float: left;
    border: 1px solid #d4d4d4;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, .175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, .175);
    background-color: #fff;
    text-align: center;
    padding-top: 10px
}

.timeline>li>.timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " "
}

.timeline>.w100>.timeline-panel:after,
.timeline>.w100>.timeline-panel:before,
.timeline>li>.timeline-panel:after {
    top: 27px;
    right: -14px;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
    position: absolute
}

.timeline>li>.timeline-panel:after {
    display: inline-block
}

.timeline>.w100>.timeline-panel:after,
.timeline>.w100>.timeline-panel:before {
    display: none
}

.timeline>li>.timeline-badge {
    color: #b3b4b4;
    width: 24px;
    height: 24px;
    line-height: 50px;
    font-size: 1.4em;
    position: absolute;
    top: 16px;
    right: -12px;
    z-index: 100
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding-top: 10px
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto
}

.timeline-badge>a {
    color: #C5C7C5!important
}

.timeline-badge a:hover {
    color: #000!important
}

.timeline-title {
    margin-top: 0;
    color: inherit
}

.timeline-body>p,
.timeline-body>ul {
    padding: 20px;
    margin-bottom: 0
}

.timeline-body>p+p {
    margin-top: 5px
}

.timeline-footer {
    padding: 20px;
    background-color: #f4f4f4
}

.timeline-footer>a {
    cursor: pointer;
    text-decoration: none
}

.timeline>li.timeline-inverted {
    float: right;
    clear: right;
    margin-top: 30px;
    margin-bottom: 30px
}

.timeline>li:nth-child(2) {
    margin-top: 60px
}

.timeline>li.timeline-inverted>.timeline-badge {
    left: -12px
}

.tldate {
    display: block;
    width: 200px;
    background: #7cc4c3;
    border: 3px solid #fff;
    color: #fff;
    margin: 0 auto;
    padding: 3px 0;
    font-weight: 700;
    -webkit-box-shadow: 0 0 11px rgba(0, 0, 0, .35)
}

.diagnosis ul li,
.social_icon li {
    display: inline-block;
    list-style: none
}

@media (max-width:767px) {
    ul.timeline:before {
        left: 40px
    }
    ul.timeline>li {
        margin-bottom: 20px;
        position: relative;
        width: 100%;
        float: left;
        clear: left
    }
    ul.timeline>li>.timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
        float: right
    }
    ul.timeline>li>.timeline-badge {
        left: 28px;
        margin-left: 0;
        top: 16px
    }
    ul.timeline>li>.timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto
    }
    ul.timeline>li>.timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto
    }
    .timeline>li.timeline-inverted {
        float: left;
        clear: left;
        margin-top: 30px;
        margin-bottom: 30px
    }
    .timeline>li.timeline-inverted>.timeline-badge {
        left: 28px
    }
}

.about-sidebar .list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #368391;
    border-color: #368391;
    font-weight: 500
}

.contact {
    position: relative
}

.contact-tag h1 {
    position: absolute;
    left: 35%;
    right: 35%;
    top: 250px;
    color: #fff;
    margin-bottom: -250px;
    border: 3px solid #fff;
    font-size: 50px;
    padding: 20px 30px
}

.content .contactIcon p {
    padding: 0!important;
    margin-bottom: 5px
}

.form-padd1 {
    padding: 40px;
    background-color: #368391;
    color: #fff
}

.form-padd {
    padding: 20px;
    background-color: #E7E7E7;
    color: #595757;
    margin: 50px 0
}

.bookConsult .form-padd h1 {
    color: #fff;
    font-size: 40px
}

.off_circle {
    position: absolute;
    top: 10px;
    right: 0;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    background-color: #e61f60;
    padding: 20px
}

.off_circle p {
    color: #fff;
    padding-bottom: 0;
    margin-bottom: 0
}

.off {
    font-size: 20px;
    font-weight: 800
}

.eshop .data {
    max-width: 320px;
    margin: 0 auto
}

.description ul,
.eshop .data ul {
    margin: 0;
    padding: 0
}

.eshop .data ul li {
    list-style-type: square
}

.text-red {
    color: #c40000
}

.social_icon li {
    padding: 10px 20px
}

.bookConsult {
    background: url(../image/udsa2.png) top no-repeat;
    position: relative;
    background-size: 100% 100%
}

.diagnosis ul {
    margin: 0 auto;
}

.location {
    background-position: top;
    position: relative;
    background-size: 100%;
    min-height: 400px
}
.trainCon ul {
    display: block;
    width: 100%;
}
.trainCon p {
    padding: 0px 40px;
    display: block;
    width: 100%;
}
.bgLocation1 {
    background: url(../image/delhi_new-1.jpg) no-repeat
}

.bgLocation2 {
    background: url(../image/Gurugram.jpg) no-repeat
}

.bgLocation3 {
    background: url(../image/Mumbai-1.jpg) no-repeat
}

.bgLocation4 {
    background: url(../image/Bangalore.jpg) no-repeat
}

.bgLocation5 {
    background: url(../image/Pune-2.jpg) no-repeat
}

.bgLocation6 {
    background: url(../image/Chennai-2.jpg) no-repeat
}

.bgLocation7 {
    background: url(../image/howrah_bridge.jpg) no-repeat
}

.bgLocation8 {
    background: url(../image/Kochi-2.jpg) no-repeat
}

.bgLocation9 {
    background: url(../image/ahmedabad-1.jpg) no-repeat
}

.bgLocation10 {
    background: url(../image/Hyderabad-2.jpg) no-repeat
}

.bgLocation11 {
    background: url(../image/Chandigarh-2.jpg) no-repeat
}

.bgLocation12 {
    background: url(../image/Jaipur-2.jpg) no-repeat
}

.bgLocation13 {
    background: url(../image/DHI-Calicut.jpg) no-repeat
}

.bgLocation14 {
    background: url(../image/Guwahai-1.jpg) no-repeat
}

.bgLocation15 {
    background: url(../image/Lucknow-1.jpg) no-repeat
}

.bookConsult h1 {
    color: #fff;
    font-size: 60px
}

.reffer,
.thanku h4 span,
footer h6 {
    text-transform: uppercase
}

.bookConsult h2 {
    color: #595757
}

.testCarousel .carousel-indicators li {
    background-color: #a8d0d2
}

.filter-button,
.testCarousel .carousel-indicators li.active {
    background-color: #fff
}

.testCarousel .carousel-item>.row {
    min-height: 300px;
    overflow: hidden
}

.gallery-title {
    font-size: 36px;
    color: #368391;
    font-weight: 500;
    margin-bottom: 70px
}

.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e
}

.filter-button {
    font-size: 18px;
    border: 1px solid #232323;
    border-radius: 5px;
    color: #232323;
    margin: 30px 5px
}

.btn-default:active .filter-button:active,
.filter-button:hover {
    background-color: #368391;
    color: #fff
}

.filter-button:hover {
    font-size: 18px;
    border: 1px solid #368391;
    border-radius: 5px
}

.port-image {
    width: 100%
}

.inverse:before,
.team-data:after {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    content: " ";
    z-index: 999;
    position: absolute
}

.gallery_product {
    margin-bottom: 30px
}

.inverse:before {
    top: 26px;
    right: -20px;
    border-left: 20px solid #cecece
}

.team-data:after {
    top: 40px;
    left: -20px;
    border-right: 20px solid #cecece
}

.faq_tab .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #7cc4c3
}

.faq_tab .nav-link {
    display: table-cell;
    padding: .5rem 1rem;
    border: 1px solid #7cc4c3;
    width: 350px;
    height: 66px;
    vertical-align: middle
}

.faq_tab .nav-pills .nav-link {
    border-radius: 0
}

.faq_tab .nav-pills .nav-link:hover {
    color: #222
}

.faq_tabcontent .card {
    border: 0
}

.faq_tabcontent .card-header {
    padding: 0;
    background-color: #fff
}

.faq_tabcontent .card-body {
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    padding: 10px
}

.faq_tabcontent h5 {
    padding: 10px;
    font-size: 18px
}

.faq_tabcontent h5 a {
    display: block
}

.blog ul li,
.footer_btm ul li {
    display: inline-block
}

.faq_tabcontent h5 a:hover {
    text-decoration: none;
    color: #7cc4c3
}

.faq_tabcontent p {
    padding: 5px 10px;
    margin: 0
}

.form_faq {
    margin-bottom: 20px
}

.faq_tabcontent .accordion-toggle:after {
    font-family: Icons;
    content: '\e037';
    float: right;
    color: #7cc4c3;
    font-size: 12px
}

.faq_tabcontent .accordion-toggle.collapsed:after {
    content: '\e034'
}

.thanku {
    border: 1px dashed #222;
    padding: 20px;
    margin-bottom: 50px
}

.thanku h4 span {
    background-color: #222;
    color: #fff;
    padding: 15px 30px
}

.reffer {
    font-size: 22px;
    margin-bottom: 0!important
}

.red {
    color: red!important
}

.clinic_name a:hover {
    color: #7cc4c3
}

.blog .box_w {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px
}

.blog h5 a {
    color: #232323
}

.blog ul {
    padding: 0;
    margin: 0
}

.blog ul li {
    list-style: none
}

.blog ul li a {
    padding-right: 20px
}

.cost_table table {
    border: 1px solid #ccc
}

.cost_table table thead {
    background: #343a40;
    color: #fff
}

.cost_table table td,
.cost_table table th {
    border: 1px solid #ccc;
    vertical-align: middle;
    padding: 10px 2px
}

.costing .content p,
.hair_loss .content p {
    padding: 0 40px
}

.site_map a {
    color: #595757
}

.site_map.content h5 {
    padding: 0!important;
    margin-bottom: 5px;
    font-weight: 600
}

.site_map ul {
    margin: 0;
    padding: 10px 12px
}

.rating:not(:checked)>input {
    position: absolute;
    top: -9999px;
    clip: rect(0, 0, 0, 0)
}

.rating:not(:checked)>label {
    float: right;
    width: .9em;
    padding: 0 .1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 200%;
    line-height: 1.2;
    color: #ddd
}

.rating:not(:checked)>label:before {
    font-family: Icons;
    content: '\e0c2';
    font-size: 24px
}

.rating>input:checked~label {
    color: #f70
}

.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
    color: gold
}

.rating>input:checked+label:hover,
.rating>input:checked+label:hover~label,
.rating>input:checked~label:hover,
.rating>input:checked~label:hover~label,
.rating>label:hover~input:checked~label {
    color: #ea0
}

footer,
footer a {
    color: #222
}

.rating>label:active {
    position: relative;
    top: 2px;
    left: 2px
}

.content .udsa p {
    padding: 5px 30px!important;
    margin-bottom: 0
}

.content .udsa h4 {
    margin-bottom: 0
}

.small-logo {
    padding: 20px 0
}

footer {
    padding: 30px;
    background-color: #a8d0d2
}

footer ul {
    margin: 0;
    padding: 0
}

footer ul li {
    list-style: none
}

footer a:hover {
    color: #368391
}

footer ul li img {
    padding: 6px 0
}

.footer_btm {
    background-color: #81c9cc;
    padding: 30px 10px
}

.footer_btm p,
.footer_btm ul {
    margin: 0
}

.footer_btm ul {
    padding: 0
}

.footer_btm ul li a {
    text-decoration: none;
    color: #222;
    padding: 10px
}

.footer_btm p {
    color: #222
}

.footer_btm ul li a:hover {
    color: #368391
}

@media (max-width:47.9em) {
    .maxw600 {
        max-width: 300px
    }
}

@media (max-width:74.9em) {
    .content2 .science button,
    .custom_nav form {
        position: static
    }
    .custom_nav ul li {
        padding: 15px 0
    }
    .custom_nav ul li:hover {
        border-bottom: 1px solid #CCC
    }
    .content2 .science {
        max-width: 300px
    }
    .social_icon li {
        padding: 10px 0
    }
    .social_icon li img {
        width: 40px
    }
    .content h2,
    .content h3,
    .content h4 {
        font-size: 20px;
        padding: 30px 20px 10px;
        text-align: center
    }
    .bottm_sec h1 {
        font-size: 24px
    }
    .contact-tag h1 {
        left: 10%;
        right: 10%;
        top: 50px;
        font-size: 30px
    }
    .btn-outline-dark {
        font-size: 12px;
        padding: 15px 10px
    }
    .custom_nav .btn-outline-info {
        font-size: 12px;
        padding: 10px;
        line-height: 6px
    }
    .content p {
        padding: 10px 25px
    }
    .key_features .col-sm-6 {
        padding: 20px!important
    }
    .footer_btm .text-right {
        text-align: left!important
    }
    .footer_btm {
        padding: 30px 0
    }
    .icon_2 {
    position: absolute;
    bottom: 0px;
    left: 10px;
    right: 10px;
}
.icon_2 ul {
    width: 300px;
}
.icon_2 ul li a {
    padding-left: 10px;
}
}