/******************************************************
 * @package Pav Opencart Theme Framework for Opencart 1.5.x
 * @version 1.1
 * @author http://www.pavothemes.com
 * @copyright	Copyright (C) Augus 2013 PavoThemes.com <@emai:pavothemes@gmail.com>.All rights reserved.
 * @license		GNU General Public License version 2
*******************************************************/
/**
 * Heading Page
 */
/* buttons */
/* 
  * LAYOUTS VAIRABLES 
  */
/* 
 * htab module 
 */
/* 
 * Mega Menu Module
 */
/* 
 * Box Modules 
 */
/* 
 * product block
 */
/*product-info*/
/*tab-categoryproducts*/
/******************************************************
 * @package Pav Opencart Theme Framework for Opencart 1.5.x
 * @version 1.1
 * @author http://www.pavothemes.com
 * @copyright	Copyright (C) Augus 2013 PavoThemes.com <@emai:pavothemes@gmail.com>.All rights reserved.
 * @license		GNU General Public License version 2
*******************************************************/
/**
 * BASE CSS STYLES
 */
html {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  background-color: #f5f6f7;
  line-height: 18px;
  color: #6e6e6e;
  /*     font-family: "proximanova-regular"; */
}
.fs9 {
  font-size: 11px;
}
.fs10 {
  font-size: 12px;
}
.fs11 {
  font-size: 13px;
}
.fs12 {
  font-size: 14px;
}
.fs13 {
  font-size: 15px;
}
.fs14 {
  font-size: 16px;
}
.fs15 {
  font-size: 17px;
}
.fs16 {
  font-size: 18px;
}
a {
  cursor: hand;
  cursor: pointer;
}
a img {
  border: none;
}
a:hover {
  text-decoration: none;
  color: #e76d66;
}
a:focus {
  outline: none;
  outline-offset: -2px;
  color: #e76d66;
}
img {
  border: 0 none;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
ul,
ol {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
ul li,
ol li {
  line-height: 20px;
}
body,
td,
th,
input,
textarea,
select,
a {
  outline: 0 none;
}
a,
a:hover,
a:focus {
  -webkit-transition: color 0.4s ease 0s;
  transition: color 0.4s ease 0s;
  text-decoration: none;
}
.quantity input,
input[name="quantity"] {
  width: auto;
  display: inline;
  text-align: center;
}
/* TABLE STYLE */
table.list {
  border-collapse: collapse;
  width: 100%;
  border-top: 1px solid #d5d5d5;
  border-left: 1px solid #d5d5d5;
  margin-bottom: 20px;
}
table.list thead td {
  background-color: transparent;
  padding: 0px 5px;
}
table.list .center {
  text-align: center;
  padding: 7px;
}
table.list tbody td {
  padding: 0px 5px;
}
table.list td {
  border-right: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
}
table.list .right {
  text-align: right;
  padding: 7px;
}
table.list .left {
  text-align: left;
  padding: 7px;
}
table.list thead td a,
.list thead td {
  text-decoration: none;
  color: #222222;
  font-weight: bold;
}
input.large-field,
select.large-field {
  width: 300px;
  border: 1px solid #eaeaea;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  color: #505050;
  display: block;
  font-size: 14px;
  height: 34px;
  line-height: 1.428571429;
  padding: 6px 12px;
  -webkit-box-shadow: 0 0 2px #d3d3d3 inset;
  box-shadow: 0 0 2px #d3d3d3 inset;
}
table.form {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
table.form > * > * > td {
  color: #000000;
}
table.form td {
  padding: 4px;
}
table.form tr td:first-child {
  width: 150px;
}
table.radio {
  width: 100%;
  border-collapse: collapse;
}
table.radio td {
  padding: 5px;
}
table.radio td label {
  display: block;
}
table.radio tr td:first-child {
  width: 1px;
}
table.radio tr td:first-child input {
  margin-top: 1px;
}
table.radio tr.highlight:hover td {
  background: #F1FFDD;
  cursor: pointer;
}
/*  Breadcrumb */
.breadcrumb {
  padding: 0;
}
.breadcrumb li:last-child:before {
  color: #e76d66;
}
.breadcrumb li:last-child a {
  color: #e76d66;
}
/*  PAGINATION STYLE */
.paging {
  padding: 15px 0;
}
.paging .pagination > li > a,
.paging .pagination > li > span {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.paging .pagination > .active > a,
.paging .pagination > .active > span,
.paging .pagination > .active > a:hover,
.paging .pagination > .active > span:hover,
.paging .pagination > .active > a:focus,
.paging .pagination > .active > span:focus {
  background-color: #e76d66;
}
.paging .pagination > li > a:hover,
.paging .pagination > li > span:hover,
.paging .pagination > li > a:focus,
.paging .pagination > li > span:focus {
  background-color: #e76d66;
  color: #fff;
}
/* button */
input.button {
  margin: 0;
  border: 0;
  height: 30px;
  padding: 0px 15px;
}
.button,
input.button {
  cursor: pointer;
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
  border: 1px solid #c9c9c9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: transparent;
  text-transform: uppercase;
}
.button:hover,
input.button:hover {
  border: 1px solid #e76d66;
  color: #ffffff;
  background-color: #e76d66;
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}
a.button {
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  color: #000000 !important;
}
a.button:hover {
  color: #ffffff !important;
}
.buttons {
  background: #ffffff;
  border: 1px solid #cccccc;
  overflow: auto;
  padding: 6px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.buttons .center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.buttons .right {
  float: right;
  text-align: right;
}
.buttons .left {
  float: left;
  text-align: left;
}
/* tab style */
.tabs-group {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 3px #d3d3d3;
  box-shadow: 0 0 3px #d3d3d3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 25px;
}
.nav-tabs {
  /* border-bottom: @htab-border; */
}
.nav-tabs a {
  padding: 15px 20px;
  font-size: 18px;
  font-family: proximanovasemibold;
  text-align: center;
  text-decoration: none;
  color: #000000;
}
.nav-tabs li.active a {
  background: #ffffff;
  color: #e76d66;
}
.nav-tabs li.active:first-child > a {
  border-left: medium none;
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  -ms-border-radius: 5px 0 0 0;
  -o-border-radius: 5px 0 0 0;
  border-radius: 5px 0 0 0;
}
.tab-content {
  padding: 20px;
  margin-bottom: 20px;
  z-index: 2;
}
/* carousel */
.carousel-controls {
  position: absolute;
  top: 10px;
  right: 0;
  width: 50px;
  height: 24px;
}
.carousel-controls .carousel-control {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}
.carousel-control {
  text-shadow: none;
  width: 26px;
  height: 26px;
  background-color: #f4f4f4;
  font-size: 22px;
  line-height: 22px;
  top: 38%;
  cursor: pointer;
  color: #b0b0b0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.carousel-control:hover {
  background-color: #e76d66;
  color: #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.carousel-control.left {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-image: none;
}
.carousel-control.right {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-image: none;
}
/* links style */
ul.links {
  position: relative;
  margin: 0;
  padding: 0;
}
ul.links li {
  display: inline-block;
  margin-right: 4px;
  line-height: 1.428571429;
}
ul.links li a {
  font-size: 12px;
  background: #363636;
  border: 1px solid #363636;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #88898e;
  padding: 3px 6px;
}
ul.links li a span {
  font-size: 12px;
  margin-right: 10px;
}
ul.list > li {
  padding: 10px 0 ;
}
ul.list > li ul {
  display: none;
}
ul.list > li ul > li {
  padding: 10px 0 0px 25px;
}
ul.list > li ul > li > a {
  text-decoration: none;
  display: block;
}
ul.list > li > a {
  text-decoration: none;
  background: url('../image/default/arrow-li.png') no-repeat left 4px;
  padding-left: 25px;
}
ul.list > li > a:hover,
ul.list > li > a.active {
  background-position: left -46px;
}
ul.list > li a:hover .badge,
ul.list > li a.active .badge {
  background-color: #e76d66;
}
ul.list > li a.active {
  color: #e76d66;
}
ul.list > li a.active ul {
  display: block;
}
.review-form-width {
  margin: 10% auto;
  max-width: 600px;
  position: relative;
}
.rating .fa-stack {
  width: 1em;
}
.rating .fa-stack-1x,
.rating .fa-stack-2x {
  color: #e76d66;
  font-size: 1em;
}
.badge {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
/******************************************************
 * @package Pav Opencart Theme Framework for Opencart 1.5.x
 * @version 1.1
 * @author http://www.pavothemes.com
 * @copyright	Copyright (C) Augus 2013 PavoThemes.com <@emai:pavothemes@gmail.com>.All rights reserved.
 * @license		GNU General Public License version 2
*******************************************************/
.required {
  font-weight: bold;
}
.success,
.warning,
.attention,
.information {
  padding: 10px 10px 10px 33px;
  margin-bottom: 15px;
  color: #555555;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.success .close,
.warning .close,
.attention .close,
.information .close {
  float: right;
  padding-top: 5px;
  padding-left: 4px;
  cursor: pointer;
}
.attention {
  background: #fff5cc url('../image/attention.png') 10px center no-repeat;
  border: 1px solid #F2DD8C;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.warning {
  background: #ffd1d1 url('../image/warning.png') 10px center no-repeat;
  border: 1px solid #F8ACAC;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.help {
  color: #999;
  font-size: 10px;
  font-weight: normal;
  font-family: 14px;
  display: block;
}
.error {
  display: block;
  color: #FF0000;
}
.welcome a {
  color: #e76d66;
}
.welcome a:hover {
  text-decoration: underline;
}
.success {
  background: #eaf7d9 url('../image/success.png') 10px center no-repeat;
  border: 1px solid #BBDF8D;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: proximanovasemibold;
}
h1 {
  font-size: 27px;
  line-height: 34px;
}
h1 small {
  font-size: 21px;
}
h2 {
  font-size: 22px;
  line-height: 34px;
}
h2 small {
  font-size: 14px;
}
h3 {
  font-size: 20px;
  line-height: 34px;
}
h3 small {
  font-size: 16px;
}
h4 {
  font-size: 17px;
  line-height: 26px;
}
h4 small {
  font-size: 14px;
  color: #282b2f;
  display: block;
  margin-top: 2px;
}
h5 {
  font-size: 15px;
}
h5 small {
  font-size: 12px;
}
h6 {
  font-size: 14px;
  line-height: 34px;
}
/*  */
/******************************************************
 * @package Pav Opencart Theme Framework for Opencart 1.5.x
 * @version 1.1
 * @author http://www.pavothemes.com
 * @copyright	Copyright (C) Augus 2013 PavoThemes.com <@emai:pavothemes@gmail.com>.All rights reserved.
 * @license		GNU General Public License version 2
*******************************************************/
#page {
  margin: 0 auto;
}
body.layout-boxed-md {
  background: url("../image/pattern/pattern14.png");
}
body.layout-boxed-md #page {
  max-width: 970px;
  -webkit-box-shadow: 0 0 5px #888888;
  box-shadow: 0 0 5px #888888;
  background: #ffffff;
}
body.layout-boxed-lg {
  background: url("../image/pattern/pattern14.png");
}
body.layout-boxed-lg #page {
  max-width: 1170px;
  -webkit-box-shadow: 0 0 5px #888888;
  box-shadow: 0 0 5px #888888;
  background: #ffffff;
}
/*
 * HEADER 
 */
#topbar {
  color: #88898e;
  font-size: 13px;
  background: #282b2f;
  padding: 10px 0;
}
#topbar .btn-group {
  margin-left: 10px;
}
#topbar .btn-group li {
  padding: 3px 0;
}
#topbar .btn-group .btn-dropdown {
  background: #363636;
  border: 1px solid #363636;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #88898e;
  padding: 2px 5px ;
  margin-top: -2px;
}
#topbar .btn-group .btn-dropdown > span {
  margin-right: 5px;
}
#topbar .btn-group .btn-dropdown:hover {
  color: #e76d66;
}
#topbar .btn-group .dropdown-menu button {
  background: transparent;
}
#topbar a:hover {
  color: #e76d66;
}
#topbar .show-mobile:before,
#topbar .show-mobile:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
#topbar .show-mobile:after {
  clear: both;
}
#topbar .show-mobile > div {
  margin: 0;
  padding: 0;
  position: relative;
}
#topbar .show-mobile > div:hover .inner-toggle {
  display: block;
}
#topbar .show-mobile .quickaccess-toggle {
  cursor: pointer;
  margin-left: 10px  ;
  background-color: #363636;
  margin-top: -2px;
  padding: 3px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
#topbar .show-mobile .quickaccess-toggle:hover {
  color: #ffffff;
  background-color: #e76d66;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
#topbar .show-mobile .inner-toggle {
  display: none;
  position: absolute;
  background: #ffffff;
  right: 0;
  top: 100%;
  min-width: 260px;
  padding: 10px;
  z-index: 99999;
  border-top: 5px solid #e76d66;
  border-right: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}
#topbar .show-mobile ul,
#topbar .show-mobile .links {
  float: none;
  padding: 0;
  margin: 0;
  text-align: left;
}
#topbar .show-mobile ul li,
#topbar .show-mobile .links li {
  float: none;
  display: block;
}
#topbar .show-mobile ul a,
#topbar .show-mobile .links a {
  float: none;
  margin: 0;
  padding: 0;
  line-height: 25px;
  background-color: transparent;
  color: #000000;
  border: none;
}
#topbar .show-mobile ul a:hover,
#topbar .show-mobile .links a:hover {
  color: #e76d66;
}
#topbar .show-mobile #search-mobile {
  padding-top: 0;
  padding-bottom: 0;
}
#topbar .show-mobile .cart-top .inner-toggle {
  width: auto;
}
#topbar .show-mobile .cart-top #cart-m .heading {
  display: none;
}
#topbar .show-mobile .cart-top #cart-m .content {
  display: block;
  position: static;
  margin: 0;
  padding: 0;
  border: 0;
  min-height: 10px;
  min-width: 100px;
  background: transparent;
}
#topbar .show-mobile .cart-top #cart-m .content .empty {
  padding: 0;
  margin: 0;
  line-height: normal;
  font-size: 12px;
}
#topbar .show-mobile .currency,
#topbar .show-mobile .language {
  margin: 0 5px;
}
#topbar .show-mobile .currency .dropdown-menu,
#topbar .show-mobile .language .dropdown-menu {
  left: 0;
  right: auto;
}
#topbar .show-mobile .currency button,
#topbar .show-mobile .language button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  height: 30px;
  padding: 0 10px;
}
#header-main {
  background: #ffffff;
  -webkit-box-shadow: 0 0 2px rgba(194, 194, 194, 0.6);
  box-shadow: 0 0 2px rgba(194, 194, 194, 0.6);
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 20px;
}
#header-main .header-wrap > div {
  height: 80px;
}
#header-main .logo-store a {
  display: inline-block;
}
#header-main #logo-theme a {
  background: url('../image/logo.png') no-repeat;
  width: 173px;
  height: 29px;
}
#header-main #logo-theme a span {
  display: none;
}
#header-main .inner {
  display: table;
  position: relative;
  height: 100%;
}
#header-main .inner > * {
  display: table-cell;
  vertical-align: middle;
}
#content {
  margin-bottom: 20px;
}
.sidebar [class*="col-"] {
  width: 100%;
}
/* FOOTER s*/
#footer {
  min-height: 100px;
  color: #808080;
}
#footer:before,
#footer:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
#footer:after {
  clear: both;
}
#footer .inner {
  padding: 20px;
}
#footer div:first-child .container .inner {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
#footer .footer-top .inner {
  background-color: #303030;
}
#footer .footer-center .inner {
  background-color: #292929;
}
#footer .footer-bottom .inner {
  background-color: #272727;
}
#footer h3 {
  color: #ffffff;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 8px;
}
#footer .column a {
  text-decoration: none;
  color: #808080;
  -webkit-transition: padding 0.5s ease 0s;
  transition: padding 0.5s ease 0s;
}
#footer .column a:hover {
  color: #e76d66;
}
#footer .column ul li {
  padding: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
#footer .column ul li a {
  background: none;
  text-transform: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: url('../image/default/circle-li.png') no-repeat -10px 12px;
  padding: 7px 0;
  display: inline-block;
}
#footer .column ul li a:hover {
  background-position: 5px 12px;
  padding-left: 20px;
}
#footer .column ul li:hover {
  color: #e76d66;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
/* POWER BY */
#powered {
  clear: both;
  color: #808080;
}
#powered .inner {
  background-color: #272727;
  border-top: 1px solid #303030;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  margin-bottom: 20px;
  padding: 20px;
  overflow: hidden;
}
#powered a {
  color: #e76d66;
}
#powered a:hover {
  color: #e76d66;
  text-decoration: underline;
}
/******************************************************
 * @package Pav Opencart Theme Framework for Opencart 1.5.x
 * @version 1.1
 * @author http://www.pavothemes.com
 * @copyright	Copyright (C) Augus 2013 PavoThemes.com <@emai:pavothemes@gmail.com>.All rights reserved.
 * @license		GNU General Public License version 2
*******************************************************/
/* box */
.box {
  margin-bottom: 20px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 2px #d9dadb;
  box-shadow: 0 1px 2px #d9dadb;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.box .box-heading {
  background: #fdfdfd;
  font-size: 23px;
  font-family: proximanovasemibold;
  border-bottom: 1px solid #f2f5f8;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  line-height: 33px;
  padding: 15px 25px;
}
.box .box-content {
  padding: 15px 20px;
}
.box .box-content .products-block {
  margin-left: -15px;
  margin-right: -15px;
}
.sidebar .box.red {
  background-color: transparent;
  padding: 0;
  color: #282b2f;
}
.sidebar .box.red .box-heading {
  background: #e76d66;
  color: #ffffff;
}
.sidebar .box.red .box-content {
  background: #fcebea;
}
.sidebar .box.red ul li > a {
  background: url('../image/default/arrow-li.png') no-repeat left 4px;
  padding-left: 25px;
}
.sidebar .box.red ul li > a:hover,
.sidebar .box.red ul li > a.active {
  background-position: left -46px;
}
.sidebar .box.yellow {
  background-color: transparent;
  padding: 0;
  color: #282b2f;
}
.sidebar .box.yellow .box-heading {
  background-color: #ffc40d;
  color: #fff;
}
.sidebar .box.yellow .box-content {
  background: #ffe9a6;
}
.sidebar .box.yellow ul li > a {
  background: url('../image/default/arrow-li.png') no-repeat left 4px;
  padding-left: 25px;
}
.sidebar .box.yellow ul li > a:hover,
.sidebar .box.yellow ul li > a.active {
  background-position: left -46px;
}
.sidebar .box.blue {
  background-color: transparent;
  padding: 0;
  color: #282b2f;
}
.sidebar .box.blue .box-heading {
  background: #57a6b9;
  color: #ffffff;
}
.sidebar .box.blue .box-content {
  background: #c3dfe6;
}
.sidebar .box.blue ul li > a {
  background: url('../image/default/arrow-li.png') no-repeat left 4px;
  padding-left: 25px;
}
.sidebar .box.blue ul li > a:hover,
.sidebar .box.blue ul li > a.active {
  background-position: left -46px;
}
.sidebar .box.orange {
  background-color: transparent;
  padding: 0;
  color: #282b2f;
}
.sidebar .box.orange .box-heading {
  background: #f89406;
  color: #ffffff;
}
.sidebar .box.orange .box-content {
  background: #fdd49a;
}
.sidebar .box.orange ul li > a {
  background: url('../image/default/arrow-li.png') no-repeat left 4px;
  padding-left: 25px;
}
.sidebar .box.orange ul li > a:hover,
.sidebar .box.orange ul li > a.active {
  background-position: left -46px;
}
.sidebar .box.green {
  background-color: transparent;
  padding: 0;
  color: #282b2f;
}
.sidebar .box.green .box-heading {
  background: #95bb7a;
  color: #ffffff;
}
.sidebar .box.green .box-content {
  background: #e6efdf;
}
.sidebar .box.green ul li > a {
  background: url('../image/default/arrow-li.png') no-repeat left 4px;
  padding-left: 25px;
}
.sidebar .box.green ul li > a:hover,
.sidebar .box.green ul li > a.active {
  background-position: left -46px;
}
.sidebar .box.purple {
  background-color: transparent;
  padding: 0;
  color: #282b2f;
}
.sidebar .box.purple .box-heading {
  background: #7a43b6;
  color: #ffffff;
}
.sidebar .box.purple .box-content {
  background: #c8b0e2;
}
.sidebar .box.purple ul li > a {
  background: url('../image/default/arrow-li.png') no-repeat left 4px;
  padding-left: 25px;
}
.sidebar .box.purple ul li > a:hover,
.sidebar .box.purple ul li > a.active {
  background-position: left -46px;
}
.sidebar .box.gray {
  background-color: transparent;
  padding: 0;
  color: #282b2f;
}
.sidebar .box.gray .box-heading {
  background: #505050;
  color: #ffffff;
}
.sidebar .box.gray .box-content {
  background: #9d9d9d;
}
.sidebar .box.gray ul li > a {
  background: url('../image/default/arrow-li.png') no-repeat left 4px;
  padding-left: 25px;
}
.sidebar .box.gray ul li > a:hover,
.sidebar .box.gray ul li > a.active {
  background-position: left -46px;
}
#footer .box {
  background-color: transparent;
  margin-bottom: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
#footer .box .box-heading {
  color: #ffffff;
  font-size: 18px;
  padding: 0;
  background: none;
  border-bottom: none;
  padding-bottom: 18px;
}
#footer .box .box-heading span:before {
  border-bottom: none;
}
#footer .box .box-content {
  padding: 0;
}
/* box styles */
.box.nopadding .box-content {
  padding: 10px 0 0;
}
.box.nopadding ul li {
  border-bottom: 1px solid #fff;
  padding-right: 20px;
  padding-left: 20px;
}
.box.nopadding ul li:last-child {
  border-bottom: none;
}
.box.no-boxshadown {
  background-color: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
}
.box.no-boxshadown .box-content {
  padding: 0 0;
}
.highlighted .box-content {
  background-color: #fafafa;
}
.dark {
  background: #7f7f7f;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px #d9dadb;
  box-shadow: 0 1px 2px #d9dadb;
  padding: 20px 10px 10px 20px;
  color: #ffffff;
}
.dark ul li {
  border-bottom: 1px solid #343434;
  padding-top: 7px;
  padding-bottom: 7px;
}
.dark ul li a {
  color: #fff;
  background: none;
  text-transform: none;
  padding-left: 0;
}
.red {
  background: #e76d66;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px #d9dadb;
  box-shadow: 0 1px 2px #d9dadb;
  padding: 20px 10px 10px 20px;
  color: #ffffff;
}
.red ul li {
  border-bottom: 1px solid #c96666;
  padding-top: 7px;
  padding-bottom: 7px;
}
.red ul li a {
  color: #fff;
  background: none;
  text-transform: none;
  padding-left: 0;
}
.red ul li a:hover {
  color: #fff;
}
.yellow {
  background: #ffc40d;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px #d9dadb;
  box-shadow: 0 1px 2px #d9dadb;
}
.yellow .box-heading {
  background-color: #d8981a;
  border-bottom: 1px solid #e8c174;
  position: relative;
}
.yellow .box-content {
  background-color: #EDA81F;
}
.yellow ul li {
  border-bottom: 1px solid #e8c174;
  padding-top: 7px;
  padding-bottom: 7px;
}
.yellow ul li a {
  color: #fff;
  background: none;
  text-transform: none;
  padding-left: 0;
}
.yellow ul li a:hover {
  color: #fff;
}
.blue {
  background: #57a6b9;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px #d9dadb;
  box-shadow: 0 1px 2px #d9dadb;
  padding: 20px 10px 10px 20px;
  color: #ffffff;
}
.blue .box-heading {
  background-color: #3483bf;
  border-bottom: 1px solid #64a0ce;
  position: relative;
}
.blue .box-content {
  background-color: #3c92d4;
}
.blue ul li {
  border-bottom: 1px solid #64a0ce;
  padding-top: 7px;
  padding-bottom: 7px;
}
.blue ul li a {
  color: #fff;
  background: none;
  text-transform: none;
  padding-left: 0;
}
.blue ul li a:hover {
  color: #fff;
}
.orange {
  background: #f89406;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px #d9dadb;
  box-shadow: 0 1px 2px #d9dadb;
}
.orange .box-heading {
  background-color: #da6e3e;
  border-bottom: 1px solid #e69673;
  position: relative;
}
.orange .box-content {
  background-color: #e97846;
}
.orange ul li {
  border-bottom: 1px solid #e69673;
  padding-top: 7px;
  padding-bottom: 7px;
}
.orange ul li a {
  color: #fff;
  background: none;
  text-transform: none;
  padding-left: 0;
}
.orange ul li a:hover {
  color: #fff;
}
.green {
  background: #95bb7a;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px #d9dadb;
  box-shadow: 0 1px 2px #d9dadb;
  padding: 20px 10px 10px 20px;
  color: #ffffff;
}
.green .box-heading {
  background-color: #669435;
  border-bottom: 1px solid #a2cd75;
  position: relative;
}
.green .box-content {
  background-color: #7DB641;
}
.green ul li {
  border-bottom: 1px solid #a2cd75;
  padding-top: 7px;
  padding-bottom: 7px;
}
.green ul li a {
  color: #fff;
  background: none;
  text-transform: none;
  padding-left: 0;
}
.green ul li a:hover {
  color: #fff;
}
.purple {
  background: #7a43b6;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px #d9dadb;
  box-shadow: 0 1px 2px #d9dadb;
}
.purple .box-heading {
  background-color: #a130b9;
  border-bottom: 1px solid #cb6ddf;
  position: relative;
}
.purple .box-content {
  background-color: #b436ce;
}
.purple ul li {
  border-bottom: 1px solid #cb6ddf;
  padding-top: 7px;
  padding-bottom: 7px;
}
.purple ul li a {
  color: #fff;
  background: none;
  text-transform: none;
  padding-left: 0;
}
.purple ul li a:hover {
  color: #fff;
}
.gray {
  background: #f8f8f8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 2px #D9DADB, 0 0 1px #fff inset;
  -o-box-shadow: 0 1px 2px #D9DADB, 0 0 1px #fff inset;
  -webkit-box-shadow: 0 1px 2px #D9DADB, 0 0 1px #fff inset;
  -moz-box-shadow: 0 1px 2px #D9DADB, 0 0 1px #fff inset;
  padding: 20px 10px 10px 20px;
  color: #6e6e6e;
}
.gray h3 {
  color: #282b2f;
}
.gray .box-heading {
  background-color: #669435;
  border-bottom: 1px solid #a2cd75;
  position: relative;
}
.gray .box-content {
  background-color: #7DB641;
}
.gray ul li {
  border-bottom: 1px solid #a2cd75;
  padding-top: 7px;
  padding-bottom: 7px;
}
.gray ul li a {
  color: #fff;
  background: none;
  text-transform: none;
  padding-left: 0;
}
.gray ul li a:hover {
  color: #fff;
}
/******************************************************
 * @package Pav Opencart Theme Framework for Opencart 1.5.x
 * @version 1.1
 * @author http://www.pavothemes.com
 * @copyright	Copyright (C) Augus 2013 PavoThemes.com <@emai:pavothemes@gmail.com>.All rights reserved.
 * @license		GNU General Public License version 2
*******************************************************/
.btn-group .dropdown-menu {
  z-index: 9999;
}
.btn-group .list-item {
  color: #505050;
  border: 0 none;
  cursor: pointer;
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  padding: 0 10px;
}
.btn-group .list-item:hover {
  color: #e76d66;
  text-decoration: underline;
}
/* cart info */
#cart {
  position: relative;
  z-index: 1003;
  margin-left: 10px;
}
#cart .checkout {
  text-align: right;
  clear: both;
}
#cart .empty {
  padding-top: 50px;
  text-align: center;
}
#cart .dropdown-menu {
  background: #ffffff;
  min-width: 350px;
  border: 1px solid #7f7f7f;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 2px #7f7f7f;
  box-shadow: 0px 2px 2px #7f7f7f;
}
#cart .dropdown-menu li > div {
  padding: 0 10px;
}
#cart > .btn {
  background: transparent;
  padding: 0;
  border: none;
}
#cart .heading .icon-cart {
  font-size: 14px;
  padding: 3px 6px;
  background: #363636;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #ffffff;
}
#cart .heading:hover .icon-cart {
  background: #e76d66;
}
#cart .heading #cart-total {
  color: #e76d66;
  background: url('../image/arrow-down.png') 98% 45% no-repeat;
  padding-right: 15px;
}
#cart .heading .dropdown-menu .table tbody > tr > td {
  border-top: none;
}
/* 
 * search module 
 */
.search {
  position: relative;
  padding: 25px 0 25px 25px;
  width: 225px;
}
.search input {
  padding: 5px 30px 5px 10px;
  width: 200px;
  height: 30px;
  line-height: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #eaeaea;
}
.search .button-search {
  color: #FFFFFF;
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  position: absolute;
  right: 0;
  text-align: center;
  width: 30px;
  background: url('../image/default/icon-search.png') no-repeat center center scroll;
  border: none;
}
/* 
 * box products 
 */
.product-block {
  padding: 20px 15px;
}
.product-block:hover .image .img:after {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.product-block:hover .wishlist-compare {
  display: inline-block;
}
.product-block .wishlist-compare {
  display: none;
}
.product-block .wishlist-compare a {
  border: 1px solid #c9c9c9;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #6e6e6e;
}
.product-block .wishlist-compare a:hover {
  background-color: #e76d66;
  border: 1px solid #e76d66;
  color: #ffffff;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.product-block .wishlist-compare a span {
  display: none;
}
.product-block .product-meta {
  position: relative;
}
.product-block .description {
  margin-bottom: 20px;
}
.product-block .rating {
  display: block;
  margin-bottom: 20px;
}
.product-block .cart {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 15px;
}
.product-block .cart input {
  font-size: 11px;
  letter-spacing: 0.4px;
}
.product-block .name {
  font-size: 16px;
  text-transform: none;
  text-decoration: none;
  display: block;
  margin-bottom: 12px;
  font-family: proximanovalight;
  font-weight: bold;
}
.product-block .image {
  display: block;
  margin-bottom: 15px;
  position: relative;
  text-align: center;
  overflow: hidden;
}
.product-block .image .img {
  transform: rotateX(0deg) rotateY(0deg);
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.product-block .image .img img {
  display: block;
  width: 100%;
}
.product-block .image .img:after {
  background-color: rgba(255, 255, 255, 0.55);
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  text-align: left;
  top: 0;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  width: 100%;
  z-index: 5;
}
.product-block .image .hover-image {
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  left: 0;
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  visibility: hidden;
  opacity: 0;
}
.product-block .image:hover .hover-image {
  transform: rotateX(0deg) rotateY(0deg);
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
  -webkit-transition: all 0.6s ease-in-out 0s;
  transition: all 0.6s ease-in-out 0s;
  visibility: visible;
  opacity: 1;
}
.product-block .price-old {
  color: #505050;
  text-decoration: line-through;
  font-size: 18px;
  font-weight: normal;
}
.product-block .price {
  display: block;
  color: #e76d66;
  font-size: 18px;
  margin-bottom: 20px;
  font-family: proximanovalight;
  font-weight: bold;
}
.product-block .price .price-tax {
  display: none;
}
.product-block .product-label-special {
  background: #70b53f;
  font-size: 15px;
  width: 60px;
  height: 28px;
  top: 0;
  right: 0;
  display: block;
  position: absolute;
  text-transform: uppercase;
  line-height: 28px ;
  padding: 0;
  color: #ffffff;
  font-weight: normal;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  z-index: 30;
}
.product-block .product-zoom {
  left: 0;
  overflow: hidden;
  position: absolute;
  top: -50px;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  z-index: 15;
}
.product-block:hover .product-zoom {
  top: 0px;
}
.product-block .product-zoom span {
  background-color: #e76d66;
  color: #FFFFFF;
  display: inline-block;
  font-size: 18px;
  height: 35px;
  line-height: 35px;
  opacity: 0.9;
  text-align: center;
  width: 45px;
}
.product-block .pav-colorbox {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  background-color: #6e6e6e;
  color: #fff;
  top: 50%;
  left: 30%;
  height: 0;
  line-height: 8px;
  width: 0;
  position: absolute;
  display: inline-block;
  text-align: center;
  z-index: 10;
  opacity: 0;
  filter: alpha(opacity=0);
  color: #ffffff;
  font-size: 0;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.product-block .pav-colorbox:hover {
  color: #ffffff;
}
.product-block .pav-colorbox:after {
  left: 0;
  padding: 0;
  top: 0;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  -moz-box-sizing: content-box;
  content: "";
  height: 100%;
  pointer-events: none;
  position: absolute;
  width: 100%;
}
.product-block .pav-colorbox span {
  padding-right: 3px;
}
.product-block:hover .pav-colorbox {
  opacity: 1;
  filter: alpha(opacity=100);
  height: 30px;
  line-height: 30px;
  width: 100px;
  font-size: 14px;
}
.sidebar [class*="col-"]:last-child .product-block {
  border-bottom: none;
}
.sidebar .product-block {
  padding: 20px 0;
  border-bottom: 1px solid #eaeaea;
  text-align: left;
}
.sidebar .product-block .image {
  float: left;
  margin-right: 20px;
}
.sidebar .product-block .image .product-label-special {
  display: none;
}
.sidebar .product-block .pav-colorbox {
  display: none !important;
}
.sidebar .product-block .image .img:after {
  background: transparent;
}
.sidebar .product-block .cart,
.sidebar .product-block .wishlist-compare,
.sidebar .product-block .description {
  display: none;
}
.sidebar .product-block .product-meta {
  overflow: hidden;
}
/* 
 * box category 
 */
ul.box-category,
ul.box-category ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* box filter */
ul.box-filter,
ul.box-filter ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.box-filter > li ul {
  padding-bottom: 10px;
}
ul.box-filter span {
  font-weight: bold;
  border-bottom: 1px solid #7f7f7f;
  display: block;
  padding-bottom: 5px;
  margin-bottom: 8px;
}
/* popup */
#colorbox *:before,
#colorbox *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
/* zoom function in product page */
.zoomContainer {
  z-index: 999;
}
.zoomContainer .zoomLens {
  border-color: #6e6e6e !important;
}
.zoomContainer .zoomWindow {
  border: 4px solid #7f7f7f !important;
  display: none;
}
/* 
 *
 */
#scrollUp {
  bottom: 0px;
  right: 30px;
  width: 70px;
  height: 70px;
  margin-bottom: -10px;
  padding: 10px 5px;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  color: #828282;
  -webkit-box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #E6E6E6;
  background-image: -moz-linear-gradient(top, #ebebeb, #dedede);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ebebeb), to(#dedede));
  background-image: -webkit-linear-gradient(top, #ebebeb, #dedede);
  background-image: -o-linear-gradient(top, #ebebeb, #dedede);
  background-image: linear-gradient(to bottom, #ebebeb, #dedede);
  background-repeat: repeat-x;
  -webkit-transition: margin-bottom 150ms linear;
  -moz-transition: margin-bottom 150ms linear;
  transition: margin-bottom 150ms linear;
}
#scrollUp:hover {
  margin-bottom: 0px;
}
/******************************************************
 * @package Pav Opencart Theme Framework for Opencart 1.5.x
 * @version 1.1
 * @author http://www.pavothemes.com
 * @copyright	Copyright (C) Augus 2013 PavoThemes.com <@emai:pavothemes@gmail.com>.All rights reserved.
 * @license		GNU General Public License version 2
*******************************************************/
/* category */
#content,
#content .search {
  background-color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px #d3d3d3;
  box-shadow: 0 1px 3px #d3d3d3;
  padding: 20px;
}
#content h1 {
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.page-product-manufacturer-info #content,
.page-common-home #content,
.page-home #content,
.page-product-special #content,
.page-product-search #content,
.page-product #content,
.page-category #content {
  background-color: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
}
.subcategories {
  margin-top: 20px;
  margin-bottom: 20px;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 3px #d3d3d3;
  box-shadow: 0 0 3px #d3d3d3;
  padding: 15px 20px;
}
.subcategories ul {
  float: left;
  list-style: disc outside none;
  padding-left: 15px;
}
.subcategories ul li {
  padding: 3px;
}
.category-info {
  position: relative;
}
.category-info .image {
  margin-bottom: 25px;
}
.category-info .image img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.category-info .description {
  margin-bottom: 25px;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 3px #d3d3d3;
  box-shadow: 0 0 3px #d3d3d3;
  padding: 15px 20px;
}
/* manufacturer */
.manufacturer-heading {
  background: #F8F8F8;
  font-size: 17px;
  font-weight: bold;
  padding: 5px 8px;
  margin-bottom: 20px;
}
.manufacturer-list {
  border: 1px solid #DBDEE1;
  padding: 5px;
  margin-bottom: 25px;
}
.manufacturer-list ul {
  float: left;
  width: 25%;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 20px;
}
.manufacturer-content {
  padding: 8px;
  overflow: auto;
}
/* 
 *  LISTING PRODUCTS PAGE 
 */
.product-filter {
  padding: 5px 0;
  margin-bottom: 15px;
}
.product-filter .sort {
  float: right;
}
.product-filter .limit {
  margin: 0 20px;
  float: right;
}
.product-filter .display {
  margin-right: 20px;
  float: left;
  padding-top: 4px;
}
.product-filter .display button {
  background-color: #fafafa;
  color: #9c9b9b;
  font-size: 14px;
  border: 1px solid #cccccc;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  margin-left: 20px;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  display: inline-block;
  padding: 0;
}
.product-filter .display button.active,
.product-filter .display button:hover {
  color: #ffffff;
  background-color: #e76d66;
  border: 1px solid #e76d66;
}
.product-filter .display span {
  line-height: 30px;
  float: left;
}
.product-filter .form-control {
  display: inline-block;
  width: auto;
}
.products-block .products-row {
  border-bottom: 1px solid #f3f3f3;
}
.products-block .products-row > div {
  position: relative;
}
.products-block .products-row > div:before {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.16, #ffffff), color-stop(0.53, #e3e3e3), color-stop(0.83, #ffffff));
  background-image: -o-linear-gradient(bottom, #ffffff 16%, #e3e3e3 53%, #ffffff 83%);
  background-image: -moz-linear-gradient(bottom, #ffffff 16%, #e3e3e3 53%, #ffffff 83%);
  background-image: -webkit-linear-gradient(bottom, #ffffff 16%, #e3e3e3 53%, #ffffff 83%);
  background-image: -ms-linear-gradient(bottom, #ffffff 16%, #e3e3e3 53%, #ffffff 83%);
  background-image: linear-gradient(to bottom, #ffffff 16%, #e3e3e3 53%, #ffffff 83%);
  content: "";
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
}
.products-block .products-row > div:last-child:before {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.16, transparent), color-stop(0.53, transparent), color-stop(0.83, transparent));
  background-image: -o-linear-gradient(bottom, transparent 16%, transparent 53%, transparent 83%);
  background-image: -moz-linear-gradient(bottom, transparent 16%, transparent 53%, transparent 83%);
  background-image: -webkit-linear-gradient(bottom, transparent 16%, transparent 53%, transparent 83%);
  background-image: -ms-linear-gradient(bottom, transparent 16%, transparent 53%, transparent 83%);
  background-image: linear-gradient(to bottom, transparent 16%, transparent 53%, transparent 83%);
  width: 0;
}
.products-block .products-row:last-child {
  border-bottom: none;
}
/* product list mode  */
.product-list {
  background-color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 3px #d3d3d3;
  box-shadow: 0 0 3px #d3d3d3;
}
.product-list .product-col {
  width: 100%;
}
.product-list .products-block {
  padding: 0;
}
.product-list .products-block .products-row {
  border-bottom: none;
}
.product-list .products-block .products-row:last-child > div {
  border-bottom: none;
}
.product-list .products-block .products-row > div {
  border-bottom: 1px solid #f3f3f3;
}
.product-list .products-block .products-row > div:before {
  background: none;
}
.product-list .price-old {
  text-decoration: line-through;
}
.product-list .cart {
  margin-bottom: 3px;
}
.product-list .price-tax {
  font-weight: normal;
  color: #bbbbbb;
}
.product-list .name {
  margin-bottom: 13px;
}
.product-list .name a {
  font-weight: bold;
  text-decoration: none;
}
.product-list .image {
  float: left;
  margin-right: 20px;
  width: 35%;
}
.product-list .image img {
  width: 100%;
}
.product-list .description {
  display: block;
}
.product-list .right {
  float: right;
  margin-left: 25px;
}
.product-list > div {
  margin-bottom: 25px;
}
/* product grid mode */
.product-grid {
  position: relative;
  background-color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 3px #d3d3d3;
  box-shadow: 0 0 3px #d3d3d3;
}
/* 
 * PRODUCT INFORMATION PAGE
 */
.product-info {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 3px #d3d3d3;
  box-shadow: 0 0 3px #d3d3d3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 25px;
  padding: 20px;
}
.product-info h1 {
  font-size: 22px;
}
.product-info .cart .minimum {
  padding-top: 5px;
  font-size: 13px;
  color: #999;
}
.product-info .cart .links {
  display: inline-block;
  vertical-align: middle;
}
.product-info .cart div > span {
  color: #999;
}
.product-info > .left {
  float: left;
  margin-right: 25px;
}
.product-info > .left .right {
  margin-left: 265px;
}
.product-info .image {
  position: relative;
  margin-bottom: 25px;
  text-align: center;
}
.product-info .product-label-special {
  background: #70b53f;
  font-size: 14px;
  height: 28px;
  top: 10px;
  right: 10px;
  display: block;
  position: absolute;
  text-transform: uppercase;
  line-height: 28px;
  padding: 0 15px;
  font-weight: normal;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.product-info .quantity-adder {
  margin-bottom: 20px;
  margin-right: 10px;
  font-size: 18px;
  position: relative;
  padding-right: 20px;
}
.product-info .quantity-adder input {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 2px;
  font-size: 18px;
  height: 30px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.product-info .quantity-adder span {
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  line-height: 1;
  width: 15px;
  height: 15px;
  background-color: #d0d0d0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-align: center;
  color: #fff;
  right: 0;
  top: 0;
}
.product-info .quantity-adder span.add-down {
  font-size: 20px;
  top: 16px;
  line-height: 14px;
}
.product-info .quantity-adder span:hover {
  background-color: #e76d66;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.product-info .product-action {
  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: 0;
}
.product-info .product-action input {
  text-transform: uppercase;
}
.product-info .product-action.product-block .wishlist-compare {
  display: inline-block;
}
.product-info .price {
  margin-bottom: 20px;
  font-size: 22px;
  color: #e76d66;
}
.product-info .price .price-old {
  text-decoration: line-through;
  font-size: 16px;
  color: #505050;
}
.product-info .price .reward {
  font-size: 14px;
}
.product-info .price .discount {
  font-size: 14px;
}
.product-info .price .price-tax {
  font-size: 14px;
  color: #6e6e6e;
}
.product-info .description {
  margin-bottom: 20px;
  line-height: 23px;
}
.product-info .description a {
  text-decoration: none;
}
.product-info .description span {
  font-weight: bold;
  padding-right: 20px;
}
.product-info .image-additional {
  text-align: center;
  clear: both;
  overflow: hidden;
  padding: 0 33px;
}
.product-info .image-additional a {
  display: inline-block;
  margin: 0 3px ;
}
.product-info .option-image {
  margin-top: 3px;
  margin-bottom: 20px;
}
.product-info .option-image label {
  display: block;
  width: 100%;
  height: 100%;
}
.product-info .option-image img {
  margin-right: 20px;
  border: 1px solid #808080;
  cursor: pointer;
}
.product-info .option {
  margin-bottom: 20px;
}
.product-info .review {
  margin-bottom: 20px;
}
.product-info .review > div {
  line-height: 23px;
}
.product-info .share {
  margin-bottom: 20px;
  line-height: normal;
}
.product-info .share a {
  text-decoration: none;
}
.form-review .option {
  margin-bottom: 20px;
}
#product-related {
  -webkit-box-shadow: none;
  box-shadow: none;
}
#product-related .carousel-controls {
  top: -70px;
}
#product-related .carousel-control.left {
  left: -4px;
}

/* featured */
#product-featured {
  -webkit-box-shadow: none;
  box-shadow: none;
}
#product-featured .carousel-controls {
  top: -70px;
}
#product-featured .carousel-control.left {
  left: -4px;
}

/* special */
#product-special {
  -webkit-box-shadow: none;
  box-shadow: none;
}
#product-special .carousel-controls {
  top: -70px;
}
#product-special .carousel-control.left {
  left: -4px;
}

/* latest */
#product-latest {
  -webkit-box-shadow: none;
  box-shadow: none;
}
#product-latest .carousel-controls {
  top: -70px;
}
#product-latest .carousel-control.left {
  left: -4px;
}

/* bestseller */
#product-bestseller {
  -webkit-box-shadow: none;
  box-shadow: none;
}
#product-bestseller .carousel-controls {
  top: -70px;
}
#product-bestseller .carousel-control.left {
  left: -4px;
}


/**
 *
 */
.review-list {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #eaeaea;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.review-list .rating {
  float: right;
  margin-bottom: 30px;
}
.review-list .author {
  float: left;
  margin-bottom: 30px;
}
.review-list .text {
  clear: both;
}
/* attribute */
.attribute thead td,
.attribute thead tr td:first-child {
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  background: #F7F7F7;
  text-align: left;
}
.attribute {
  border-collapse: collapse;
  width: 100%;
  border-top: 1px solid #d5d5d5;
  border-left: 1px solid #d5d5d5;
  margin-bottom: 20px;
}
.attribute td {
  padding: 7px;
  color: #4D4D4D;
  text-align: center;
  vertical-align: top;
  border-right: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
}
.attribute tr td:first-child {
  color: #000000;
  font-weight: bold;
  text-align: right;
  width: 20%;
}
.compare-info {
  border-collapse: collapse;
  width: 100%;
  border-top: 1px solid #d5d5d5;
  border-left: 1px solid #d5d5d5;
  margin-bottom: 20px;
}
.compare-info .price-old {
  font-weight: bold;
  color: #F00;
  text-decoration: line-through;
}
.compare-info .price-new {
  font-weight: bold;
}
.compare-info .name a {
  font-weight: bold;
}
.compare-info td {
  padding: 7px;
  width: 20%;
  color: #4D4D4D;
  text-align: center;
  vertical-align: top;
  border-right: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
}
.compare-info tr td:first-child {
  color: #000000;
  font-weight: bold;
  text-align: right;
}
.compare-info thead td,
.compare-info thead tr td:first-child {
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  background: #F7F7F7;
  text-align: left;
}
/* 
 * WISHTLIST PAGE 
 */
.table td .btn {
  margin-bottom: 2px;
}
.wishlist-info tbody .quantity,
.wishlist-info tbody .price,
.wishlist-info tbody .total,
.wishlist-info tbody .action {
  text-align: right;
}
.wishlist-info thead .name,
.wishlist-info thead .model,
.wishlist-info thead .stock {
  text-align: left;
}
.wishlist-info thead .quantity,
.wishlist-info thead .price,
.wishlist-info thead .total,
.wishlist-info thead .action {
  text-align: right;
}
.wishlist-info tbody .name,
.wishlist-info tbody .model,
.wishlist-info tbody .stock {
  text-align: left;
}
.wishlist-info thead td {
  color: #4D4D4D;
  font-weight: bold;
  background-color: #F7F7F7;
  border-bottom: 1px solid #d5d5d5;
}
.wishlist-info thead .image {
  text-align: center;
}
.wishlist-info tbody td {
  vertical-align: top;
  border-bottom: 1px solid #d5d5d5;
}
.wishlist-info tbody .action img {
  cursor: pointer;
}
.wishlist-info tbody .image {
  text-align: center;
}
.wishlist-info tbody .image img {
  border: 1px solid #d5d5d5;
}
.wishlist-info tbody .price s {
  color: #e76d66;
}
.wishlist-info td {
  padding: 7px;
}
.wishlist-info table {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #d5d5d5;
  border-left: 1px solid #d5d5d5;
  border-right: 1px solid #d5d5d5;
  margin-bottom: 20px;
}
/**
 * LOGIN PAGE
 */
/* 
 * ORDERS PAGE 
 */
.order-list {
  margin-bottom: 10px;
}
.order-list .order-status {
  width: 49%;
  float: right;
  text-align: right;
  margin-bottom: 2px;
}
.order-list .order-content {
  padding: 10px 0px;
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}
.order-list .order-content div {
  float: left;
  width: 33.3%;
}
.order-list .order-info {
  text-align: right;
}
.order-list .order-id {
  width: 49%;
  float: left;
  margin-bottom: 2px;
}
.order-detail {
  background: #EFEFEF;
  font-weight: bold;
}
/* RETURN PAGE
 *
 */
.return-list {
  margin-bottom: 10px;
}
.return-list .return-content {
  padding: 10px 0px;
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}
.return-list .return-content div {
  float: left;
  width: 33.3%;
}
.return-list .return-id {
  width: 49%;
  float: left;
  margin-bottom: 2px;
}
.return-list .return-status {
  width: 49%;
  float: right;
  text-align: right;
  margin-bottom: 2px;
}
.return-list .return-info {
  text-align: right;
}
.return-product {
  margin-bottom: 20px;
  clear: both;
  overflow: auto;
}
.return-name {
  float: left;
  width: 31%;
  margin-right: 15px;
}
.return-model {
  float: left;
  width: 31%;
  margin-right: 15px;
}
.return-quantity {
  float: left;
  width: 31%;
}
.return-detail {
  overflow: auto;
  margin-bottom: 20px;
}
.return-reason {
  float: left;
  width: 31%;
  margin-right: 15px;
}
.return-opened {
  float: left;
  width: 31%;
  margin-right: 15px;
}
.return-opened textarea {
  width: 98%;
  vertical-align: top;
}
.return-captcha {
  float: left;
}
.download-list {
  margin-bottom: 10px;
}
.download-list .download-status {
  width: 49%;
  float: right;
  text-align: right;
  margin-bottom: 2px;
}
.download-list .download-id {
  width: 49%;
  float: left;
  margin-bottom: 2px;
}
.download-list .download-content {
  padding: 10px 0px;
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}
.download-list .download-content div {
  float: left;
  width: 33.3%;
}
.download-list .download-info {
  text-align: right;
}
/* 
 * CART PAGE
 */
.cart-module > div {
  display: none;
}
.cart-info tbody .name,
.cart-info tbody .model,
.cart-info tbody .quantity {
  text-align: left;
}
.cart-info thead .name,
.cart-info thead .model,
.cart-info thead .quantity {
  text-align: left;
}
.cart-info tbody .quantity input[type='image'],
.cart-info tbody {
  position: relative;
  top: 4px;
  cursor: pointer;
  border: none;
}
.cart-info tbody .price,
.cart-info tbody .total {
  text-align: right;
}
.cart-info thead td {
  color: #4D4D4D;
  font-weight: bold;
  background-color: #F7F7F7;
  border-bottom: 1px solid #d5d5d5;
}
.cart-info thead .image {
  text-align: center;
}
.cart-info tbody td {
  vertical-align: middle;
  border-bottom: 1px solid #d5d5d5;
}
.cart-info tbody .image {
  text-align: center;
}
.cart-info tbody .image img {
  border: 1px solid #d5d5d5;
}
.cart-info tbody span.stock {
  color: #F00;
  font-weight: bold;
}
.cart-info td {
  padding: 7px;
}
.cart-info table {
  width: 100%;
  margin-bottom: 15px;
  border-collapse: collapse;
  border-top: 1px solid #d5d5d5;
  border-left: 1px solid #d5d5d5;
  border-right: 1px solid #d5d5d5;
}
.cart-total {
  border-top: 1px solid #d5d5d5;
  overflow: auto;
  padding-top: 8px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.cart-total td {
  padding: 3px;
  text-align: right;
}
.cart-total table {
  float: right;
}
.cart-info thead .price,
.cart-info thead .total {
  text-align: right;
}
/* 
 * CHECKOUT PAGE
 */
.checkout-heading {
  background: #efefef;
  border: 1px solid #e0e0e0;
  padding: 8px;
  font-weight: bold;
  font-size: 15px;
  color: #555555;
  margin-bottom: 15px;
}
.checkout-heading a {
  float: right;
  margin-top: 1px;
  font-weight: normal;
  text-decoration: none;
}
.checkout-content {
  padding: 0px 0px 15px 0px;
  display: none;
}
.checkout-content .buttons {
  clear: both;
}
.checkout-product tbody .name,
.checkout-product tbody .model {
  text-align: left;
}
.checkout-product thead .name,
.checkout-product thead .model {
  text-align: left;
}
.checkout-product thead td {
  color: #4D4D4D;
  font-weight: bold;
  background-color: #F7F7F7;
  border-bottom: 1px solid #d5d5d5;
}
.checkout-product tfoot td {
  text-align: right;
  border-bottom: 1px solid #d5d5d5;
}
.checkout-product tbody td {
  vertical-align: top;
  border-bottom: 1px solid #d5d5d5;
}
.checkout-product td {
  padding: 7px;
}
.checkout-product table {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #d5d5d5;
  border-left: 1px solid #d5d5d5;
  border-right: 1px solid #d5d5d5;
  margin-bottom: 20px;
}
.checkout-product tbody .quantity,
.checkout-product tbody .price,
.checkout-product tbody .total {
  text-align: right;
}
.checkout-product thead .quantity,
.checkout-product thead .price,
.checkout-product thead .total {
  text-align: right;
}
/*
 * CONTENT INFOMATION
 */
#contact-map {
  margin-bottom: 25px;
}
.contact-customhtml {
  background: none repeat scroll 0 0 #F0F0F0;
  padding: 20px;
}
.contact-address {
  margin-bottom: 25px;
}
.contact-address ul li {
  padding: 10px 0;
  border-bottom: 1px dashed #ccc;
}
.contact-address ul li i {
  color: #888;
  float: left;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
}
.contact-address ul li span {
  display: inline-block;
  padding-left: 15px;
}
.contact-customhtml ul li {
  padding: 7px 0;
}
.contact-customhtml ul li i {
  float: left;
  font-size: 20px;
  padding: 8px 5px 6px 10px;
}
.contact-customhtml ul li span {
  display: inline-block;
  padding-left: 5px;
}
#content .content {
  margin: 10px 0;
}
/*Quickview*/
/******************************************************
 * @package Pav Opencart Theme Framework for Opencart 1.5.x
 * @version 1.1
 * @author http://www.pavothemes.com
 * @copyright	Copyright (C) Augus 2013 PavoThemes.com <@emai:pavothemes@gmail.com>.All rights reserved.
 * @license		GNU General Public License version 2
*******************************************************/
#pav-mainnav {
  position: relative;
}
#pav-mainnav .dropdown:hover > .dropdown-menu {
  display: block;
}
#pav-mainnav .navbar {
  border: none;
}
#pav-mainnav .navbar .navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
#pav-mainnav .navbar ul.nav > li > a:before {
  width: 0%;
  height: 5px;
  background-color: #e76d66;
  left: 0;
  bottom: 0;
  content: "";
  position: absolute;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
#pav-mainnav .navbar ul.nav > li:hover > a {
  background: none;
  color: #e76d66;
}
#pav-mainnav .navbar ul.nav > li:hover > a:before {
  width: 100%;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
#pav-mainnav .navbar ul.nav > li:hover > a .caret {
  border-bottom-color: #e76d66;
  border-top-color: #e76d66;
}
#pav-mainnav .navbar ul.nav > li > a {
  text-transform: uppercase;
  font-size: 14px;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 30px;
}
#pav-mainnav .dropdown-menu {
  -webkit-box-shadow: 0 1px 3px #d3d3d3;
  box-shadow: 0 1px 3px #d3d3d3;
  border: none;
}
#pav-mainnav .dropdown-menu li {
  border-bottom: 1px solid #f3f3f3;
}
#pav-mainnav .dropdown-menu li:last-child {
  border-bottom: none;
}
#pav-mainnav .dropdown-menu li a {
  padding: 3px 0 3px 0;
  line-height: 30px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: url('../image/default/circle-li.png') no-repeat -10px 12px;
  display: block;
}
#pav-mainnav .dropdown-menu li a:hover {
  background-position: 5px 12px;
  padding-left: 20px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #e76d66;
}
.pav-megamenu .dropdown-menu > .dropdown-menu-inner {
  padding: 10px;
}
.pav-megamenu .mega-group .caret {
  display: none;
}
.pav-megamenu .mega-group > .dropdown-toggle {
  display: block;
  font-weight: bold;
  padding: 6px 5px;
  text-transform: uppercase;
  border-bottom: solid 1px #e5e5e5;
}
.pav-megamenu .mega-group .dropdown-mega .mega-col-inner > ul > li a {
  margin-left: 6px;
}
.pav-megamenu .mega-col .mega-col-inner > ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
.pav-megamenu .mega-col .mega-col-inner > ul > li {
  list-style: none;
  margin-left: 0;
}
.pav-megamenu .mega-col .mega-col-inner > ul > li > a {
  clear: both;
  color: #555555;
  display: block;
  line-height: 20px;
}
.pav-megamenu .dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.pav-megamenu .dropdown-submenu > .dropdown-menu {
  margin-left: -10px;
  margin-top: -10px;
}
.pav-megamenu .cols2 {
  width: 420px;
}
.pav-megamenu .cols3 {
  width: 620px;
}
.pav-megamenu .cols4 {
  width: 820px;
}
/* widget */
.widget-heading {
  font-family: proximanovalight;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
}
.widget-product-list .product-block {
  padding: 0;
  margin-bottom: 15px;
}
.widget-product-list .product-block .image {
  border: 1px solid #e7e7e7;
  margin: 0 5px 5px 0;
}
.widget-product-list .product-block .name {
  margin-bottom: 5px;
  line-height: 1.428571429;
  font-size: 13px;
}
.widget-product-list .product-block .price {
  margin-bottom: 5px;
}
.widget-product .product-block .pav-colorbox,
.widget-product .product-block .wishlist-compare {
  display: none !important;
}
.widget-product .product-block .image .img:after {
  background: transparent;
}
@font-face {
  font-family: 'proximanova-regular';
  src: url('../fonts/proximanova-regular.eot');
  src: url('../fonts/proximanova-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-regular.woff') format('woff'), url('../fonts/proximanova-regular.ttf') format('truetype'), url('../fonts/proximanova-regular.svg#brandon') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proximanovalight';
  src: url('../fonts/proximanova-light.eot');
  src: url('../fonts/proximanova-light.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-light.woff') format('woff'), url('../fonts/proximanova-light.ttf') format('truetype'), url('../fonts/proximanova-light.svg#brandon') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proximanovasemibold';
  src: url('../fonts/proximanova-semibold.eot');
  src: url('../fonts/proximanova-semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-semibold.woff') format('woff'), url('../fonts/proximanova-semibold.ttf') format('truetype'), url('../fonts/proximanova-semibold.svg#brandon') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proximanovaextrabold';
  src: url('../fonts/proximanova-extrabold.eot');
  src: url('../fonts/proximanova-extrabold.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-extrabold.woff') format('woff'), url('../fonts/proximanova-extrabold.ttf') format('truetype'), url('../fonts/proximanova-extrabold.svg#brandon') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'brandon_light';
  src: url('../fonts/brandon_light-webfont.eot');
  src: url('../fonts/brandon_light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/brandon_light-webfont.woff') format('woff'), url('../fonts/brandon_light-webfont.ttf') format('truetype'), url('../fonts/brandon_light-webfont.svg#brandon_grotesquelight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'brandon_bold';
  src: url('../fonts/brandon_bld-webfont.eot');
  src: url('../fonts/brandon_bld-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/brandon_bld-webfont.woff') format('woff'), url('../fonts/brandon_bld-webfont.ttf') format('truetype'), url('../fonts/brandon_bld-webfont.svg#brandon_grotesquebold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Noticia Text';
  font-style: normal;
  font-weight: 400;
  src: local('Noticia Text'), local('NoticiaText-Regular'), url(http://fonts.gstatic.com/s/noticiatext/v6/wdyV6x3eKpdeUPQ7BJ5uUHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Noticia Text';
  font-style: normal;
  font-weight: 700;
  src: local('Noticia Text Bold'), local('NoticiaText-Bold'), url(http://fonts.gstatic.com/s/noticiatext/v6/pEko-RqEtp45bE2P80AAKXl4twXkwp3_u9ZoePkT564.woff) format('woff');
}
@font-face {
  font-family: 'Noticia Text';
  font-style: italic;
  font-weight: 400;
  src: local('Noticia Text Italic'), local('NoticiaText-Italic'), url(http://fonts.gstatic.com/s/noticiatext/v6/dAuxVpkYE_Q_IwIm6elsKHpumDtkw9GHrrDfd7ZnWpU.woff) format('woff');
}
@font-face {
  font-family: 'Noticia Text';
  font-style: italic;
  font-weight: 700;
  src: local('Noticia Text Bold Italic'), local('NoticiaText-BoldItalic'), url(http://fonts.gstatic.com/s/noticiatext/v6/-rQ7V8ARjf28_b7kRa0Jur0qgHI2SEqiJszC-CVc3gY.woff) format('woff');
}
/******************************************************
 * @package Pav Opencart Theme Framework for Opencart 1.5.x
 * @version 1.1
 * @author http://www.pavothemes.com
 * @copyright	Copyright (C) Augus 2013 PavoThemes.com <@emai:pavothemes@gmail.com>.All rights reserved.
 * @license		GNU General Public License version 2
*******************************************************/
.btn-theme-primary {
  background-color: #e76d66;
  border: none;
  color: #fff;
}
.btn-theme-primary:hover {
  color: #fff;
}
/* 
 *
 */
.social {
  text-align: center;
  padding: 0 120px;
}
.social a {
  color: #808080;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  padding: 0 4% ;
  display: inline-block;
}
.social a i {
  font-size: 21px;
  padding-right: 5px;
}
.social a:hover {
  color: #e76d66;
}
.social p {
  margin-bottom: 0;
}
/*contact-us*/
.contact-us ul li {
  padding: 7px 0!important;
}
.contact-us ul li span {
  position: relative;
  height: 30px;
  width: 30px;
  margin-right: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  line-height: 26px;
  -webkit-transform: translateZ(0);
  display: inline-block;
  font-size: 16px!important;
  padding-left: 4px;
  border: solid 2px #808080;
}
.contact-us ul li:hover span {
  border: solid 2px #e76d66;
}
/*categoryproducts*/
.pav-categoryproducts .tab-nav ul li.active {
  background: #57a6b9;
}
.pav-categoryproducts .tab-nav ul li.active:before {
  border-top: 10px solid #57a6b9;
}
.banner {
  text-align: center;
}
/*media*/
h4.media-heading {
  text-transform: uppercase;
  font-size: 21px;
  font-family: proximanovalight;
}
h3.media-heading {
  text-transform: none;
  font-size: 23px;
  font-family: proximanovasemibold;
}
.media .readmore a {
  color: #e76d66;
  background: url('../image/default/circle-li.png') no-repeat right center;
  padding-right: 13px;
}
.media .readmore a:hover {
  text-decoration: underline;
}
.pattern1 {
  background-image: url('../image/pattern/pattern1.png');
}
.pattern2 {
  background-image: url('../image/pattern/pattern2.png');
}
.pattern3 {
  background-image: url('../image/pattern/pattern3.png');
}
.pattern4 {
  background-image: url('../image/pattern/pattern4.png');
}
.pattern5 {
  background-image: url('../image/pattern/pattern5.png');
}
.pattern6 {
  background-image: url('../image/pattern/pattern6.png');
}
.pattern7 {
  background-image: url('../image/pattern/pattern7.png');
}
.pattern8 {
  background-image: url('../image/pattern/pattern8.png');
}
.pattern9 {
  background-image: url('../image/pattern/pattern9.png');
}
.pattern10 {
  background-image: url('../image/pattern/pattern10.png');
}
.pattern11 {
  background-image: url('../image/pattern/pattern11.png');
}
.pattern12 {
  background-image: url('../image/pattern/pattern12.png');
}
.pattern13 {
  background-image: url('../image/pattern/pattern13.png');
}
.pattern14 {
  background-image: url('../image/pattern/pattern14.png');
}
.pattern15 {
  background-image: url('../image/pattern/pattern15.png');
}
.pattern16 {
  background-image: url('../image/pattern/pattern16.png');
}
/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 992px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right {
    right: 0;
  }
  .row-offcanvas-left {
    left: 0;
  }
  .row-offcanvas-right .sidebar-offcanvas {
    right: -50%;
  }
  .row-offcanvas-left .sidebar-offcanvas {
    left: -50%;
  }
  .row-offcanvas-right.active {
    right: 50%;
  }
  .row-offcanvas-left.active {
    left: 50%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%;
  }
}
/******************************************************
 * @package Pav Opencart Theme Framework for Opencart 1.5.x
 * @version 1.1
 * @author http://www.pavothemes.com
 * @copyright	Copyright (C) Augus 2013 PavoThemes.com <@emai:pavothemes@gmail.com>.All rights reserved.
 * @license		GNU General Public License version 2
*******************************************************/
@media only screen and (min-width: 990px) and (max-width: 1200px) {
  #search {
    width: 175px;
  }
  #search input {
    width: 175px;
  }
  .product-info .image-additional {
    padding: 0;
  }
  .product-info .image-additional a {
    margin-left: 7px;
  }
  .social {
    padding: 0 100px;
  }
}
@media only screen and (min-width: 990px) {
  .pavcol-sm-5 {
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    width: 20%;
  }
}
@media only screen and (max-width: 990px) {
  #topbar {
    padding: 10px;
  }
  .header-wrap .inner {
    float: none;
    text-align: center;
    width: 100%;
  }
  #pav-mainnav {
    position: absolute!important;
    content: "";
    top: -3px;
    width: 60px;
    height: 60px!important;
  }
  .navbar-inverse .navbar-toggle {
    display: block;
    float: none;
    width: 44px;
    height: 35px;
    background-color: #ffffff;
    border-color: #ffffff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-inverse .navbar-toggle:hover,
  .navbar-inverse .navbar-toggle:focus {
    background-color: #e76d66;
    border: 1px solid #e76d66;
  }
  .product-info .image-additional {
    padding: 0;
  }
  .product-info .image-additional a {
    margin-left: 5px;
  }
  .zoomContainer {
    display: none !important;
  }
  .social {
    padding: 0;
  }
  .social a {
    margin: 10px 0;
  }
}
@media only screen and (max-width: 991px) {
  .reassurances-center {
    margin-bottom: 10px;
  }
  .button.canvas-menu {
    margin-top: 70px;
  }
}
@media only screen and (max-width: 768px) {
  .product-block .wishlist-compare {
    display: block;
  }
}
@media only screen and (max-width: 749px) {
  #header #cart,
  .box-services {
    display: block !important;
    margin-bottom: 20px;
    width: 190px;
  }
  .wishlist-info td,
  .wishlist-info th,
  table.history-list td,
  table.history-list th,
  table.order-info td,
  table.order-info th,
  table.compare-info td,
  table.compare-info th,
  table.pav-checkout-product td,
  table.pav-checkout-product th,
  table.pav-shop-cart td,
  table.pav-shop-cart th {
    border-right: 0 none;
    display: block !important;
    float: none !important;
    text-align: left !important;
    width: auto !important;
  }
  .wishlist-info tr td:before,
  table.history-list tr td:before,
  table.order-info tr td:before,
  table.pav-shop-cart tr td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-align: left;
    white-space: nowrap;
    width: 50%;
  }
  .wishlist-info tr td,
  table.order-info tr td,
  table.history-list tr td,
  table.pav-shop-cart tr td {
    text-align: right;
    display: block;
    min-height: 20px;
    border-left: none;
    background: none;
  }
  table.history-list thead,
  table.order-info thead,
  .wishlist-info thead,
  table.pav-shop-cart thead {
    display: none;
  }
  #header #cart,
  .box-services {
    margin-left: 35%;
  }
  .product-info .image-additional a {
    display: inline-block;
    float: inherit;
  }
  .product-info .image-additional .carousel-inner {
    display: inline-block;
    text-align: center;
  }
}
@media only screen and (max-width: 480px) {
  .show-mobile .quick-user .inner-toggle {
    right: -130px !important;
  }
  .show-mobile .quick-access .inner-toggle {
    right: -100px !important;
  }
  #cart .btn {
    margin-top: 10px;
  }
  .button.canvas-menu {
    margin-top: 100px;
    font-size: 10px;
  }
}
@media only screen and (max-width: 320px) {
  .product-info .image-additional {
    margin: 0 -3px !important;
  }
  .product-info .image-additional a {
    margin-left: 0 !important;
  }
}
