.navigation-main
{
background-color:#072847;
}
 .navigation-main h1
{
color: #FFFFFF;
padding: 6px;
font-size: 25px;
background: #1ebfaf;
border-radius: 2px;
text-align: center;
} 
/* .hair span
{
display:block;
text-align:center
}
.hair-leader{font-size:16px; color:#65ffff}
.transplant{font-size:24px; color:#FFFFFF} */
.hair-back {
font-size: 21px;
text-align: center;
padding-top: 10px;
color: #072847;
font-weight: bold;
padding-bottom: 10px;
}
.before-after span{font-size:23px; display:block}
.before-after h3
{
font-size: 22px;
margin-top: 0px;
color: #1ebfaf;
text-align: center;
line-height: 30px;
/* font-weight: bold; */
}
.navigation
{
padding: 10px 0px 10px 0px;
}
.clr{height:20px; background:#E6FAF8;}
.banner-color{ background:#E6FAF8;}
.banner
{
margin-top:20px;
}
.form-heading
{
background-color:#1ebfaf;
color:#FFFFFF;
text-align:center;
font-size:15px;
padding-top: 10px;
padding-bottom: 10px;
}
.form-field
{
background-color:#072847;
}
.form-top
{
padding-top: 15px;
}
.button
{
width: 100%;
font-weight:700;
text-shadow:none;
background: #111111;
color: #FFFFFF;
padding: 12px 12px;
font-size: 22px;
}
.brochure
{
padding-bottom:20px;
padding-top:10px;
text-align:center;
font-size:20px;
}

.brochure a
{
text-align:center;
color:#FFFFFF !important;
background:#964700;
padding:10px;
border-radius:15px;
text-decoration:none;
border: 2px solid #000;
}

.brochure img
{
border-radius:5px;
}

.off
{
font-size:46px;
color:#FFFFFF;
font-weight:700;
line-height:48px;
}
.form-group input
{
border: 1px solid #000;
}
.arrow
{
padding-top: 145px;
}
.before-after
{
padding-left:0px;
padding-right:0px;
}
.global-existance
{
width: 100%;
float: left;
background: #4d5557;
border-radius: 4px;
margin-top: 10px;
}
.global-existance h2
{
font: normal 18px 'ralewaysemibold';
color: #fff;
text-transform: uppercase;
border-bottom: 1px dashed #a6aaab;
background: #2d3739;
padding: 10px 20px;
border-radius: 4px 4px 0 0;
}
.global-existance ul
{
padding: 15px 10px;
float: left;
}
.global-existance li
{
font: normal 15px/15px Arial, Helvetica, sans-serif;
color: #d4d6d6;
list-style: none;
padding: 0 10px;
border-right: 1px solid #d4d6d6;
float: left;
margin-bottom: 10px;
}
.result
{
color: #072847;
font-size:24px;
padding-left:0px;
}
.result h2
{
text-align:left;
font-size:20px;
padding-left:20px;
}
.result h3{padding-left:20px;}
.banner ul
{
font-size: 16px;
line-height: 26px;
list-style-image:url(img/bullet.jpg);
}
.national
{
background-color:#2d3739;
color:#FFFFFF;
font-size:18px;
padding-top:5px;
padding-bottom:5px;
padding-left:40px;
}
.national-city
{
background-color:#4d5557;
font-size:18px;
color:#FFFFFF;
padding-top:5px;
padding-bottom:5px;
padding-left:40px;
}
.global
{
background-color:#2d3739;
color:#FFFFFF;
font-size:18px;
padding-top:5px;
padding-bottom:5px;
padding-left:40px;
}
.global-country
{
background-color:#4d5557;
color:#FFFFFF;
font-size:18px;
padding-top:7px;
padding-bottom:7px;
padding-left:40px;
line-height: 30px;
}
.footer
{
font-size:12px;
margin-top:10px;
margin-bottom:10px;
}
.video{padding-top: 15px;}


/*  Media CSS */
@media screen and (max-width:1200px) {
.before-after h3{font-size: 18px; line-height:26px;}
.before-after span {font-size:19px}
.col-xs-12.col-sm-6.col-md-3.col-lg-3.testimonials > img {
    width: 100%;
}
.col-sm-12.col-md-3.before-after.text-center > img {
    width: 100%;
}
.off {font-size:35px;}
.form-heading {font-size:12px}
.button{font-size:17px;}
.brochure{font-size:16px}
}

@media screen and (max-width:1024px) {
.navigation-main h1 {font-size:17px}
.arrow{display:none}
.result h2 {font-size:15px}
.banner ul{font-size:15px}
.testimonials{padding-top:10px; padding-bottom:10px}
.col-xs-12.col-sm-6.col-md-3.col-lg-3.testimonials > img {
    width: auto;
}
.col-sm-12.col-md-3.before-after.text-center > img {
    width: auto;
}
}

@media screen and (max-width:1024px) {
.col-xs-12{text-align:center}
.testimonials{padding-top:10px; padding-bottom:10px}
.result{text-align:center !important}
}

@media screen and (max-width:640px) {
.brochure a{font-size:12px !important;}
.button{font-size:17px;}
.result{text-align:center !important}
}

@media screen and (max-width:640px) {
.form-heading {
    font-size: 13px;
}
.off {
    font-size: 28px;
}
.brochure a{font-size:11px !important;}
}
