ul.links li > a span {
  font-size: 12px;
  margin-left: 10px;
  margin-right: 0;
}
#search {
  padding: 25px 25px 25px 0;
}
#search input {
  padding: 5px 10px 5px 30px;
}
.navbar-header {
  float: right;
}
.navbar-nav > li {
  float: right;
}
.dropdown-menu {
  left: inherit;
  right: 0;
  float: right;
}
#pav-mainnav .megamenu .menu-icon {
  background-position: right center !important;
  padding-right: 30px;
  padding-left: 0;
}
.pav-megamenu .dropdown-submenu > .dropdown-menu {
  left: inherit;
  right: 92%;
}
.carousel-controls {
  left: 0;
  right: inherit;
}
.box .box-heading span:before {
  left: inherit;
  right: 0;
}
.box .box-heading {
  background-position: 100% center;
}
.sidebar .box.dark .box-heading:before {
  left: inherit;
}
.sidebar .box .box-heading span:before {
  border-left: 24px solid transparent;
  border-right: 0;
}
#content h1:after {
  left: inherit;
  right: 0;
}
.htabs a {
  float: right;
}
/*Search*/
#search .button-search {
  right: inherit;
  left: 0;
}
#search input {
  padding: 5px 10px 5px 30px;
}
.blog-meta ul {
  text-align: left;
}
#header #cart .content {
  right: inherit;
  left: 0;
}
.products-block .products-row > div:before {
  right: inherit;
  left: 0;
}
.pavblock .image {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}
.product-block .cart {
  margin-left: 10px;
  margin-right: 0;
}
.product-block .product-zoom {
  left: inherit;
  right: 0;
}
.product-block .pav-colorbox span {
  padding-left: 3px;
  padding-right: 0;
}
.product-block .product-label-special {
  right: inherit;
  left: 0;
}
.pagination .links {
  float: right;
}
.pagination .results {
  float: left;
}
.media > .pull-left {
  margin-right: 0;
  margin-left: 10px;
}
.media > .pull-right {
  margin-right: 10px;
  margin-left: 0;
}
#pav-mainnav .dropdown-menu li a {
  background-position: 110% 12px;
}
#pav-mainnav .dropdown-menu li a:hover {
  background-position: 100% 12px;
  padding: 3px 10px 3px 0;
}
ul.links li {
  margin-left: 4px;
  margin-right: 0;
}
ul.list li .head a {
  float: left !important;
}
ul.list > li ul > li {
  padding: 10px 25px 0 0;
}
ul.list > li > a {
  background-position: right 5px;
  padding-right: 15px;
  padding-left: 0;
}
ul.list > li > a:hover,
ul.list > li > a.active {
  background-position: right -45px;
}
.sidebar .product-block {
  text-align: right;
}
.sidebar .product-block .image {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}
.product-filter .display {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}
.product-filter .display span {
  float: right!important;
}
#topbar #cart .heading a span {
  background-position: 0 50% ;
  padding-right: 0;
  padding-left: 15px;
}
#topbar .btn-group {
  margin-right: 10px;
  margin-left: 0;
}
.pav-categoryproducts .tab-nav ul li a {
  padding: 15px 25px 15px 0!important;
}
.newsletter_block input.inputNew {
  border-radius: 0 7px 7px 0!important;
  float: right!important;
}
.newsletter_block input.button_mini {
  border-radius: 5px 0 0 5px!important;
}
#footer .column ul li a {
  background-position: 135% 12px;
}
#footer .column ul li a:hover {
  background-position: right 12px;
  padding-left: 0;
  padding-right: 20px;
}
.contact-us ul li span {
  margin-right: 0;
  margin-left: 10px;
  padding-left: 0;
  padding-right: 4px;
}
.product-info .quantity-adder {
  padding-left: 20px;
  padding-right: 0;
  margin-right: 0;
  margin-left: 10px;
}
.product-info .quantity-adder span {
  right: inherit;
  left: 2px;
}
.addthis_default_style .addthis_separator,
.addthis_default_style .at300b,
.addthis_default_style .at300bo,
.addthis_default_style .at300m,
.addthis_default_style .at300bs {
  float: right!important;
}
.contact-address ul li i {
  float: right;
}
.contact-address ul li span {
  padding-left: 0;
  padding-right: 15px;
}
.contact-customhtml ul li i {
  float: right;
  padding: 8px 10px 6px 5px;
}
.contact-customhtml ul li span {
  padding-left: 0;
  padding-right: 5px;
}
#topbar .show-mobile .inner-toggle {
  left: 0;
  right: inherit;
}
#topbar .show-mobile ul li,
#topbar .show-mobile .links li {
  text-align: right;
}
#menu-offcanvas .dropdown .dropdown-menu .dropdown-menu-inner ul li a {
  background-position: 110% 12px;
}
#menu-offcanvas .dropdown .dropdown-menu .dropdown-menu-inner ul li a:hover {
  background-position: 100% 12px;
  padding-right: 20px;
  padding-left: 0;
}
.product-list .image {
  float: right;
  margin-left: 15px;
  margin-right: 0;
}
.text-left {
  text-align: right;
}
.rtl .productdeals .deal_detail {
  text-align: right;
}
.rtl .productdeals .product-filter > div {
  float: right;
}
.rtl .productdeals .nav-tabs > li {
  float: right;
}
.rtl .productdeals .nav-tabs > li a {
  padding-right: 0;
  padding-left: 20px;
}
.pavo-widget .widget-product-list .image {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}
#cart .content {
  right: inherit;
  left: 0;
}
.zoomContainer .zoomWindow {
  border: 4px solid #7F7F7F !important;
  float: right !important;
  right: 329px !important;
}
.close {
  float: left;
}
.pull-right > .dropdown-menu {
  left: 0;
  right: auto;
}
.pavreassurances .icon-name {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}
.pavreassurances .reassurances-center .button {
  right: auto;
  left: 15px;
}
.pavblogs-comments-box img {
  float: right;
  padding-left: 12px;
  padding-right: 0;
}
