@charset "utf-8";
/* CSS Document */

body,h1,h2,h3,h4,p,ul,li,input,form,ol{padding:0; margin:0;}
body{font-family:Arial, Helvetica, sans-serif;}
section,header,nav,article,footer{display:block;}

img{border:none;}
:focus{outline:none;}

@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular.eot');
    src: url('../fonts/raleway-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-regular.woff') format('woff'),
         url('../fonts/raleway-regular.ttf') format('truetype'),
         url('../fonts/raleway-regular.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaysemibold';
    src: url('../fonts/raleway-semibold.eot');
    src: url('../fonts/raleway-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-semibold.woff') format('woff'),
         url('../fonts/raleway-semibold.ttf') format('truetype'),
         url('../fonts/raleway-semibold.svg#ralewaysemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway-bold.eot');
    src: url('../fonts/raleway-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-bold.woff') format('woff'),
         url('../fonts/raleway-bold.ttf') format('truetype'),
         url('../fonts/raleway-bold.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}

.body_container_main{width:100%; float:left;}
header{width:100%; float:left; background:#073e4a; border-bottom:2px solid #073e4a; padding:8px 0;}
.wrapper{width:1000px; margin:0 auto;}
.logo{float:left; font-size:0;}
.iso_certified{float:left; margin:10px 0 0 50px;}
.get_off{float:right; width:318px; text-align:center; font:normal 15px/20px 'ralewayregular'; font-size:13px\9; color:#65ffff; text-transform:uppercase; margin-top:18px;}
.get_off strong{font:normal 36px/34px 'ralewaybold'; color:#fff; display:block;}
.get_off strong .fifty{font-family:Arial; font-weight:bold;}
.get_off .consultation_fee{font-size:20px; line-height:18px;}

.banner{width:100%; height:425px; float:left; background:url(../images/banner.jpg) no-repeat center top; border-bottom:1px solid #000;}
.form_position{position:relative; width:100%; float:left;}
.form_sec{width:317px; height:425px; background:#3d8291; position:absolute; right:0;}
.thanks_sec{font:normal 15px/20px Arial, Helvetica, sans-serif; color:#fff; padding:10px 25px; text-align:center;}
.form_sec .heading_sec{background:#073e4a; font:normal 17px/25px 'ralewayregular'; color:#fff; text-align:center; text-transform:uppercase; padding:7px 10px;}


.form_sec ul{ list-style-type:none; text-align:center; margin-top:50px; margin-bottom:10px;}
.form_sec li{width:119px; height:93px;  margin:0 10px; display:inline-block;}
.form_sec li .visit_website{width:119px; height:93px;}
.form_sec li .visit_website a{background: url(../images/visit_website.jpg) no-repeat left top; width:119px; height:93px; float:left;}
.form_sec li .visit_website a:hover{background: url(../images/visit_website_h.jpg) no-repeat left top; width:119px; height:93px; float:left;}

.form_sec li .pay_now{width:119px; height:93px; float:left;}
.form_sec li .pay_now a{background: url(../images/pay_now.jpg) no-repeat left top; width:119px; height:93px; float:left;}
.form_sec li .pay_now a:hover{background: url(../images/pay_now_h.jpg) no-repeat left top; width:119px; height:93px; float:left;}



.form_sec h5{width:216px; height:39px; float:left; padding:0 0 0 13%; margin:2%; float:left; cursor:pointer;}
.form_sec .box_content{font:normal 16px 'ralewayregular'; text-align:center; float:left; padding-left:22%; color:#fff;}

/*ADV8 FORM CSS*/
.formMain{padding-top:20px;}
.block2,.block3,.block4,.block5,.block6,.block7,.block8{width:100%; float:left; margin-bottom:6px;}
.block6 input{background:url(../images/calc_icon.png) no-repeat right #efefef!important; cursor:pointer;}
#preferreddate{background: url("../images/calender.gif") no-repeat scroll right 6px #efefef;}
.labelclass{display:none;}
.textclass{width:100%; float:left; text-align:center;}
.textclass select{width:83%; height:33px; background:#efefef; font:normal 15px Arial, Helvetica, sans-serif; text-align:left; color:#484343; border:1px solid #245f6c!important; padding:5px 0;}
.textclass input{width:83%; height:33px; background:#efefef; font:normal 15px Arial, Helvetica, sans-serif; text-align:left; color:#484343; border:1px solid #245f6c; padding:0 2%;}
.submitclass{width:100%; float:left; text-align:center;}
.submitclass input{background:url(../images/submit.jpg) no-repeat center top; width:276px; height:37px; border:none; cursor:pointer; text-indent:-9999px;}

.dhi_offers{width:100%; float:left; background:#fff; padding:15px 0;}
.dhi_offers h2{border-bottom:1px solid #c5c5c5; padding:5px 0; margin-bottom:10px; font:normal 20px 'ralewaysemibold'; color:#073e4a; text-transform:uppercase;}
.dhi_offers li{font:normal 15px Arial, Helvetica, sans-serif; color:#4c4c4c; list-style:none; padding:10px 0 10px 20px; background:url(../images/arrow.gif) no-repeat left 16px;}

.before_after_gray{background:#e9e9e9; width:100%; float:left; padding:25px 0;}
.before_after_gray .testimonials{width:51%; float:left; background:url(../images/quotes_left.png) no-repeat left 40px;}
.before_after_gray .testimonials h2{font:normal 18px 'ralewaysemibold'; color:#2e7281; text-transform:uppercase; border-bottom:1px solid #c1c1c1; padding-bottom:5px; margin-bottom:10px;}
.before_after_gray .testimonials .testimonials_sub_sec{float:left; font:normal 15px/24px Arial, Helvetica, sans-serif; text-align:justify; color:#323232; background:url(../images/quotes_right.png) no-repeat right bottom; padding:0 40px;}
.before_after_gray .testimonials .testimonials_sub_sec marquee{height:155px;}
.before_after_gray .testimonials .testimonials_sub_sec strong{color:#136c7f; float:right;}

.before_after_right{width:38%; float:right; position:relative;}
.before_after_right h2{font:normal 18px 'ralewaysemibold'; color:#2e7281; text-transform:uppercase; border-bottom:1px solid #c1c1c1; padding-bottom:5px; margin-bottom:25px;}
.before_after_right h2 span{width:50%; text-align:center; display:inline-block;}
.before_after_right li{float:left; list-style:none; width:50%; text-align:center;}

.tnc_new{font-size:10px; font-family:Arial, Helvetica, sans-serif; padding-top:15px; position:absolute; right:0; bottom:-60px;}
.dis{font-size:10px; font-family:Arial, Helvetica, sans-serif; padding-top:15px; position:absolute; left:0; bottom:-60px;}

.presence_sec{width:100%; float:left; padding:20px 0;}
.national_presence_sec{width:100%; float:left; background:#4d5557; border-radius:4px;}
.national_presence_sec h2{font:normal 18px 'ralewaysemibold'; color:#fff; text-transform:uppercase; border-right:1px solid #fff; background:#2d3739; padding:10px 20px; float:left; border-radius:4px 0 0 4px;}
.national_presence_sec ul{padding:5px 0;}
.national_presence_sec li{font:normal 15px/15px Arial, Helvetica, sans-serif; color:#d4d6d6; list-style:none; padding:0 10px; border-right:1px solid #d4d6d6; float:left;}
.national_presence_sec li.last{border-right:none;}

.global_presence_sec{width:100%; float:left; background:#4d5557; border-radius:4px; margin-top:10px;}
.global_presence_sec h2{font:normal 18px 'ralewaysemibold'; color:#fff; text-transform:uppercase; border-bottom:1px dashed #a6aaab; background:#2d3739; padding:10px 20px; border-radius:4px 4px 0 0;}
.global_presence_sec ul{padding:15px 10px; float:left;}
.global_presence_sec li{font:normal 15px/15px Arial, Helvetica, sans-serif; color:#d4d6d6; list-style:none; padding:0 10px; border-right:1px solid #d4d6d6; float:left; margin-bottom:10px;}
.global_presence_sec li.last{border-right:none;}

.total_care_system{width:100%; float:left; margin-top:40px;}
.total_care_system img{width:100%; float:left;}

footer{width:100%; float:left; background:#3d8291; padding:15px 0; font:normal 12px Arial, Helvetica, sans-serif; color:#fff;}
.privacy{width:100%; float:left; text-align:center;}
.privacy ul{}
.privacy li{display:inline-block; margin:0 10px; font:normal 12px Arial, Helvetica, sans-serif; color:#fff;}
.privacy li a{color:#fff; text-decoration:none;}
.privacy li a:hover{color:#fff; text-decoration:underline;}



.disclaimer{width:100%; float:left; margin-top:15px;}
.copyright_sec{width:100%; float:left; margin-top:15px;}
.copyright_sec .copy_left_sec{float:left;}
.copyright_sec .design_by_right_sec{float:right;}
.copyright_sec .design_by_right_sec a{color:#fff; text-decoration:none;}
.copyright_sec .design_by_right_sec a:hover{text-decoration:underline;}
.form_sec .heading_sec1 {
    background: none repeat scroll 0 0 #073e4a;
    color: #fff;
    font: 16px/25px "ralewayregular";
    padding: 7px 10px;
    text-align: center;
    text-transform: uppercase;
}
.form_sec .heading_sec1 span
{
	 color: #65ffff;
    font: 20px arial;
	letter-spacing:-0.5px;
}
.form_sec .heading_sec {
    background: none repeat scroll 0 0 #073e4a;
    color: #fff;
    font: 13px/20px "ralewayregular";
	padding:0px 0px 10px;
}


.list{ width:100%; float:left; text-align:center; margin-bottom:20px; background:#52a0b1; padding:20px 0; }
.list li{ display:inline-block; text-align:center; font-size:17px; color:#fff; background:none; border-right:1px solid #fff; padding:0 20px;}
.list li:last-child{ border:0;}

.center{ text-align:center; width:100%; float:left; padding:10px 0; font-weight:normal; text-transform:uppercase;}
@media only screen and (min-width:641px){
.banner_mob,.get_off.mob_view,.copyright_sec.mob{display:none;}
}
.banner_mob,.get_off.mob_view,.copyright_sec.mob{display:none\9;}

@media screen and (max-width: 1000px) {
.wrapper{width:100%; margin:0 auto;}
.wrapper.wrp98{width:98%; margin:0 auto;}
.iso_certified{display:none;}
}

@media only screen and (min-width:641px) and (max-width:768px){
.banner{width:100%; height:auto; float:left; background:url(../images/banner.jpg) no-repeat -420px top;}
.form_sec{width:100%; position:static; height:auto; float:left; margin-top:425px;}
.formMain{padding:10px 0; float:left;}
.block2,.block3,.block4,.block5,.block6,.block7{width:47.8%; float:left; margin-bottom:5px; margin-left:2%;}
.textclass{text-align:left;}
.textclass input{width:90%;}
.textclass select{width:94.5%;}

.submitclass{text-align:left; width:47.8%; margin-left:2%;}
.submitclass input{width:228px; margin-right:23px;}
.dhi_offers h2{font-size:16px;}
.dhi_offers li{font-size:13px;}
.before_after_gray .testimonials h2{font-size:17px; text-align:center;}

.presence_sec{padding:10px 0;}
.national_presence_sec{border-radius:0;}
.national_presence_sec h2{font-size:15px; padding-left:10px; border-radius:0;}
.national_presence_sec li{font-size:13px;}

.global_presence_sec{border-radius:0; margin-top:2px;}
.global_presence_sec h2{font-size:15px; padding-left:10px; border-radius:0;}
.global_presence_sec ul{padding-left:0;}
.global_presence_sec li{font-size:13px;}
.total_care_system{margin-top:0;}

}

@media screen and (max-width:640px) {

.get_off.mob_view{width:100%; float:left; display:none; background:#4e8d9b; padding:10px 0; border-top:1px solid #fff; }
header{background:#073e4a; border-bottom:2px solid #073e4a; text-align:center;}
.logo{float:none; margin-top:10px;}
.banner{width:100%; height:auto; float:left; background:none; border-bottom:1px solid #fff;}
.banner img{width:100%; float:left;}
.form_sec{width:100%; position:static; height:auto; float:left; margin-top:1px;}
.form_sec .heading_sec{text-align:center;}
.formMain{padding:10px 0; float:left;}
.block2,.block3,.block4,.block5,.block6,.block7{width:100%; float:left; margin-bottom:5px;}
.textclass{text-align:center;}
.textclass input{width:88%; padding:0 1%;}
.textclass select{width:90.5%;}
.submitclass{text-align:center;}
.submitclass input{margin-right:0;}
.before_after_gray,.presence_sec,.get_off,.copyright_sec{display:none;}
.dhi_offers h2{font:normal 18px 'ralewaysemibold'; color:#073e4a; text-transform:uppercase; text-align:center;}

.copyright_sec.mob{font:normal 11px Arial, Helvetica, sans-serif; color:#000; margin:0; padding:10px 0; display:block;}
.copyright_sec.mob .design_by_right_sec a{color:#000; text-decoration:none;}
.privacy li{margin:0 5px;}
.disclaimer{text-align:center;}
}

@media screen and (max-width:320px) {
.logo img{width:90%;}
.textclass input{width:85%;}
.textclass select{width:87.5%;}	
.get_off.mob_view{font-size:13px;}
.copyright_sec.mob{font-size:9px;}

}