/*
 * Start Bootstrap - Landing Page (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

@font-face {
  font-family: 'AvenirNextLTPro-UltLtCn';
  src: url('../fonts/AvenirNextLTPro-UltLtCn.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNextLTPro-UltLtCn';
  src:  url('../fonts/AvenirNextLTPro-UltLtCn.otf')  format('opentype'),
		 url(data:application/x-font-woff;charset=utf-8;base64) format('woff'), url('../fonts/AvenirNextLTPro-UltLtCn.ttf')  format('truetype'), url('AvenirNextLTPro-UltLtCn.svg#AvenirNextLTPro-UltLtCn') format('svg');
  font-weight: normal;
  font-style: normal;
}

body,
html {
	width: 100%;
	height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 700;
}
nav.header-top{
	background-color:#d3d8db;
	padding: 15px;
}
nav.header-top img{
	width: 235px;
}
nav .contactnos{
	font-size: 35px;
	margin: 20px 0px;
	color: #1a181b;
}
nav .contactnos a{
	color: #1a181b;
}
nav .contactnos i{
	margin-right: 15px;
}
.banner{
	padding:0px 15px;
	position: relative;
	text-align: center;
}
.bannerbg{
	
}
.bannerbg img{
	width: 100%;
}
.contactform{
	position: absolute;
	bottom: 0px;
	right: 0px;
	background: rgba(149,208,206,0.8);
	padding: 15px;
	width: 450px;
	right: 45px;
	text-align: center;
}
.contactform .offer {
	position: absolute;
	width: 100px;
	right: -2px;
	top: -67px;
}
.contactform h1{
	font-size: 26px;
	text-align: center;
	border-bottom: dotted;
	display: inline-block;
	float: none;
}
.contactform form{
	padding:15px 20px 0px;
} 
.contactform .form-control {
	border: 0px;
	background: transparent;
	box-shadow: none;
	color: #fff;
	border-bottom: 1px solid #fff;
	border-radius: 0px;
	margin: 10px 0px;
	font-size: 20px;
	padding: 2px 12px;
}
.contactform .form-control::-webkit-input-placeholder { /* Chrome */
	color: #fff!important;
}
.contactform .form-control:-ms-input-placeholder { /* IE 10+ */
	color: #fff!important;
}
.contactform .form-control::-moz-placeholder { /* Firefox 19+ */
	color: #fff!important;
	opacity: 1;
}
.contactform .form-control:-moz-placeholder { /* Firefox 4 - 18 */
	color: #fff!important;
	opacity: 1;
}
.otpform input[type=number]::-webkit-inner-spin-button, 
.otpform input[type=number]::-webkit-outer-spin-button, .contactform input[type=number]::-webkit-inner-spin-button, 
.contactform input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;  
}
.otpform input[type=number],.contactform input[type=number] {-moz-appearance: textfield;}
.otpform option[value],.contactform option[value] {
    letter-spacing: 2px;
    background:rgba(149,208,206,0.8);
}
.otpform small.help-block {
	bottom: -15px;
	left: 5px;
}
.input-group{
	padding: 0px 15px!important;
	width: 100%;
}
.form_date .input-group-addon,.form_time .input-group-addon{
	background: transparent;
	border: 0px solid;
	padding: 0px;
	position: absolute;
	bottom: 0px;
	top: 16px;
	right: 28px;
}
.form-control-feedback {
	top: 10px;
	right: 20px;
	width: 20px;
	height: 27px;
}
.contactform .btn{
	width: 200px;
	margin:10px 0px 0px;
	font-size: 30px;
	background: #368491;
	border-radius: 0px;
}
.services{
	background: #d1d7d7;
	padding: 35px 15px;
}
.services h2{
	color:#535554;
	font-size:38px;
}
.services .usplist ul{
	font-size: 24px;
	margin: 0px;
	padding: 2px 25px;
	color: #000;
	font-weight: bold;
}
.services .locationmap img{
	width: 100%;
}
.services .servicelist li{
	list-style-type: none;
	width: 50%;
	float: left;
	font-size: 30px;
	margin:10px 0px;
	padding: 5px;
	font-family: 'AvenirNextLTPro-UltLtCn';
	color: #000;
	font-weight: bold;
}
.services .servicelist li img{
	width: 80px;
	margin-right: 15px;
}
.services .testimonial ul{
	padding: 0px;
}
.services .testimonial li{
	list-style-type: none;
	display:inline-block;
	vertical-align: middle;
}
.services .testimonial li img{
	width: 100%;
	background: #d1d7d7;
	border-radius: 50%;
}
.services .testimonial li:nth-child(1) {
	width: 19%;
	position: relative;
}
.services .testimonial li:nth-child(2) {
	background: #ced0cf;
	font-size: 21px;
	padding: 1% 7%;
	width: 80%;
	margin-left: -43px;
}
.services .testimonial blockquoute{
	font-size: 26px;
	font-weight: bold;
	color: #000;
	font-style: italic;
	font-family: AvenirNextLTPro-UltLtCn;
}
.services .testimonial blockquoute i{ 
	color: #368491;
	margin: 0px 11px;
	position: relative;
}
.services .testimonial .textright{
	text-align: right;
}
.services .testimonial p{
	font-size: 17px;
	line-height: 13px;
}
.owl-dot span{
	background: #fff!important;
	border:2px solid #8d8d8d;
	zoom:2;
}
.owl-dot.active span{
	background: #8d8d8d!important;
	border:2px solid #8d8d8d;
}
.owl-theme .owl-nav{
	display: none!important;
}
.testimonial {
	margin: 20px 0px;
}
.footer{
	background: #368491;
	padding: 15px;
	color: #fff;
}
.footer .citytype{
	font-size: 20px;
	width: 21%;
	font-weight: bold;
	text-align: right;
	padding-right: 15px;
}
.footer .citieslist p {
	display: inline-block;
	padding: 0px 7px;
	font-size: 16px;
	border-right: 1px solid;
	line-height: 24px;
}
.footer .citieslist{
	border-left: 1px solid;
	width: 77%;
}
.footer .citypresence{
	display: inline-block;
	vertical-align: middle;
	float: none;
	padding-left: 15px;
}
.footer .pdtb15{
	padding:15px 0px;
}
.footer .footerbottom{
	text-align: center;
}
.footer .footerbottom .copyright{
	display: inline-block;
	float: none;
	text-align: center;
	width: 33%;
}
small.help-block {
	text-align: left;
	position: absolute;
	bottom: -7px;
	left: 29px;
}
@media screen and (max-width: 1280px) {

}
@media screen and (max-width: 1200px) {
	.services h2{
		font-size: 30px;
	}
	.services .usplist ul {
		font-size: 20px;
	}
	.services .testimonial blockquoute {
		font-size: 19px;
	}
	.services .testimonial p {
		font-size: 13px;
	}
	.footer .citieslist p{
		font-size: 16px;
	}
	.footer .citytype {
		font-size: 18px;
	}
	.form-group{
		margin-bottom: 0px;
	}
	.contactform form {
		padding: 0px 20px;
	}
	.contactform {
		position: relative;
		display: inline-block;
		right: 0px;
	}
}
@media screen and (max-width: 990px) {
	.services h2 {
		font-size: 23px;
	}
	.services .usplist ul {
		font-size: 16px;
	}
}
@media screen and (max-width: 768px) {
	.header-top{
		text-align: center;
	}
	nav.header-top img {
		width: 170px;
	}
	nav .contactnos{
		float: none!important;
		font-size: 27px;
		margin: 5px 0px;
	}
	.services .servicelist li img {
		width: 45px;
	}
	.services .servicelist li {
		font-size: 23px;
	}
	.services .testimonial li:nth-child(1),.services .testimonial li:nth-child(2){
		width: 100%;
	}
	.services .testimonial li:nth-child(1){
		text-align: center;
	}
	.services .testimonial li:nth-child(2){
		margin:0px;
	}
	.services .testimonial li img {
		width: 100px;
		display: inline-block;
	}
	.services .servicelist li {
		width: 100%;
	}
	.footer .citypresence{
		width: 100%;
		text-align: left;
	}
	.footer .footerbottom .copyright {
		width: 100%;
		margin:5px 0px;
	}
	.contactform {
		width: 100%;
	}
	.contactform .offer{
		right: 0px;
		width: 75px;
		top: -44px;
	}
	.footer .citieslist p {
		padding: 0px 5px;
		line-height: 18px;
	}
	.footer .citypresence{
		padding-left: 0px;
	}
	.services .servicelist li {
		font-size: 19px;
	}

}
@media screen and (max-width: 480px) {
	.contactform h1 {
		font-size: 21px;
	}
	.contactform .form-control {
		font-size: 16px;
	}
	.services h2 {
		font-size: 21px;
	}
}

