.no-padding{padding:0px;}
.no-margin{margin:0px;}
.float-left{float:left;}
.float-right{float:right;}
.text-center{text-align:center;}
.text-right{text-align:right;}
.text-left{text-align:left;}
a:focus{outline:none; text-decoration:none;}
a:hover{text-decoration:none; outline:none;}
input:focus{outline:none;}

@font-face {
    font-family: icomoon;
    src: url(../fonts/icomoon.ttf);
}

/* Mid section CSS */

#appointment-menu-section  div {
    box-shadow: 1px 1px 2px #ddd;
	width: 100%;
	float: left;
    height: 81px;
}

#appointment-mid-section {
    width: 100%;
    background-size: cover;
    float: left;
   margin-top: -100px;
	min-height: 490px;
	
	background-position: 20%;
}

.message-skype {
	float: left;
      width: 100%;
    padding: 0px 20px;
    text-align: center;
}

.skype-price-cut {

    text-decoration: line-through;
    color: initial;
    font-weight: normal;
}

.skype-price {
    font-style: italic;
    color: #000;
    font-weight: bold;
}

.appointment-left-div h4 {
    float: left;
    background-color: rgba(255, 255, 255, 0.95);
    color: #424242;
    width: 100%;
    line-height: 40px;
   font-weight:500;
    text-align: center;
    margin: 0px;
    font-size: 22px;
    padding: 8px 0px;
}

.appointment-left-div h4  span{
    font-size: 40px;
	font-weight: normal;
}

.appointment-left-div h4 b {
    color: #DC3757;
    font-weight: normal;
	font-size: 28px;
}

.appointment-right-div {
    width: 770px;
    float: right;
}

.appointment-book-div {
    width: 90%;
    float: left;
    text-align: center;
    position: relative;
    padding: 37px 0px 5px 0px;
    margin-top: 90px;
    border: 1px solid rgba(237, 145, 24, 0.33);
	background-color: #E7E7E7;
	margin-bottom: 10px;
    border-radius: 5px;
}

.appointment-book-div h2{
    font-weight: normal;
    color: #fff;
    font-size: 25px;
	width: auto;
    margin: 15px;
    padding: 11px 11px 7px 11px;
    display: inline-block;
    position: absolute;
    top: -5%;
    left: 26%;
	border-radius: 5px;
	color: #ed9118;
}

.appointment-book-div h2 b{
    padding: 7px 10px;
    background-color: #3B8391;
    color: #fff;
}

.appointment-form-div {
	width: 100%;
	float: left;
}

.appointment-form {
	width: 100%;
	float: left;
}

.appointment-form .form-group{
	width: 50%;
    float: left;
    padding: 0px 20px;
    color: #fff;
	position: relative;
    margin:2px 0px;
}

.appointment-form .form-group input{
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #C1C1C1;
    box-shadow: none;
    border-radius: 5px;
	margin-bottom: 0px;
	color: #000;
	    font-size: 14px;
}

.appointment-form .form-group select{
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #C1C1C1;
    box-shadow: none;
    border-radius: 5px;
		margin-bottom: 0px;
		    color: #000;
			    font-size: 14px;
}

.form-banner-img {
    width: 135px;
    position: absolute;
    right: 6%;
    z-index: 9;
    margin-top: 0%;
}

.appointment-form .form-group label{
	float:left;
	color: #585858;
	transition: 0.4s;
	font-weight: normal;
    font-size: 13px;
	margin: 0PX;
	line-height:19px;
}

.appointment-form .radio {
	float: left;
    margin: 0px;
    padding: 0px 20px;
    width: 50%;
    font-size: 13px;
    text-align: left;
}
.emailaddress h6 {
    font-style: initial;
    font-size: 18px;
	float: left;
	margin:0px;
}
.emailaddress span {
    font-size: 18px;
    line-height: 38px;
   
} 
#appointment-consultation-fee, #appointment-consultation-fee1 {
	float: left;
   width: 100%;
    text-align: left;
    padding: 0px 20px;
}


#appointment-consultation-fee h5, #appointment-consultation-fee1 h5 {
    font-weight: bold;
    font-size: 16px;
    border-left: 4px solid #ED9118;
    padding-left: 10px;
}


#appointment-consultation-fee p, #appointment-consultation-fee1 p {
      padding: 0px;
   
    font-weight: bold;
    float: left;
    margin: 0px;
}

.appointment-fee-cut {
    text-decoration: line-through;
    font-weight: normal;
	    margin-left: 5px;
}

.appointment-fee-offer {
    color: #E61F60;
    font-weight: normal;
}

#appointment-consultation-address {
	float: left;
    width: 50%;
    text-align: left;
    padding: 5px 20px;
	    position: absolute;
    right: 100.2%;
    top: 0px;
    background-color: rgba(247, 247, 247, 0.95);
	border-left: 5px solid #ED9118;
}


#appointment-consultation-address h5 {
    font-weight: bold;
    font-size: 16px;
    border-left:0px solid #ED9118;
    padding-left: 0px;
}


#appointment-consultation-address p {
    padding: 0px;
    padding-left: 0px;
}


#div-appointment-skype {
	float: left;
	    text-align: center;
    margin: 0px;
    padding: 0px 20px;
    width: 100%;
    font-size: 13px;
}

.appointment-form .radio label{
    font-weight: bold;
}

.appointment-form .radio label input{
    margin-top: 5px;
}

.appointment-radio-div {
	float: left;
	width: 100%;
	margin: 8px 0px;
    padding: 0px 0px;
    color: #000;
}

.appointment-radio-div .radio label b {
	color: #DC3757;
    font-size: 14px;
}

.appointment-form button {
    border-radius: 0px!important;
    background-color: #ed9118!important;
    color: #fff!important;
    font-weight: bold!important;
    font-size: 20px!important;
	border: 1px solid #fff!important;
    padding: 5px 16px!important;
    box-shadow: 1px 1px 3px rgb(255, 255, 255);
    border-radius: 5px!important;
    margin: 8px 0px!important;
	background: #ed9118!important;
    background: -moz-linear-gradient(0deg,#ed9118 0%,#ed9118 100%)!important;
    background: -webkit-gradient(linear,left bottom,right top,color-stop(0%,#ed9118),color-stop(100%,#ed9118))!important; 
    background: -webkit-linear-gradient(0deg,#ed9118 0%,#ed9118 100%)!important; 
    background: -o-linear-gradient(0deg,#ed9118 0%,#ed9118 100%)!important;
    background: -ms-linear-gradient(0deg,#ed9118 0%,#ed9118 100%)!important;
    background: linear-gradient(0deg,#ed9118 0%,#ed9118 100%)!important; 
	    line-height: 1.42857143!important;
}

.appointment-form button:hover {
    color: #ED9118!important;
    background-color: rgb(255, 255, 255)!important;
    border-color: #ED9118!important;
	 background: -moz-linear-gradient(0deg,#fff 0%,#fff 100%)!important;
    background: -webkit-gradient(linear,left bottom,right top,color-stop(0%,#fff),color-stop(100%,#fff))!important; 
    background: -webkit-linear-gradient(0deg,#fff 0%,#fff 100%)!important; 
    background: -o-linear-gradient(0deg,#fff 0%,#fff 100%)!important;
    background: -ms-linear-gradient(0deg,#ed9118 0%,#fff 100%)!important;
    background: linear-gradient(0deg,#fff 0%,#fff 100%)!important; 
}


.appointment-form button:focus {
 color: #ED9118!important;
    background-color: rgb(255, 255, 255)!important;
    border-color: #ED9118!important;
	 background: -moz-linear-gradient(0deg,#fff 0%,#fff 100%)!important;
    background: -webkit-gradient(linear,left bottom,right top,color-stop(0%,#fff),color-stop(100%,#fff))!important; 
    background: -webkit-linear-gradient(0deg,#fff 0%,#fff 100%)!important; 
    background: -o-linear-gradient(0deg,#fff 0%,#fff 100%)!important;
    background: -ms-linear-gradient(0deg,#ed9118 0%,#fff 100%)!important;
    background: linear-gradient(0deg,#fff 0%,#fff 100%)!important; 
}


.appointment-form button:active {
 color: #ED9118!important;
    background-color: rgb(255, 255, 255)!important;
    border-color: #ED9118!important;
	 background: -moz-linear-gradient(0deg,#fff 0%,#fff 100%)!important;
    background: -webkit-gradient(linear,left bottom,right top,color-stop(0%,#fff),color-stop(100%,#fff))!important; 
    background: -webkit-linear-gradient(0deg,#fff 0%,#fff 100%)!important; 
    background: -o-linear-gradient(0deg,#fff 0%,#fff 100%)!important;
    background: -ms-linear-gradient(0deg,#ed9118 0%,#fff 100%)!important;
    background: linear-gradient(0deg,#fff 0%,#fff 100%)!important; 
}

.appointment-div-btn {
    float: left;
    width: 100%;
    text-align: center;
}

#div-appointment-skype {
	display: none;
}

.message-skype {
	display: none;
}

#appointment-consultation-fee, #appointment-consultation-fee1 {
	display: none;
}

.appointment-date-calender {
	position: absolute;
    color: #585858;
    font-size: 17px;
    right: 28px;
	bottom: 5px;
}

#appointment-consultation-address{
	display: none;
}

.appointment-form button:visited {
    color: #ED9118;
    background-color: rgb(255, 255, 255);
    border-color: #ED9118;
}

.appointment-discount-heading {
    margin-top: 50px;
    margin-bottom: 32px;
}

.appointment-discount-heading {
	text-align: center;
    font-weight: bold;
    font-size: 35px;
	position: relative;
}

.appointment-discount-heading span {
    background-color: #3A8290;
    color: #fff;
    padding: 12px;
}

.appointment-discount-heading span:before {
    content: '';
    position: absolute;
    left: 27.5%;
    top: 122%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #3A8290;
    clear: both;
}

.appointment-usp-div {
	text-align: center;
   margin: 10px 0px;
}

.appointment-usp-number {
    color: #424242;
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
}

.appointment-usp-number span {
    padding: 0px 0px 0px 0px;
}

.appointment-usp-number span:first-child {
    letter-spacing: 5px;
}

.appointment-usp-heading {
    color: #DC3757;
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
}

.appointment-validate-check-right {
    position: absolute;
    right: 20px;
    bottom: 0px;
    color: #FFFFFF;
    background-color: #ed9118;
    padding: 7px 10px;
    height: 34px;
    width: 35px;
    overflow: hidden;
	display: none;
}
.skype-consultation-title {
    font-weight: bold;
    font-size: 16px;
    padding-left: 10px;
}
.skype-consultation-offer-price {
    font-weight: normal;
    color: #E61F60;
}
.payable-clinic-text {
    color: #E61F60;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    padding: 0px 0px;
    float: left;
}
.appointment-validate-check-cross {
    position: absolute;
    right: 20px;
    top: 0px;
    color: #FFFFFF;
    background-color: #ed9118;
    padding: 7px 10px;
    height: 34px;
    width: 35px;
    overflow: hidden;
	display: none;
}

.appointment-terms-line {
    font-size: 16px;
    display: inline-block;
    color: #fff;
    font-style: italic;
    width: 100%;
}

.appointment-terms-line a{
	font-size: 16px;
    color: #fff;
    font-weight: bold;
}

.appointment-usp-section {
	float: left;
    width: 100%;
    background-image: url('../img/pattern.png');
    box-shadow: 1px 1px 1px #ECECEC;
    background-color: #efefef;
}
.thankyou{
      margin-top: -140px;
    background-size: cover;
    padding: 50px 0px;
    float: left;
    width: 100%;

}
.thanksmsg{
      width: 50%;
    float: right;
    padding: 30px 50px;
    border: 1px solid rgba(237, 145, 24, 0.33);
    background-color: #FFFFFF;
    margin: 30px;

}
.thanksmsg h2{
    font-weight: bold;
    color: #7EB7B5;
}
.loading {
    text-align: left;
    font-style: italic;
    color: #E61F60;
    position: absolute;
    font-size: 13px;
    bottom: -20px;
}
#active-popup {background-color: rgba(52,73,94, 0.9);position: absolute;width: 100%;height:100%;top: 0;left: 0;z-index: 99999;display:block;}
#delayjquery{display:none;}
/* Modal container */
#popup-container {width: 50%;margin: 0 auto;position: fixed;left: 25%;z-index: 99999;top: 0;display: none;border-radius:10px;}
#popup-container  img{width:100%;border-radius:10px}
.modal-content {position: relative;text-align: center;}
#popup-window { position: relative; }
.modal-content h1,
.modal-content p { color: #fff; }
.modal-content p { padding: 20% 5% 0 5%; }
/* Close button */
#popup-container a.close {position: absolute;float: right;top: -19px;right: -17px;z-index: 999;-webkit-border-radius: 25px;-moz-border-radius: 25px;cursor: pointer;width: 34px;height: 34px;opacity: 1!important;}
.fixedright {position: fixed;right:-12px;top: 35px;z-index: 999;width:180px;}
.fixedright img{width:100%;}
@media screen and (max-width:1550px) {
	.appointment-discount-heading span:before {
		content: '';
		position: absolute;
		left: 30%;
		top: 122%;
		width: 0;
		height: 0;
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-top: 20px solid #3A8290;
		clear: both;
		animation: blink 0.3s;
	}
	.appointment-book-div {
		width: 100%;
	}
	.appointment-book-div h2 {
		left: 27%;
	}
	.appointment-discount-heading {
		text-align: center;
	}
	.appointment-right-div {
		width: 690px;
	}
	.form-banner-img {
		right: 1%;
	}
}

@media screen and (max-width:1400px) {
#appointment-consultation-fee h5, #appointment-consultation-fee1 h5 {
		font-size: 15px;
	}
	#appointment-consultation-address h5 {
		font-size: 15px;
	}
	.appointment-right-div {
		width: 650px;
		float: right;
	}
	.appointment-form .form-group {
		width: 50%;
		float: left;
		padding: 0px 12px;
	}
	.appointment-form .radio {
		padding: 0px 12px;
	}
	.form-banner-img {
		right: 1%;
	}
	.appointment-discount-heading span:before {
		content: '';
		position: absolute;
		left: 30%;
		top: 122%;
		width: 0;
		height: 0;
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-top: 20px solid #3A8290;
		clear: both;
		animation: blink 0.3s;
	}
	.appointment-book-div {
		width: 100%;
	}
	.appointment-book-div h2 {
		left: 27%;
	}
	.appointment-discount-heading {
		text-align: center;
	}
	.appointment-validate-check-right {
		right: 12px;
	}
	.appointment-validate-check-cross {
		right: 12px;
	}
	.form-banner-img {
	    width: 125px;
		right: 1%;
		margin-top: 0%;
	}
	.appointment-book-div {
		margin-top: 80px;
	}
	.appointment-usp-heading {
		color: #DC3757;
		font-size: 16px;
		font-weight: bold;
	}
	.appointment-usp-number {
		font-size: 20px;
	}
	.appointment-form button {
		font-size: 18px;
	}
	.appointment-left-div h4 {
	    font-size: 22px;
		padding: 4px 0px;
	}
	.appointment-left-div h4 b {
	    font-size: 24px;
	}
	#appointment-mid-section {
		background-position: 35%;
		min-height: 490px;
	}
}

@media screen and (max-width:1300px) {
	 
.appointment-usp-div {
	    margin: 8px 0px;
	}
	.appointment-book-div h2 {
	    font-size: 22px;
		top: -9%;
	}
	#appointment-mid-section {
		background-position: 40%;
		min-height: 490px;
	}
	.appointment-right-div {
		width: 600px;
	}
	.appointment-left-div h4 {
	    font-size: 20px;
	}
	.appointment-left-div h4 b {
		font-size: 22px;
	}
	.appointment-left-div h4 span {
		top: -18%;
		left: 3%;
		font-size: 30px;
	}
	.form-banner-img {
	    width: 125px;
		right: 1.5%;
		margin-top: 0%;
	}
	.appointment-book-div {
		margin-top: 80px;
	}
	.appointment-usp-heading {
		color: #DC3757;
		font-size: 15px;
		font-weight: bold;
	}
	.appointment-usp-number {
		font-size: 18px;
	}
	.appointment-form button {
		font-size: 18px;
	}
}

@media screen and (max-width:1100px) {
#appointment-consultation-address p {
		padding-left: 15px;
	}
	#appointment-consultation-address {
	    float: left;
		width: 100%;
		text-align: left;
		padding: 5px 20px;
		position: initial;
		right: 0;
		top: 0;
		background-color: initial;
		border-left: 0px solid #ED9118;
	}
	#appointment-consultation-address h5 {
		border-left: 4px solid #ED9118;
		padding-left: 10px;
	} 
	 .appointment-left-div h4 {
		font-size: 20px;
	}
	.appointment-left-div {
		text-align: center;
	}
	.appointment-left-div h4 span {
		top: -30%;
		left: 0%;
	}
	.appointment-right-div {
		width: 100%;
		padding: 0px 10%;
	}
	.appointment-book-div {
		margin-top: 90px;
	}
	.appointment-book-div h2 {
		left: 31%;
	}
	.form-banner-img {
		width: 130px;
	    right: 12%;
		margin-top: 0.5%;
	}
	.appointment-left-div h4 b {
		font-size: 22px;
	}
}

@media screen and (max-width:900px) {
	.appointment-book-div h2 {
		left: 29%;
		top: -10%;
	}
}

@media screen and (max-width:768px) {
	.appointment-book-div {
		margin-top: 92px;
	}
	.appointment-radio-div .radio label b {
		font-size: 14px;
	}
	.form-banner-img {
		width: 130px;
		right: 7%;
		margin-top: 1%;
	}
	.appointment-book-div h2 {
		font-size: 20px;
	}
	.appointment-form .form-group {
		width: 100%;
	}
	.appointment-book-div h2 {
		left: 26%;
		top: -6%;
	}
	.thanksmsg {
    width: 100%;
	margin:0px;
	    padding: 30px 20px;
		float:left;
	}
	
}

@media screen and (max-width:640px) {
	#popup-container {width: 80%;margin: 0 auto;position: fixed;left:10%!important;z-index: 99999;top: 0;display: none;border-radius:10px;}  
	.appointment-left-div h4 {
		font-size: 22px;
		line-height: 33px;
	}
	.form-banner-img {
		margin-top: 3%;
	}
	.appointment-book-div h2 {
		position: initial;
		margin: 0px;
		width: 100%;
		border-radius: 0px;
		margin-bottom: 15px;
		font-size: 18px;
	}
	.appointment-book-div {
		padding-top: 0px;
		border: 1px solid rgb(237, 145, 24);
		margin-top: 154px;
	}
	.form-banner-img {
		right: 38%;
	}
	.appointment-form .radio {
		float: left;
		margin: 0px;
		padding: 2px 20px;
		width: 100%;
		text-align: left;
	}
	.appointment-left-div h4 span {
		top: -15%;
		left: 6%;
	}
	.appointment-form button {
		font-size: 18px;
	}
	.appointment-left-div h4 b {
		font-size: 26px;
	}
	.appointment-usp-div {
		margin: 15px 0px 15px 0px;
	}
	.appointment-usp-number {
		font-size: 25px;
	}
	.appointment-usp-heading {
		font-size: 16px;
	}
		.thanksmsg h3,.thanksmsg h2,.thanksmsg h2{font-size:18px;}
		.emailaddress span{font-size:18px;}
		.emailaddress h6 {font-style: initial;font-size: 18px;line-height: 24px;float: left;margin:0px}
}

@media screen and (max-width:450px) {
	
	.thanksmsg {
		padding:15px;
	}
	.appointment-book-div h2 {
		position: initial;
		margin: 0px;
		width: 100%;
		border-radius: 0px;
		margin-bottom: 15px;
		font-size: 18px;
	}
	.appointment-right-div {
		width: 100%;
		padding: 0px 0%;
	}
	.form-banner-img {
		right: 36%;
	}
	.appointment-form button {
		font-size: 16px;
	}
	.appointment-left-div h4 {
		font-size: 18px;
		line-height: 26px;
	}
	.appointment-left-div h4 span {
		top: -16%;
		left: 1%;
		font-size: 26px;
	}
	.appointment-left-div h4 b {
		font-size: 20px;
		width: 100%;
		float: left;
	}
	.thanksmsg h3,.thanksmsg h2,.thanksmsg h2{font-size:16px;}
		.emailaddress span{font-size:16px;}
		.emailaddress h6 {font-style: initial;font-size: 16px;line-height: 24px;float: left;margin:0px} 
}

@media screen and (max-width:400px) {
	.appointment-book-div h2 {
		position: initial;
		margin: 0px;
		width: 100%;
		border-radius: 0px;
		margin-bottom: 15px;
		font-size: 18px;
	}
	.form-banner-img {
		right: 34%;
		width: 125px;
		margin-top: 5%;
	}
}
@media screen and (max-width:365px) {
	.appointment-book-div h2 {
		position: initial;
		margin: 0px;
		width: 100%;
		border-radius: 0px;
		margin-bottom: 15px;
		font-size: 18px;
	}
}
@media screen and (max-width:365px) {
	.appointment-book-div h2 {
		position: initial;
		margin: 0px;
		width: 100%;
		border-radius: 0px;
		margin-bottom: 15px;
		font-size: 18px;
	}
}
@media screen and (max-width:350px) {
	.appointment-book-div h2 {
		position: initial;
		margin: 0px;
		width: 100%;
		border-radius: 0px;
		margin-bottom: 15px;
		font-size: 18px;
	}
}

.page-template-appOnline  #top-bar,.page-template-appOnline #bottom-bar{display:none;}
.rightsidebarfixed{position:fixed;bottom:0px;right:0px;z-index:999999;width:280px;display:none;}
.fixed-top {background: #3A8290;color: #fff;padding: 6px 20px;font-weight: bold;	text-align:center;}
.fixed-content{text-align:center;    background-color: #E1F0F7;}
.button-bottom {background-color: #F83989;padding: 6px 20px;color: #fff;font-weight: bold;/* float: left; */margin: 0 auto;display: inline-block;font-size: 20px;border-radius: 6px;}
.fixed-top i {position: absolute;right: 14px;top: 10px;}
.fixedright {position: fixed;right:-12px;top: 35px;z-index: 999;width:180px;}
.fixedright img{width:100%;}
.responsivefixed {display: none;position: absolute;right: 20px;}
.imagetoogle img {width:100%!important;cursor: pointer;}
 