.no-padding{padding:0px;}
.no-margin{margin:0px;}
.float-left{float:left;}
.float-right{float:right;}
.text-center{text-align:center;}
.text-right{text-align:right;}
.text-left{text-align:left;}
a:focus{outline:none; text-decoration:none;}
a:hover{text-decoration:none; outline:none;}
input:focus{outline:none;}

@font-face {
    font-family: icomoon;
    src: url(../fonts/icomoon.ttf);
}

/* Mid section CSS */

#appointment-menu-section  div {
    box-shadow: 1px 1px 2px #ddd;
	width: 100%;
	float: left;
    height: 81px;
}

#appointment-mid-section {
    width: 100%;
    background-size: cover;
    float: left;
   margin-top: -100px;
	min-height: 490px;
	
	background-position: 20%;
}

.message-skype {
	float: left;
      width: 100%;
    padding: 0px 20px;
    text-align: center;
}

.skype-price-cut {

    text-decoration: line-through;
    color: initial;
    font-weight: normal;
}

.skype-price {
    font-style: italic;
    color: #000;
    font-weight: bold;
}

.appointment-left-div h4 {
    float: left;
    background-color: rgba(255, 255, 255, 0.95);
    color: #424242;
    width: 100%;
    line-height: 40px;
   font-weight:500;
    text-align: center;
    margin: 0px;
    font-size: 22px;
    padding: 8px 0px;
}

.appointment-left-div h4  span{
    font-size: 40px;
	font-weight: normal;
}

.appointment-left-div h4 b {
    color: #DC3757;
    font-weight: normal;
	font-size: 28px;
}

.appointment-right-div {
    width: 770px;
    float: right;
}

.appointment-book-div {
    width: 90%;
    float: left;
    text-align: center;
    position: relative;
    padding: 37px 0px 5px 0px;
    margin-top: 90px;
    border: 1px solid rgba(237, 145, 24, 0.33);
	background-color: #E7E7E7;
	margin-bottom: 10px;
    border-radius: 5px;
}

.appointment-book-div h2{
    font-weight: normal;
    color: #fff;
    font-size: 25px;
	width: auto;
    margin: 15px;
    padding: 11px 11px 7px 11px;
    display: inline-block;
    position: absolute;
    top: -5%;
    left: 26%;
	border-radius: 5px;
	color: #ed9118;
}

.appointment-book-div h2 b{
    padding: 7px 10px;
    background-color: #3B8391;
    color: #fff;
}

.appointment-form-div {
	width: 100%;
	float: left;
}

.appointment-form {
	width: 100%;
	float: left;
}

.appointment-form .form-group{
	width: 50%;
    float: left;
    padding: 0px 20px;
    color: #fff;
	position: relative;
    margin:2px 0px;
}

.appointment-form .form-group input{
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #C1C1C1;
    box-shadow: none;
    border-radius: 5px;
	margin-bottom: 0px;
	color: #000;
	    font-size: 14px;
}

.appointment-form .form-group select{
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #C1C1C1;
    box-shadow: none;
    border-radius: 5px;
		margin-bottom: 0px;
		    color: #000;
			    font-size: 14px;
}

.form-banner-img {
    width: 135px;
    position: absolute;
    right: 6%;
    z-index: 9;
    margin-top: 0%;
}

.appointment-form .form-group label{
	float:left;
	color: #585858;
	transition: 0.4s;
	font-weight: normal;
    font-size: 13px;
	margin: 0PX;
	line-height:19px;
}

.appointment-form .radio {
	float: left;
    margin: 0px;
    padding: 0px 20px;
    width: 50%;
    font-size: 13px;
    text-align: left;
}
.emailaddress h6 {
    font-style: initial;
    font-size: 18px;
	float: left;
	margin:0px;
}
.emailaddress span {
    font-size: 18px;
    line-height: 38px;
   
} 
#appointment-consultation-fee, #appointment-consultation-fee1 {
	float: left;
   width: 100%;
    text-align: left;
    padding: 0px 20px;
}


#appointment-consultation-fee h5, #appointment-consultation-fee1 h5 {
    font-weight: bold;
    font-size: 16px;
    border-left: 4px solid #ED9118;
    padding-left: 10px;
}


#appointment-consultation-fee p, #appointment-consultation-fee1 p {
      padding: 0px;
   
    font-weight: bold;
    float: left;
    margin: 0px;
}

.appointment-fee-cut {
    text-decoration: line-through;
    font-weight: normal;
	    margin-left: 5px;
}

.appointment-fee-offer {
    color: #E61F60;
    font-weight: normal;
}

#appointment-consultation-address {
	float: left;
    width: 50%;
    text-align: left;
    padding: 5px 20px;
	    position: absolute;
    right: 100.2%;
    top: 0px;
    background-color: rgba(247, 247, 247, 0.95);
	border-left: 5px solid #ED9118;
}


#appointment-consultation-address h5 {
    font-weight: bold;
    font-size: 16px;
    border-left:0px solid #ED9118;
    padding-left: 0px;
}


#appointment-consultation-address p {
    padding: 0px;
    padding-left: 0px;
}


#div-appointment-skype {
	float: left;
	    text-align: center;
    margin: 0px;
    padding: 0px 20px;
    width: 100%;
    font-size: 13px;
}

.appointment-form .radio label{
    font-weight: bold;
}

.appointment-form .radio label input{
    margin-top: 5px;
}

.appointment-radio-div {
	float: left;
	width: 100%;
	margin: 8px 0px;
    padding: 0px 0px;
    color: #000;
}

.appointment-radio-div .radio label b {
	color: #DC3757;
    font-size: 14px;
}

.appointment-form button {
    border-radius: 0px!important;
    background-color: #ed9118!important;
    color: #fff!important;
    font-weight: bold!important;
    font-size: 20px!important;
	border: 1px solid #fff!important;
    padding: 5px 16px!important;
    box-shadow: 1px 1px 3px rgb(255, 255, 255);
    border-radius: 5px!important;
    margin: 8px 0px!important;
	background: #ed9118!important;
    background: -moz-linear-gradient(0deg,#ed9118 0%,#ed9118 100%)!important;
    background: -webkit-gradient(linear,left bottom,right top,color-stop(0%,#ed9118),color-stop(100%,#ed9118))!important; 
    background: -webkit-linear-gradient(0deg,#ed9118 0%,#ed9118 100%)!important; 
    background: -o-linear-gradient(0deg,#ed9118 0%,#ed9118 100%)!important;
    background: -ms-linear-gradient(0deg,#ed9118 0%,#ed9118 100%)!important;
    background: linear-gradient(0deg,#ed9118 0%,#ed9118 100%)!important; 
	    line-height: 1.42857143!important;
}

.appointment-form button:hover {
    color: #ED9118!important;
    background-color: rgb(255, 255, 255)!important;
    border-color: #ED9118!important;
	 background: -moz-linear-gradient(0deg,#fff 0%,#fff 100%)!important;
    background: -webkit-gradient(linear,left bottom,right top,color-stop(0%,#fff),color-stop(100%,#fff))!important; 
    background: -webkit-linear-gradient(0deg,#fff 0%,#fff 100%)!important; 
    background: -o-linear-gradient(0deg,#fff 0%,#fff 100%)!important;
    background: -ms-linear-gradient(0deg,#ed9118 0%,#fff 100%)!important;
    background: linear-gradient(0deg,#fff 0%,#fff 100%)!important; 
}


.appointment-form button:focus {
 color: #ED9118!important;
    background-color: rgb(255, 255, 255)!important;
    border-color: #ED9118!important;
	 background: -moz-linear-gradient(0deg,#fff 0%,#fff 100%)!important;
    background: -webkit-gradient(linear,left bottom,right top,color-stop(0%,#fff),color-stop(100%,#fff))!important; 
    background: -webkit-linear-gradient(0deg,#fff 0%,#fff 100%)!important; 
    background: -o-linear-gradient(0deg,#fff 0%,#fff 100%)!important;
    background: -ms-linear-gradient(0deg,#ed9118 0%,#fff 100%)!important;
    background: linear-gradient(0deg,#fff 0%,#fff 100%)!important; 
}


.appointment-form button:active {
 color: #ED9118!important;
    background-color: rgb(255, 255, 255)!important;
    border-color: #ED9118!important;
	 background: -moz-linear-gradient(0deg,#fff 0%,#fff 100%)!important;
    background: -webkit-gradient(linear,left bottom,right top,color-stop(0%,#fff),color-stop(100%,#fff))!important; 
    background: -webkit-linear-gradient(0deg,#fff 0%,#fff 100%)!important; 
    background: -o-linear-gradient(0deg,#fff 0%,#fff 100%)!important;
    background: -ms-linear-gradient(0deg,#ed9118 0%,#fff 100%)!important;
    background: linear-gradient(0deg,#fff 0%,#fff 100%)!important; 
}

.appointment-div-btn {
    float: left;
    width: 100%;
    text-align: center;
}

#div-appointment-skype {
	display: none;
}

.message-skype {
	display: none;
}

#appointment-consultation-fee, #appointment-consultation-fee1 {
	display: none;
}

.appointment-date-calender {
	position: absolute;
    color: #585858;
    font-size: 17px;
    right: 28px;
	bottom: 5px;
}

#appointment-consultation-address{
	display: none;
}

.appointment-form button:visited {
    color: #ED9118;
    background-color: rgb(255, 255, 255);
    border-color: #ED9118;
}

.appointment-discount-heading {
    margin-top: 50px;
    margin-bottom: 32px;
}

.appointment-discount-heading {
	text-align: center;
    font-weight: bold;
    font-size: 35px;
	position: relative;
}

.appointment-discount-heading span {
    background-color: #3A8290;
    color: #fff;
    padding: 12px;
}

.appointment-discount-heading span:before {
    content: '';
    position: absolute;
    left: 27.5%;
    top: 122%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #3A8290;
    clear: both;
}

.appointment-usp-div {
	text-align: center;
   margin: 10px 0px;
}

.appointment-usp-number {
    color: #424242;
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
}

.appointment-usp-number span {
    padding: 0px 0px 0px 0px;
}

.appointment-usp-number span:first-child {
    letter-spacing: 5px;
}

.appointment-usp-heading {
    color: #DC3757;
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
}

.appointment-validate-check-right {
    position: absolute;
    right: 20px;
    bottom: 0px;
    color: #FFFFFF;
    background-color: #ed9118;
    padding: 7px 10px;
    height: 34px;
    width: 35px;
    overflow: hidden;
	display: none;
}
.skype-consultation-title {
    font-weight: bold;
    font-size: 16px;
    padding-left: 10px;
}
.skype-consultation-offer-price {
    font-weight: normal;
    color: #E61F60;
}
.payable-clinic-text {
    color: #E61F60;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    padding: 0px 0px;
    float: left;
}
.appointment-validate-check-cross {
    position: absolute;
    right: 20px;
    top: 0px;
    color: #FFFFFF;
    background-color: #ed9118;
    padding: 7px 10px;
    height: 34px;
    width: 35px;
    overflow: hidden;
	display: none;
}

.appointment-terms-line {
    font-size: 16px;
    display: inline-block;
    color: #fff;
    font-style: italic;
    width: 100%;
}

.appointment-terms-line a{
	font-size: 16px;
    color: #fff;
    font-weight: bold;
}

.appointment-usp-section {
	float: left;
    width: 100%;
    background-image: url('../img/pattern.png');
    box-shadow: 1px 1px 1px #ECECEC;
    background-color: #efefef;
}
.thankyou{
      margin-top: -140px;
    background-size: cover;
    padding: 50px 0px;
    float: left;
    width: 100%;

}
.thanksmsg{
      width: 50%;
    float: right;
    padding: 30px 50px;
    border: 1px solid rgba(237, 145, 24, 0.33);
    background-color: #FFFFFF;
    margin: 30px;

}
.thanksmsg h2{
    font-weight: bold;
    color: #7EB7B5;
}
.loading {
    text-align: left;
    font-style: italic;
    color: #E61F60;
    position: absolute;
    font-size: 13px;
    bottom: -20px;
}
#active-popup {background-color: rgba(52,73,94, 0.9);position: absolute;width: 100%;height:100%;top: 0;left: 0;z-index: 99999;display:block;}
#delayjquery{display:none;}
/* Modal container */
#popup-container {width: 50%;margin: 0 auto;position: fixed;left: 25%;z-index: 99999;top: 0;display: none;border-radius:10px;}
#popup-container  img{width:100%;border-radius:10px}
.modal-content {position: relative;text-align: center;}
#popup-window { position: relative; }
.modal-content h1,
.modal-content p { color: #fff; }
.modal-content p { padding: 20% 5% 0 5%; }
/* Close button */
#popup-container a.close {position: absolute;float: right;top: -19px;right: -17px;z-index: 999;-webkit-border-radius: 25px;-moz-border-radius: 25px;cursor: pointer;width: 34px;height: 34px;opacity: 1!important;}
.fixedright {position: fixed;right:-12px;top: 35px;z-index: 999;width:180px;}
.fixedright img{width:100%;}
.paymentgatewaty{display:none;}
@media screen and (max-width:1550px) {
	.appointment-discount-heading span:before {
		content: '';
		position: absolute;
		left: 30%;
		top: 122%;
		width: 0;
		height: 0;
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-top: 20px solid #3A8290;
		clear: both;
		animation: blink 0.3s;
	}
	.appointment-book-div {
		width: 100%;
	}
	.appointment-book-div h2 {
		left: 27%;
	}
	.appointment-discount-heading {
		text-align: center;
	}
	.appointment-right-div {
		width: 690px;
	}
	.form-banner-img {
		right: 1%;
	}
}

@media screen and (max-width:1400px) {
#appointment-consultation-fee h5, #appointment-consultation-fee1 h5 {
		font-size: 15px;
	}
	#appointment-consultation-address h5 {
		font-size: 15px;
	}
	.appointment-right-div {
		width: 650px;
		float: right;
	}
	.appointment-form .form-group {
		width: 50%;
		float: left;
		padding: 0px 12px;
	}
	.appointment-form .radio {
		padding: 0px 12px;
	}
	.form-banner-img {
		right: 1%;
	}
	.appointment-discount-heading span:before {
		content: '';
		position: absolute;
		left: 30%;
		top: 122%;
		width: 0;
		height: 0;
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-top: 20px solid #3A8290;
		clear: both;
		animation: blink 0.3s;
	}
	.appointment-book-div {
		width: 100%;
	}
	.appointment-book-div h2 {
		left: 27%;
	}
	.appointment-discount-heading {
		text-align: center;
	}
	.appointment-validate-check-right {
		right: 12px;
	}
	.appointment-validate-check-cross {
		right: 12px;
	}
	.form-banner-img {
	    width: 125px;
		right: 1%;
		margin-top: 0%;
	}
	.appointment-book-div {
		margin-top: 80px;
	}
	.appointment-usp-heading {
		color: #DC3757;
		font-size: 16px;
		font-weight: bold;
	}
	.appointment-usp-number {
		font-size: 20px;
	}
	.appointment-form button {
		font-size: 18px;
	}
	.appointment-left-div h4 {
	    font-size: 22px;
		padding: 4px 0px;
	}
	.appointment-left-div h4 b {
	    font-size: 24px;
	}
	#appointment-mid-section {
		background-position: 35%;
		min-height: 490px;
	}
}

@media screen and (max-width:1300px) {
	 
.appointment-usp-div {
	    margin: 8px 0px;
	}
	.appointment-book-div h2 {
	    font-size: 22px;
		top: -9%;
	}
	#appointment-mid-section {
		background-position: 40%;
		min-height: 490px;
	}
	.appointment-right-div {
		width: 600px;
	}
	.appointment-left-div h4 {
	    font-size: 20px;
	}
	.appointment-left-div h4 b {
		font-size: 22px;
	}
	.appointment-left-div h4 span {
		top: -18%;
		left: 3%;
		font-size: 30px;
	}
	.form-banner-img {
	    width: 125px;
		right: 1.5%;
		margin-top: 0%;
	}
	.appointment-book-div {
		margin-top: 80px;
	}
	.appointment-usp-heading {
		color: #DC3757;
		font-size: 15px;
		font-weight: bold;
	}
	.appointment-usp-number {
		font-size: 18px;
	}
	.appointment-form button {
		font-size: 18px;
	}
}

@media screen and (max-width:1100px) {
#appointment-consultation-address p {
		padding-left: 15px;
	}
	#appointment-consultation-address {
	    float: left;
		width: 100%;
		text-align: left;
		padding: 5px 20px;
		position: initial;
		right: 0;
		top: 0;
		background-color: initial;
		border-left: 0px solid #ED9118;
	}
	#appointment-consultation-address h5 {
		border-left: 4px solid #ED9118;
		padding-left: 10px;
	} 
	 .appointment-left-div h4 {
		font-size: 20px;
	}
	.appointment-left-div {
		text-align: center;
	}
	.appointment-left-div h4 span {
		top: -30%;
		left: 0%;
	}
	.appointment-right-div {
		width: 100%;
		padding: 0px 10%;
	}
	.appointment-book-div {
		margin-top: 90px;
	}
	.appointment-book-div h2 {
		left: 31%;
	}
	.form-banner-img {
		width: 130px;
	    right: 12%;
		margin-top: 0.5%;
	}
	.appointment-left-div h4 b {
		font-size: 22px;
	}
}

@media screen and (max-width:900px) {
	.appointment-book-div h2 {
		left: 29%;
		top: -10%;
	}
}

@media screen and (max-width:768px) {
	.appointment-book-div {
		margin-top: 92px;
	}
	.appointment-radio-div .radio label b {
		font-size: 14px;
	}
	.form-banner-img {
		width: 130px;
		right: 7%;
		margin-top: 1%;
	}
	.appointment-book-div h2 {
		font-size: 20px;
	}
	.appointment-form .form-group {
		width: 100%;
	}
	.appointment-book-div h2 {
		left: 26%;
		top: -6%;
	}
	.thanksmsg {
    width: 100%;
	margin:0px;
	    padding: 30px 20px;
		float:left;
	}
	
}

@media screen and (max-width:640px) {
	#popup-container {width: 80%;margin: 0 auto;position: fixed;left:10%!important;z-index: 99999;top: 0;display: none;border-radius:10px;}  
	.appointment-left-div h4 {
		font-size: 22px;
		line-height: 33px;
	}
	.form-banner-img {
		margin-top: 3%;
	}
	.appointment-book-div h2 {
		position: initial;
		margin: 0px;
		width: 100%;
		border-radius: 0px;
		margin-bottom: 15px;
		font-size: 18px;
	}
	.appointment-book-div {
		padding-top: 0px;
		border: 1px solid rgb(237, 145, 24);
		margin-top: 154px;
	}
	.form-banner-img {
		right: 38%;
	}
	.appointment-form .radio {
		float: left;
		margin: 0px;
		padding: 2px 20px;
		width: 100%;
		text-align: left;
	}
	.appointment-left-div h4 span {
		top: -15%;
		left: 6%;
	}
	.appointment-form button {
		font-size: 18px;
	}
	.appointment-left-div h4 b {
		font-size: 26px;
	}
	.appointment-usp-div {
		margin: 15px 0px 15px 0px;
	}
	.appointment-usp-number {
		font-size: 25px;
	}
	.appointment-usp-heading {
		font-size: 16px;
	}
		.thanksmsg h3,.thanksmsg h2,.thanksmsg h2{font-size:18px;}
		.emailaddress span{font-size:18px;}
		.emailaddress h6 {font-style: initial;font-size: 18px;line-height: 24px;float: left;margin:0px}
}

@media screen and (max-width:450px) {
	
	.thanksmsg {
		padding:15px;
	}
	.appointment-book-div h2 {
		position: initial;
		margin: 0px;
		width: 100%;
		border-radius: 0px;
		margin-bottom: 15px;
		font-size: 18px;
	}
	.appointment-right-div {
		width: 100%;
		padding: 0px 0%;
	}
	.form-banner-img {
		right: 36%;
	}
	.appointment-form button {
		font-size: 16px;
	}
	.appointment-left-div h4 {
		font-size: 18px;
		line-height: 26px;
	}
	.appointment-left-div h4 span {
		top: -16%;
		left: 1%;
		font-size: 26px;
	}
	.appointment-left-div h4 b {
		font-size: 20px;
		width: 100%;
		float: left;
	}
	.thanksmsg h3,.thanksmsg h2,.thanksmsg h2{font-size:16px;}
		.emailaddress span{font-size:16px;}
		.emailaddress h6 {font-style: initial;font-size: 16px;line-height: 24px;float: left;margin:0px} 
}

@media screen and (max-width:400px) {
	.appointment-book-div h2 {
		position: initial;
		margin: 0px;
		width: 100%;
		border-radius: 0px;
		margin-bottom: 15px;
		font-size: 18px;
	}
	.form-banner-img {
		right: 34%;
		width: 125px;
		margin-top: 5%;
	}
}
@media screen and (max-width:365px) {
	.appointment-book-div h2 {
		position: initial;
		margin: 0px;
		width: 100%;
		border-radius: 0px;
		margin-bottom: 15px;
		font-size: 18px;
	}
}
@media screen and (max-width:365px) {
	.appointment-book-div h2 {
		position: initial;
		margin: 0px;
		width: 100%;
		border-radius: 0px;
		margin-bottom: 15px;
		font-size: 18px;
	}
}
@media screen and (max-width:350px) {
	.appointment-book-div h2 {
		position: initial;
		margin: 0px;
		width: 100%;
		border-radius: 0px;
		margin-bottom: 15px;
		font-size: 18px;
	}
}

.page-template-appOnline  #top-bar,.page-template-appOnline #bottom-bar{display:none;}
.rightsidebarfixed{position:fixed;bottom:0px;right:0px;z-index:999999;width:280px;display:none;}
.fixed-top {background: #3A8290;color: #fff;padding: 6px 20px;font-weight: bold;	text-align:center;}
.rightsidebarfixed{position:fixed;bottom:0px;right:0px;z-index:999999;width:320px;display:none;   background-color: #F1EEAE;}
.fixed-content{text-align:center;    background-color: #E1F0F7;}
.button-bottom {background-color: #F83989;padding: 6px 20px;color: #fff;font-weight: bold;/* float: left; */margin: 0 auto;display: inline-block;font-size: 20px;border-radius: 6px;}
.fixed-top i {position: absolute;right: 14px;top: 10px;}
.fixedright {position: fixed;right:-12px;top: 35px;z-index: 999;width:180px;}
.fixedright img{width:100%;}
.imagetoogle img {width:100%!important;cursor: pointer;}
 .rightsidebarfixed .appointment-form-field-div{margin:0px 20px;}
.rightsidebarfixed  .appointment-form .form-group{width:100%; padding: 0px 0px;}
.rightsidebarfixed  .appointment-form .radio{width:100%;padding:0px;font-size:11px;}
.rightsidebarfixed  .appointment-form .message-skype{width:100%;padding:0px;font-size: 12px;line-height: 17px;}
.rightsidebarfixed  .appointment-validate-check-right {position: absolute;right: 0px;bottom: 0px;color: #FFFFFF;background-color: #ed9118;padding: 2px 8px;height: 23px;width: 17px;overflow: hidden;display: none;}
.rightsidebarfixed  .loading { right:0px; }
.rightsidebarfixed  .appointment-date-calender{right:7px;}
.upperimage{border-bottom: 2px solid #ED9118;}
.rightsidebarfixed .appointment-form .form-group label{font-size:12px;line-height:14px;}
.rightsidebarfixed .form-control{height:28px; padding:3px 10px;}
.rightsidebarfixed .appointment-form .form-group select{font-size:12px;}
.rightsidebarfixed  .appointment-form button{margin:0px;}

/*header*/
.header-navigation{width:100%;background-color:#284349}
.logo-left #navigation { text-align: center!important;}
.logo-left #navigation #main-nav, .logo-left #navigation .right-block { margin-bottom: 0px;}
   .current-menu-item .ripple{ background: #7eb7b5!important;
    background: -moz-linear-gradient(30deg,#7eb7b5 0%,#7eb7b5 100%)!important;
    background: -webkit-gradient(linear,left bottom,right top,color-stop(0%,#7eb7b5),color-stop(100%,#7eb7b5))!important; 
    background: -webkit-linear-gradient(30deg,#7eb7b5 0%,#7eb7b5 100%)!important;;
    background: -o-linear-gradient(30deg,#7eb7b5 0%,#7eb7b5 100%)!important;
    background: -ms-linear-gradient(30deg,#7eb7b5 0%,#7eb7b5 100%)!important;
    background: linear-gradient(30deg,#7eb7b5 0%,#7eb7b5 100%)!important;
    }
#main-nav .current-menu-item .ripple{background-color:#7eb7b5!important;}
#main-nav.menu-material-style > li > a.ripple .text-wrap {color:#fff;}
.ripple{border-radius:0px!important;}
#header:not(.logo-side) #main-nav > li, #header:not(.logo-side) #main-nav.menu-material-underline-style > li > a {height: 44px!important;min-height: 40px;line-height: 40px;}
#main-nav.menu-material-style > li > a.ripple .text-wrap {padding: 11px 11.5px 11px!important;}
#branding{float:left}
.yearscelebration{float: left; margin-top: 3px;padding: 13px 0px;}
.yearscelebration img{width:80px;}
.sociallinks{float:right;width:620px;margin:0px 0px;color:#37474f;}
.tollfreenumber {font-size:18px;text-decoration: none;    border-left: 1px solid #37474f;}
.tollfreenumber a{text-decoration:none;}
.socialiconss {float: left;}
.socialiconss a { float: left;}
.socialiconss a img{width:30px;float:left;}
#phantom .ph-wrap {background-color: #284349!important;}
.headtop{float:left;text-align:center;border-right: 1px solid #37474f;    padding:5px 0px;width:200px;} 
.scheduleapp{   font-size: 18px;float: left;   }
.leavemsg { font-size: 18px;}
.tollfreenumber p{margin-bottom:0px;}
.headtop a{text-decoration:none;color:inherit; padding: 5px 0px;text-align:center;}
.headtop a:hover{color:inherit;}
.headtop a i{color:#3ea92b;}
.footer3col a{width: 100%;text-align: center;float: left;cursor: pointer;text-decoration: none;color: inherit;  font-size: 16px;line-height: 20px;text-align:center;}
.footer3col {width:32.1%;float:left;line-height: 17px;}
.footer-fixed-3col{position: fixed;bottom: 0px;background-color: #fff;width: 100%;border-top: 1px solid #B9B9B9;border-bottom: 1px solid #B9B9B9;color:#000;display:none;left: 0px;}
.footer-fixed-3col a i{color: #3ea92b;display: inline-block;margin-right: 7px;vertical-align: middle;}
.schdapp{border-left:1px solid #B9B9B9;border-right:1px solid #B9B9B9;padding:13px 0px;}
.socialiconss-footer a img {width: 26px; margin: 0px 7px 3px 0px;}
.schdapp p {margin-bottom: 0px;background-color: #DC3757;color: #fff;font-size: 16px;position: absolute;font-weight: bold;width: 43%;top: -21px;}
.leavmsg,.tapcall{padding: 13px 0px;}
@-webkit-keyframes blinker {from {opacity: 1.0;}to {opacity: 0.0;}}
@-moz-keyframes blinker {from {opacity: 1.0;}to {opacity: 0.0;}}
.clt {display: inline-block;vertical-align: middle;}
.blink{text-decoration: blink;-webkit-animation-name: blinker;-webkit-animation-duration: 1.0s;-webkit-animation-iteration-count:infinite;-webkit-animation-timing-function:ease-in-out;
-webkit-animation-direction: alternate;-moz-animation-name: blinker;-moz-animation-duration: 1.0s;-moz-animation-iteration-count:infinite;-moz-animation-timing-function:ease-in-out;
-moz-animation-direction: alternate;}
.tapcall,.leavmsg{width:28%;}
.schdapp{width:43%;}
.scroll-top.on{z-index:100!important;}
.appointment-usp-section {
	margin-bottom: 65px;
}
@media screen and (max-width:1100px) {
.headtop{width:130px;line-height: 20px;padding: 16px 0px;}
.sociallinks{width:420px;}
.scheduleapp,.tollfreenumber,.leavemsg{   font-size: 16px;}
}
@media screen and (max-width:845px) {
.tollfreenumber {font-size: 24px;margin-right: 6px;}
.sociallinks {margin: 0px 4px;width:100%;    text-align: center;}
.tollfreenumber,.socialiconss,#branding,.yearscelebration { display: inline-block;float:none;    vertical-align: middle; margin: 15px 3px;}
.header_top_logo{width: 100%; float: left; text-align: center;}
.yearscelebration img{width:99px;}
.show-mobile-logo #branding, #header.show-device-logo.show-mobile-logo #branding{padding:0px}
.sociallinks{display:none;}
.footer-fixed-3col{display:block;}
} 
@media screen and (max-width:550px) {
.footer3col a{font-size:14px;}
.schdapp p{padding:3px 0px;font-size:12px;}
}
@media screen and (max-width:550px) {
.footer3col a{    font-size: 10px;line-height: 15px;}
}
@media screen and (max-width:370px) {
.footer-fixed-3col a i{display:none;}
}


/* Clinic Page Template */

.imgwidth100{
	width: 100%;
}
.addressclinic{
	padding: 50px 0px;
	float: left;
    width: 100%;
}
.addressclinic .cliniclocation p{
	font-size: 18px;
	padding:10px 20px;
}
.map-container iframe{
	width: 100%;
	height: 300px;
	display: block;
	pointer-events: none;
	position: relative; /* IE needs a position other than static */
}
.map-container iframe.clicked{
	pointer-events: auto;
}
.aboutclinic h1,.photsclinic h2,.testimonialclinic h2{
	font-size: 28px;
	color: #7dc1c0;
	text-transform: uppercase;
	font-weight: bold;
}
.aboutclinic p{
	font-size: 16px;
	line-height: 27px;
}
.photsclinic img{
	padding: 2px;
}
.photsclinic .col-sm-6.col-xs-12{
	padding:0px;
}
.testimonialclinic #carousel-clincitestimonial h6{
	font-weight: bold;
	font-size: 18px;
	text-transform: capitalize;
}
.testimonialclinic #carousel-clincitestimonial p{
	font-size: 16px;
	line-height: 26px;
	min-height:160px;
}
#carousel-clincitestimonial .carousel-indicators{
	position: absolute;
	bottom: 0px;
}
.carousel-indicators li{
	background-color: #7dc1c0;
	border: 0px;
	width: 15px;
	height: 15px;
	margin: 5px;
}
.carousel-indicators .active{
	background-color: #3a828f;
	width: 15px;
	height: 15px;
	margin: 5px;
}
.testimonialclinic .carousel {
    padding: 10px 0px 80px;
}
.uspclinic{
	color: #fff;
}
.uspclinic .uspcliniclist img{
	position: absolute;
    left: 13px;
    top: 2px;
    width: 32px;
}
.uspclinic .uspcliniclist {
    padding: 0px 0px 0px 45px;
    margin: 25px 0px;
}
.uspclinic .uspcliniclist h6{
	font-size: 24px;
    text-transform: capitalize;
	color:#fff;
}
.uspclinic .uspcliniclist p{
	font-size: 16px;
}
section.testimonialclinic {
    padding: 10px 0px 50px;
}
.uspclinic{
	background-color:#7dc1c0;
}
.page-template-template-clinic .breadcrumbs-off{
	display:none;
}
.testimonialclinic .ranking i{
	color: #a5a5a5;
}
.testimonialclinic .ranking .bg{
	color: #fc7006;
}
.testimonialclinic a{
	font-size: 14px;
	cursor: pointer;
}
.page-template-template-clinic #appointment-mid-section{
	background-position:left!important;
}
.page-template-template-clinic .appointment-book-div{
		background-color:rgba(231, 231, 231, 0.9);
}
@media all and (max-width: 768px) {
	.aboutclinic h1, .photsclinic h2, .testimonialclinic h2 {
 	   font-size: 27px;
	}
	.aboutclinic p {
	    font-size: 16px;
	    line-height: 26px;
	}
	.uspclinic{
		padding: 15px;
	}
	.uspclinic .uspcliniclist{
		margin: 10px 0px;
	}
	.addressclinic .cliniclocation p{
		padding: 0px 15px;
	}
}	

/* Clinic Page Template */
/* Hair Contest */
.norwood-terms,.norwood-information{
	padding: 20px 0px;
	background:#fff;
}
.norwood-information .container{
	padding-top:20px;
}
.norwood-terms p{
	font-size: 13px;
	line-height: 20px;
	margin-bottom: 0px;
	color: #666;
}
.norwood-information .info h5{
 	font-size: 30px;
 	font-weight: bold;
}
.norwood-information .info h6{
 	font-size: 22px;
    color: #666;
    font-style: normal;
    margin: 20px 0px;
	line-height:28px;
}
.norwood-information .info p{
 	font-size: 18px;
 	color: #666;
}
.norwood-information .socialicon p{
	text-align: center;
	font-size: 22px;
 	color: #666;
}
.norwood-information .socialicon a img{
	width: 190px;

}
.norwood-information .socialicon a{
	display: block;
	text-align: center;
	margin: 10px;
}
.norwood-formsection{
	background-color: #f6f6f6;
	padding: 50px 0px;
}
.norwood-formsection h1{
	font-size: 33px;
    text-align: center;
    margin-bottom: 30px;

}
.norwood-formsection h6{
	font-size: 23px;
	font-style: normal;
	margin-bottom: 25px;
}
.norwood-formsection .norwood{
	text-align: center;
}
.norwood-formsection .testimonial{
	font-size: 20px;
	color: #666;
}
.page-id-46192 .wf-wrap{
	width:100%!important;
	padding:0px;
}
.page-id-46192 #header{
	display:none;
}
.page-id-46192 .page-title{
	display:none;
}
.page-id-46192 #main{
	padding:0px;
}
.page-id-46192 footer{
	display:none;
}
.page-id-46192 .bottomfixed{
	display:none;
}
.page-id-46192 .padding15-0{
	padding:15px;
}
.page-id-46192 input,.page-id-46192 select{
	width:100%!important;
	background-color: #fff!important;
    height: 42px!important;
    font-size: 15px!important;
    color: #000!important;
    border: 1px solid #f59a16!important;
    border-radius: 5px!important;
    padding: 5px!important;
}
.page-id-46192 #phantom{
	display:none;
}
.page-id-46192 li.gfield{
	width:50%!important;
	clear:none;
	padding:0px 15px!important;
	display:inline-block;
	vertical-align: top;
}
.page-id-46192 #gform_confirmation_wrapper_7{
    border: 1px solid #f59a16;
    padding: 30px;
    font-size: 16px;
    text-align: center;
    color: #f59a16;
    background: #fff;
    font-weight: bold;
    margin-top: 85px;
}
.page-id-46192 #gform_confirmation_wrapper_7 b{
	font-size:20px;
}
.page-id-46192 #field_7_6{
	position:relative;
}
.page-id-46192 #field_7_6 .gfield_label{
	display: block!important;
    position: absolute;
    right: 18px;
    bottom: 0px;
    font-size: 15px;
}
.page-id-46192 .testimonial i{
	padding: 13px;
    vertical-align: bottom;
}
.page-id-46232 .page-title,.page-id-46252 .page-title{
	display:none;
}
.page-id-46232 #main,.page-id-46252 #main{
	padding:0px;
}
.page-id-46232  .bgwhite{
	float: left;
    width: 100%;
	background:#fff;
	padding: 50px 0px;
}
.page-id-46232 #gform_8{
	color:#787878;
}
.page-id-46232  #gform_8 .gfield_label{
	display:block!important;
	font-size: 20px;
	color:#787878;
}
.page-id-46232 #field_8_2{
	width:80%;
	float:left;
	clear:none;
}
.page-id-46232 #field_8_3{
	width:20%;
	float:right;
	clear:none;
}
.page-id-46232 #gform_8 input,.page-id-46232 #gform_8 textarea{
	width:100%;
	height: 40px;
	border-radius:0px;
}
.page-id-46232 #gform_8 .gfield_required{
	color:#787878!important;
}
.page-id-46232 #gform_8 textarea{
	height:300px;
}
.page-id-46232 #field_8_3 select{
	width:100%;
	background:#4eb7b3;
	border-radius:0px;
	color:#fff;
	font-size: 20px!important;
    height: 40px;
}
.page-id-46232 #field_8_2 .gfield_label{
	font-size:30px;
	margin-bottom:20px;
}
.page-id-46232 #gform_submit_button_8{
	width:300px!important;
	font-size:20px!important;
	background:#4eb7b3;
	float:right;
	margin:25px 0px;
	text-transform:uppercase!important;
}
.page-id-46232 #field_8_7{
	position: absolute;
    bottom: 50px;
    font-size: 22px;
}
.page-id-46232  .gsurvey-rating-wrapper{
    margin: 20px 0px 20px!important;
    display: block;
    float: left;
}
.page-id-46232  #gform_confirmation_wrapper_8{
text-align: center;
    font-size: 20px;
    border: 1px solid #4eb7b3;
    padding: 20px;
	color:#4eb7b3;
}
.page-id-46252 h1,.page-id-46252 h2,.page-id-46252 h3,.page-id-46252 h4,.page-id-46252 h5,.page-id-46252 h6{
	clear:none!important;
}
/* mobile first */

table.gsurvey-likert * {
    box-sizing: border-box;
}
table.gsurvey-likert {
    width:100%;
    table-layout: fixed;
    border-spacing: 0;
    border-top: none;
    border-left: 1px solid #CCC;
    border-right: none;
    border-bottom:1px solid #CCC;

}
table.gsurvey-likert td {
    text-align:center;
    vertical-align:middle;
    overflow:hidden;
    padding:3px;
    border:0;
    position: relative;
}
table.gsurvey-likert tr td {
    border-right: 1px solid #CCC;
    border-top: 1px solid #CCC
}
table.gsurvey-likert th.gsurvey-likert-choice-label {
    background-color: #EEE;
    text-align: center;
    vertical-align: middle;
    line-height: 1.2;
    padding: 3px 0;
    border-top: 1px solid #CCC;
    border-right: 1px solid #CCC;
}
table.gsurvey-likert .gsurvey-likert-row-label,
table.gsurvey-likert .gsurvey-likert-choice{
    border-top: 1px solid #CCC;
}
body.rtl table.gsurvey-likert th.gsurvey-likert-choice-label {
    text-align: center !important;
    vertical-align: middle;
}
table.gsurvey-likert td.gsurvey-likert-choice.gsurvey-likert-hover {
    background-color: #DFEFFF;
}
table.gsurvey-likert td.gsurvey-likert-choice.gsurvey-likert-focus {
    background-color: #d2e8fc !important;
}
table.gsurvey-likert td input {
    position: absolute;
    top: 0;
    left: -9999px;
}
body.rtl table.gsurvey-likert td.gsurvey-likert-choice input[type="radio"] {
    display: none;
}

table.gsurvey-likert td.gsurvey-likert-choice {
    background-image: url(../images/active0.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 26px
}
table.gsurvey-likert td.gsurvey-likert-choice.gsurvey-likert-selected {
    background-image: url(../images/active1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #DFEFFF;
}

/*---- Rating ---*/
/* source: http://lea.verou.me/ */

.gsurvey-rating {
    float: left;
}
.gsurvey-rating:not(:checked) > input {
    position: absolute;
    clip: rect(0,0,0,0);
}
.gsurvey-rating:not(:checked) > label {
    float:right;
    width:35px;
	height:35px;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:18px!important;
    line-height:18px;
    color:#ddd;
    background-image:url(https://www.dhiindia.com/wp-content/uploads/2017/08/rating_grey.png);
    background-repeat:no-repeat;
    background-position:center center;
}
.gsurvey-rating:not(:checked) > label:before {
    content: '\00a0\00a0\00a0\00a0';
	width: 34px;
    height: 34px;
    display: block;
}
.gsurvey-rating > input:checked ~ label {
    background-image:url(https://www.dhiindia.com/wp-content/uploads/2017/08/rating_yellow.png);
    background-repeat:no-repeat;
    background-position:center center;
}
.gsurvey-rating:not(:checked) > label:hover,
.gsurvey-rating:not(:checked) > label:hover ~ label {
    background-image:url(https://www.dhiindia.com/wp-content/uploads/2017/08/rating_yellow.png);
    background-repeat:no-repeat;
    background-position:center center;
}
.gsurvey-rating > input:checked + label:hover,
.gsurvey-rating > input:checked + label:hover ~ label,
.gsurvey-rating > input:checked ~ label:hover,
.gsurvey-rating > input:checked ~ label:hover ~ label,
.gsurvey-rating > label:hover ~ input:checked ~ label {
    color: #ea0;
}
.gsurvey-rank-choice{
    cursor: move;
}

@media only screen and (max-width: 761px), (min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force the survey table to not be like tables anymore */

    .gform_wrapper table.gsurvey-likert thead  {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .gform_wrapper table.gsurvey-likert tr {
        display: block;
    }
    .gform_wrapper table.gsurvey-likert td {
        display: block;
        text-align: left;
        vertical-align: middle;
        line-height: 2;
        background-position: 1% center !important;
        min-height: 2.4em;
    }
    body.rtl .gform_wrapper table.gsurvey-likert td {
        background-position: 99% center !important;
    }
    .gform_wrapper ul.gform_fields table.gsurvey-likert td:after {
        content: attr(data-label);
        line-height: 1.6;
        display: inline-block;
        margin-left: 22px;
        font-weight: bold;
    }
    body.rtl .gform_wrapper ul.gform_fields table.gsurvey-likert td:after {
        margin-right: 22px;
    }

}

/* media queries - rules for tablet or desktop displays */

@media only screen and (min-width: 641px) {

    ol.gsurvey-rank-entry li{
        list-style: decimal outside none;
    }

}

@media only screen and (min-width: 769px) {

    table.gsurvey-likert tr th {
        padding: 8px !important;
    }
    table.gsurvey-likert th.gsurvey-likert-row-label:first-child {
        border-right: 1px solid #CCC;
        border-bottom: none;
    }
    table.gsurvey-likert tr td {
        border-top: none;
    }

}
@media screen and (max-width:990px) {
	.norwood-formsection h1 {
	    font-size: 26px;
	 }
	 .norwood-information .socialicon a{
	 	display: inline-block;
	 }
	 .norwood-information .socialicon p{
	 	text-align: left;
	 	margin-bottom: 0px;
	 	font-weight: bold;
	 }
	 .norwood-formsection h1{
	 	text-align: left;
	 }
	 .norwood-formsection .norwood{
	 	text-align: left;
	 }
	 .page-id-46192 .testimonial i {
		vertical-align: baseline;
		padding: 0px 15px; 
	}
	.page-id-46232 #field_8_7{
		position:relative;
		bottom:0px;
	}
}
@media screen and (max-width:768px) {
	.page-id-46192 li.gfield{
		width:93%!important;
	}
	.page-id-46192 #field_7_6 .gfield_label{
		top:5px!important
	}
	#gform_submit_button_7{
		float:left!important;
		margin-left:15px;
	}
	.page-id-46232 #field_8_3{
		width:250px;
		float:left;
	}
	.page-id-46232 #field_8_2{
		width:100%;
	}
	.page-id-46232 #field_8_2 .gfield_label{
		font-size:24px;
	}
	.page-id-46232 #field_8_7{
		font-size:18px;
	}
}
/* Hair Contest */
/* Review */
.review-list{
	background-color: #e9e9e9;
}
.review-list h2{
	text-align: center;
	font-size: 37px;
    margin: 30px 0px;
}
.review-list .morebtn{
	background-color: #7cc0c1;
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    text-transform: uppercase;
    font-size: 26px;
    border-radius: 15px;
    margin: 5px 0px 25px;
	text-decoration: none;
}
.review-list .header{
	text-align: center;
}
.review-list .listing{
	 background-color: #fff;
	 float: left;
	 width: 100%;
	 padding: 25px;
	 border:1px solid #c5c5c5;
	 margin-bottom: 15px;
}
.review-list .listing h3{
	color: #514f50;
    margin-top: 0px;
    font-size: 28px;
    float: left;
}
.review-list .listing h6{
	text-align: right;
	float: right;
	margin-top: 0px;
}
.review-list .listing p{
	width: 100%;
	float: left;
	margin-bottom: 0px;
}
.review-list .listing a{
	 width: 100%; 
	text-align: right;
	float: right;
	color: #514f50;
}
.review-list .user-profile img{
	width:60px;
	border-radius: 50%;
}
.review-list .listing h6 .yellow{
	background: #fed941;
    color: #fff;
    font-size: 15px;
    padding: 5px;
    border-radius: 50%;
}
.review-list .listing h6 .gray{
	background: #bbbbb9;
    color: #fff;
    font-size: 15px;
    padding: 5px;
    border-radius: 50%;
}
.review-list .video iframe{
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    height: 400px;
}
.review-list .listing .moreless span{
	display:none;
}
.review-list .listing .moreless[aria-expanded="false"] .collapsed,.review-list .listing .moreless[aria-expanded="true"] .expanded{
	display:block;
}
@media screen and (max-width:990px) {
	.review-list h2{
		font-size: 25px;
	}
	.review-list .morebtn{
		font-size: 16px;
	}

	.review-list .video{
		clear: both;
	}
}
@media screen and (max-width:640px) {
	.review-list .listing h6{
		float: left;
		clear: both;
		text-align: left;
	}
}
/*/Review*/
