.page-id-31580  #header,.page-id-31580  .breadcrumbs-off,.page-id-31580 #main,.page-id-31580 #footer,.page-id-31580 #phantom{display:none;}
.page-id-31580{
	font-family: 'Muli', sans-serif!important;
	color: #000!important;
}
.mob-slider{display:none;}
.mob-slider img{width:100%;}
#navigation-main .appointment-book-div{    width: 450px;
    right: 15px;
    float: right;margin-top:15px;}
#navigation-main .appointment-form .form-group{width:100%;}
#navigation-main  .appointment-book-div h2 {
    font-weight: normal;
    color: #fff;
    font-size: 25px;
    width: auto;
    margin: 0px;
    /* padding: 11px 11px 7px 11px; */
    /* display: inline-block; */
    /* position: absolute; */
     /* left: 26%; */
    border-radius: 5px;
    position:relative;
	left:auto;
	font-weight:bold;
	
}
#navigation-main  .appointment-form .form-group input,#navigation-main  .appointment-form .form-group select{border-radius:0px}
#navigation-main  .appointment-book-div{padding-top:15px;}
#navigation-main  .appointment-form .landingpage{background-color: rgba(176,181,188,0.6)!important;}
#navigation-main .appointment-form .form-group label{display:none;}
#head-wrapper{
	float: left;
	width: 100%;
	margin: 10px 0px;
}
#head-wrapper .logo img{
	/*width: 100%;*/
}
#head-wrapper .social-icons-wrapper{
	float: right;
	padding: 6px 0px;
}
#head-wrapper .social-icons-wrapper ul{
	padding: 10px 0px;
	float: left;
	margin-left: 0px;
}
#head-wrapper .social-icons-wrapper ul li{
	display: inline;
	padding: 4px;
}
#head-wrapper .social-icons-wrapper .fa{
	font-size: 20px;
}
#head-wrapper .social-icons-wrapper .facebook .fa{
	background:#3B5998;
}
#head-wrapper .social-icons-wrapper .facebook i,.twitter i,.instagram i,.youtube i{
	height: 40px;
	width: 40px;
	border-radius: 100%;
	text-align: center;
	line-height: 40px;
	color: #fff;
}

#head-wrapper .social-icons-wrapper .twitter .fa{
	background: #00ABF1;
}
#head-wrapper .social-icons-wrapper .instagram .fa{
	background: #4c68d7;
}
#head-wrapper .social-icons-wrapper .youtube .fa{
	background: #C3181E;
}
#head-wrapper .contact-us-wrapper{
	padding-top: 10px;
	padding-left: 33px;
}
#head-wrapper .contact-us-wrapper .phone-icon {
	display: table-cell;
	vertical-align: middle;
}
#head-wrapper .contact-us-wrapper .phone-icon .fa{
	color: #C3181E;
}
#head-wrapper .contact-us-wrapper .contact-information {
	display: table-cell;
	padding-left: 25px;
	vertical-align: middle;
}
#head-wrapper .contact-us-wrapper .contact-information ul{
	padding-left: 0px;
}
#head-wrapper .contact-us-wrapper .contact-information ul li{
	display: inline;
	float: left;
	width: 100%;
}
#head-wrapper .contact-us-wrapper .contact-information .contact-number{
	font-size: 22px;
	font-weight: bold;
	color: #3B8290;
}
#head-wrapper .contact-us-wrapper .contact-information .contact-number a{
	text-decoration: none;
	color: inherit;
}
#navigation-main{
	float: left;
	width: 100%;
	background: url('../images/hairimplantindia/background.jpg');
	background-size: cover;
	padding: 10px 0px;
}
#city-list{
	float: left;
	width: 100%;
	margin: 5px 0px;
}
#city-list .city-branches-up{
	background:#7EC3C2;
	color: #fff;
	font-size: 18px;
	padding: 5px 0px;
	margin: 0 auto;
}
#city-list .city-branches-up ul,.city-branches-next ul{
	margin-bottom: 0px;
	padding-left: 80px;
}

#city-list .city-branches-up ul li,.city-branches-next ul li{
	display: inline;
}
#city-list .city-branches-up ul li:after,.city-branches-next ul li:after{
	content: "|";
	padding: 0px 10px;
}
#city-list .city-branches-up ul li:last-of-type:after,.city-branches-next ul li:last-of-type:after{
    content: "";
}
#city-list .city-branches-next{
	background:#3B8290;
	color: #fff;
	font-size: 18px;
	padding: 5px 0px;
	margin: 0 auto;
}

#our-services-wrapper{
	float: left;
	width: 100%;
	margin: 15px 0px;
}
#our-services-wrapper .services-heading h2{
	font-size: 24px;
	font-weight: 600;
}
#our-services-wrapper .services-list{
	padding-top: 20px;
}
#our-services-wrapper .services-list ul{
	padding-left: 0px;
}
#our-services-wrapper .services-list li{
	display: inline;
	font-size: 17px;
}
#our-services-wrapper .services-list li img{
	padding-right: 10px;
}

#about-us-wrapper{
	float: left;
	width: 100%;
	margin: 60px 0px;
	background: url('../images/hairimplantindia/uspbg.jpg');
	background-size: cover;
}
#about-us-wrapper .about-heading{
	text-align: center;
	padding:40px 0px;
}
#about-us-wrapper .about-heading p{
	text-align: center;
	font-size: 28px;
	margin: 0 auto;
	line-height:35px;
}
#about-us-wrapper .about-content{
	float: left;
	width: 100%;
	padding: 40px 0px 80px;
}
#about-us-wrapper .about-content ul li{
	font-size: 17px;
	padding-top: 20px;
	font-weight: bold;
	color: #000;
}

#about-us-wrapper .about-content .separator{
	border-right: 2px solid rgba(128, 128, 128, 0.18);
}
#testimonial-slider{
	float: left;
	width: 100%;
}
#testimonial-slider .owl-caraousel{
	padding-bottom: 10px;
}
#testimonial-slider .item1 .client-information {
	margin-top: 30%;
	font-size: 17px;
	text-align: right;
}
#testimonial-slider .item1 .client-information p{
	margin: 0px;
}
#testimonial-slider .item1 .client-image img{
	width: 100%;
}
#testimonial-slider .item1 .client-message {
    margin-top: 5%;
    margin-left: 10%;
    font-size: 17px;
    line-height: 30px;
}
#testimonial-slider .item1 .client-message blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    /* font-size: 17.5px; */
    border-left: 5px solid #463F3F;
    background: rgba(0, 188, 212, 0.1);
	font-family: 'Muli', sans-serif!important;
	color:#000;
	line-height:30px;
}

#clientele-wrapper{
	float: left;
	width: 100%;
	margin: 30px 0px;
	border-top: 1px solid #B9B9B9;
}
/*#clientele-wrapper .clientele-logos ul{
	padding-left: 0px;
}*/
#clientele-wrapper .clientele-logos {
    padding-top: 40px;
}

#clientele-wrapper .clientele-logos ul li{
	display: inline-block;
	
}
#clientele-wrapper .clientele-logos ul li:last-of-type{
	padding-right: 0px;
}
#clientele-wrapper .clientele-logos img{
	width: 100%;
}
#clientele-wrapper .download-wrapper{
	float: left;
	width: 100%;
	padding-top: 40px;
}
#clientele-wrapper .download-wrapper .download{
    background: rgba(128, 128, 128, 0.55);
    text-align: center;
    padding: 10px 5px;
    border-radius: 10px;
	color:#fff;
	font-weight:bold;
}
#clientele-wrapper .download-wrapper a{text-decoration:none} 
.owl-theme .owl-controls .owl-buttons .owl-next{
	display: none;
}
.owl-theme .owl-controls .owl-buttons .owl-prev{
	display: none;
}
  
@media screen and (max-width: 1024px){
	#navigation-main .appointment-book-div{width:350px;}
	#head-wrapper .contact-us-wrapper{
		padding-left: 0px;
	}
	#head-wrapper .contact-us-wrapper .contact-information{
		padding-left: 10px;
	}
	#city-list .city-branches-up ul, .city-branches-next ul{
		padding-left: 20px;
	}
	#clientele-wrapper .clientele-logos ul{
	padding-left: 0px;
	}
	#clientele-wrapper .clientele-logos ul li{
		padding-right: 0px;
	}
	#clientele-wrapper .clientele-logos img{
		max-width: 128px;
	}
	#clientele-wrapper .download-wrapper .download{
		padding: 10px 2px;
		font-size: 12px;
	}
}
@media screen and (max-width: 768px){
	.mob-slider{display:block;}
	#navigation-main{background:none;}
	#navigation-main .appointment-book-div{width:100%;margin:15px;position:inherit;margin:0px;}
	#head-wrapper .social-icons-wrapper ul li{
		padding: 0px;
	}
	#city-list .city-branches-up,#city-list .city-branches-next{
		font-size: 14px;
	}
	#city-list .city-branches-up ul li:after, .city-branches-next ul li:after{
		padding: 0px 5px;
	}
	#our-services-wrapper .services-list li img{
		padding-right: 0px;
	}
	#our-services-wrapper .services-list li{
		font-size: 12px;
	}
	#clientele-wrapper .clientele-logos img{
		max-width: 160px;
	}
	#testimonial-slider .item1 .client-information{
		font-size: 14px;
		margin-top: 70%;
	}
	#testimonial-slider .item1 .client-image {
		margin-top: 40%;
	}
}
@media screen and (max-width: 767px){
	#head-wrapper .social-icons-wrapper {
		float: left;
		width: 100%;
		padding: 20px 0px;
	}
	#head-wrapper .contact-us-wrapper{
		padding-top: 20px;
	}
	#our-services-wrapper .services-list li img {
		padding-right: 15px;
	}
	#our-services-wrapper .services-list li {
		font-size: 16px;
	}
}

@media screen and (max-width: 425px){

	#head-wrapper .social-icons-wrapper .facebook i, .twitter i, .instagram i, .youtube i{
	width: 35px;
	height: 35px;
	line-height: 35px;
	}
	#head-wrapper .contact-us-wrapper .contact-information {
		padding-left: 5px;
	}
	#head-wrapper .contact-us-wrapper .contact-information .contact-number{
		font-size: 18px;
	}
	#city-list .city-branches-up ul, .city-branches-next ul{
		padding-left: 10px;
	}
	#about-us-wrapper .about-heading p{
		font-size: 21px;
	}
	#clientele-wrapper .clientele-logos img {
		max-width: 75px;
	}
	#testimonial-slider .item1 .client-message{
		line-height: 24px;
		margin: 0px;
	}
	#testimonial-slider .item1 .client-message blockquote{
		font-size: 13px;
	}
	#about-us-wrapper .about-content ul{
		padding-left: 0px;
	}
	#about-us-wrapper .about-content .separator{
		padding-right: 10px;
	}
	#about-us-wrapper .about-content ul li {
		font-size: 14px;
		padding-top: 15px;
	}
}

@media screen and (max-width: 375px){
	#head-wrapper .social-icons-wrapper .facebook i, .twitter i, .instagram i, .youtube i{
	width: 28px;
	height: 28px;
	line-height: 28px;
	}
	#head-wrapper .contact-us-wrapper .contact-information .contact-number {
		font-size: 15px;
	}
	#city-list .city-branches-up, #city-list .city-branches-next {
		font-size: 12px;
	}
	#city-list .city-branches-up ul li:after, .city-branches-next ul li:after {
		padding: 0px 2px;
	}
	#clientele-wrapper .clientele-logos img {
		max-width: 65px;
	}
}

@media screen and (max-width: 320px){
	#head-wrapper .social-icons-wrapper .facebook i, .twitter i, .instagram i, .youtube i {
		width: 21px;
		height: 21px;
		line-height: 21px;
		font-size: 12px;
	}
	#head-wrapper .social-icons-wrapper .fa {
		font-size: 12px;
	}
	#head-wrapper .contact-us-wrapper .phone-icon .fa{
		font-size: 20px;
	}
	#head-wrapper .contact-us-wrapper .contact-information{
		font-size: 12px;
	}
	#head-wrapper .contact-us-wrapper {
		padding-top: 25px;
	}
	#head-wrapper .contact-us-wrapper .contact-information .contact-number {
		font-size: 12px;
	}
	#clientele-wrapper .download-wrapper .download{
		font-size: 11px;
	}
	#clientele-wrapper .clientele-logos img {
		max-width: 54px;
	}
}



