.storeclinics p {
    margin-bottom: 0px;
}
.clinicss {
    padding: 0px;
    display: inline-block;
}
.storeclinics {
    padding: 15px;
    text-align: left;
	min-height: 175px;
}
/* Gravity form */
.gfield_label{display: none!important;}
.gform_wrapper .top_label input.medium, .gform_wrapper .top_label select.medium, .gform_wrapper .top_label textarea.medium{width: 250px;background-color: #fff;height: 32px;
font-size: 13px!important;color: #333;}
.gform_wrapper .top_label textarea.medium{height: 100px;}
.gform_wrapper ul li.gfield {margin-top: 4px!important;}
.gform_wrapper .field_description_below .gfield_description{padding-top:0px!important; }
.gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning
{background-color:rgba(255,223,224,0)!important;border:none!important;padding: 0px!important;}
.validation_error{display: none;}
.gform_wrapper .gform_footer{padding: 0px;}
#main .gform_wrapper .gform_footer input.button, #main .gform_wrapper .gform_footer input[type=submit], .wpcf7-submit.dt-btn-m, div.mc4wp-form button[type=submit], form.mc4wp-form input[type=submit] {
    padding: 2px 11px!important;font-weight: bold!important;}
 #gform_fields_2 input,#gform_fields_2 select{width: 100%!important;}
 .gform_wrapper li.gfield.gfield_error.gfield_contains_required{margin-bottom: 0px!important;}
div#gform_confirmation_message_2 {font-weight: bold;}
body .gform_wrapper .top_label div.ginput_container{margin-top: 0px!important;}
#gform_fields_4 input{width: 100%!important;}
#gform_4 .gform_footer{margin:0px!important;}
.bottomfixed{position: fixed;z-index: 199999990;border: 1px solid #fff;overflow: none;visibility: visible;height: 25px;width: 270px;
 margin-bottom: 0px;cursor: pointer;background: #074d55;color: #ffffff;font-size: 20px;padding: 2px 20px 2px 10px;text-align: center;
top: auto;right: 10px;bottom: 0px;left: auto;margin: 0px 0px 1px 0px;-webkit-border-radius: 8px 8px 0 0;-moz-border-radius: 8px 8px 0 0;
border-radius: 8px 8px 0 0;cursor: pointer;}
.bottomfixed i{position: absolute;right: 20px;top: 4px;font-weight: bold;}
.formbottomfixed{background: #074d55 none repeat scroll 0 0;border: 1px solid #909693;color: #ffffff;padding: 15px 15px 10px;position: fixed;
right: 0px;bottom: 0px;z-index: 999999999;width: 250px;color: #fff;display: none;}
.containerfixed{width: 100%;text-align: center;}
.containerfixed h5,.containerfixed h6{color: #fff;}
.containerfixed h5{font-weight: bold;}
.containerfixed i{position: absolute;top: 5px;right: 5px;font-weight: bold;cursor: pointer;}
.bottomfixedtoggle{bottom: 0px;display: block;}
.modal-content{    background-color: #2c3e50;padding: 0px 20px;margin: 50px;}
.popupall h5{color: #fff;font-weight: bold;font-size: 23px;margin: 30px 0px;}
.popupall input,.popupall textarea{width: 100%!important;}
.popupall .close{position: absolute;right: 0px;background: transparent!important;color: #FFF!important;
font-size: 28px!important;font-weight: bold!important;}
.popupall .gform_wrapper .gform_footer {padding: 10px 0 10px;margin: 0px 0 0;clear: both;width: 100px!important;}
.gform_confirmation_message_5{margin:10px 0px;color: #fff;}
.gform_footer{margin:0px!important;}
#gform_wrapper_4{margin:0px!important;}
::-webkit-input-placeholder {
 color: #d0cdfa;
 font-weight: bold;
}
:-moz-placeholder { /* older Firefox*/
 color: #d0cdfa;
 font-weight: bold;
}
::-moz-placeholder { /* Firefox 19+ */ 
 color: #d0cdfa;
 font-weight: bold;
} 
:-ms-input-placeholder { 
 color: #d0cdfa;
 font-weight: bold;
}
/*Homepage*/
.sidebar-none .content .img-full .shortcode-teaser-img{
	padding-bottom: 0;
}
.shortcode-teaser-content.text-small {
	padding: 4px 0px;
	background-color: #7eb7b5;
	background: #7eb7b5;
	background: -moz-linear-gradient(30deg,#7eb7b5 0%,#42b7b3 100%);
	background: -webkit-gradient(linear,left bottom,right top,color-stop(0%,#7eb7b5),color-stop(100%,#42b7b3));
	background: -webkit-linear-gradient(30deg,#7eb7b5 0%,#42b7b3 100%);
	background: -o-linear-gradient(30deg,#7eb7b5 0%,#42b7b3 100%);
	background: -ms-linear-gradient(30deg,#7eb7b5 0%,#42b7b3 100%);
	background: linear-gradient(30deg,#7eb7b5 0%,#42b7b3 100%);
	margin-top: 0;
}
.sidebar-none .content  .frame-on .shortcode-teaser-content{
	padding: 0;
}
.shortcode-teaser-content.text-small p {
	margin: 0;
	padding: 5px 0px;
}
.shortcode-teaser-content.text-small p a.dt-btn{
	margin: 0!important;
}
#dl-menu.wf-mobile-visible, #mobile-menu{
	float: left;
}
.dl-menuwrapper .dl-menu {
	position: absolute;
	left: 0px;
	top: 44px;
}
.form-field{
	float: left;
	width: 100%;
}
input.form-field, select.form-field{
	border-radius: 2px !important;
}
.formSubmitButton{
	border-radius: 2px !important;
	padding: 5px 12px !important;
}c
.vc_btn3.vc_btn3-size-md {
	margin-bottom: 20px;
	margin-top: -17px;
	display: inline-block;
}
.project-list-content .portfolio-categories{
	margin-top: -7px;
}
.page-id-15 .wpb_wrapper{
	padding: 10px 0px;
}
.wpb_wrapper .img-full .shortcode-teaser-img {
	padding-bottom: 0px;
}
.frame-on .shortcode-teaser-content {
	margin-top: -10px;
	padding: 10px !important;
	padding-bottom: 0px !important;
}

#main-nav .current-menu-item a.ripple {
	background: transparent !important;
	color: #FFF;
}
.breadcrumbs-new{
	margin-bottom: 0px !important;
}
.page-id-17 .project-list-media:after {
	content: "\f0d8";
	font: normal normal normal 36px/1 FontAwesome;
	position: absolute;
	left: 48%;
	bottom: 49px;
	transform: rotate(180deg);
	color: #7eb7b5;
}
.wpb_wrapper h4{
	padding: 10px 0px;
	line-height: 30px;
}
.page-id-15 #main{
	padding: 10px 0px !important;
}
.dt-style.vc_toggle_default .vc_toggle_icon:after, .dt-style.vc_toggle_default .vc_toggle_icon:before, .st-accordion li>a:after, .wpb_content_element .wpb_accordion_header>a:after, .wpb_content_element .wpb_accordion_header>a:before {
	position: absolute;
	top: 50%;
	margin-top: -7px;
	left: 7px !important;
	width: 25px !important;
	height: 25px !important;
	content: "";
}
#page .st-accordion li>a:after, #page .wpb_content_element.dt-style .wpb_accordion_header>a:after, #page .dt-style.vc_toggle_default .vc_toggle_icon:after {
	background-size: 50% !important;
}
.vc_separator.vc_separator_align_left .vc_sep_holder {
	width: 100%;
	display: none;
}
.vc_separator h4 {
	float: left;
	width: 100%;
	font-weight: bold !important;
	line-height: 24px !important;
	white-space: normal !important;
}
.page-id-419 .vc_toggle {
	clear: both;
	float: left;
	margin-top: 5px !important;
}
.page-id-419 .vc_toggle h4{
	padding-left: 8px;
}
.page-title h1{
	line-height: 30px;
}
li.ui-state-default.ui-corner-top {
	width: 25%;
	margin-right: 0px !important;
}
.tab-style-two .wpb_tabs_nav li.ui-tabs-active:before{
	top: -1 !important;
}
.page-id-92 .ui-tabs .ui-tabs-nav{
	padding: 0 !important;
}
.page-id-106 #main {
	padding: 0px !important;
}

 /*Resposive media queries */
@media only screen and (max-width:1600px) {
	.page-id-15 .frame-on .shortcode-teaser-content{
		min-height: 216px;
	}
	.shortcode-teaser-content.text-small p {
		font-size: 13px;
	}
} 
@media only screen and (max-width: 1280px) {
	.sidebar-none .content .wpb_wrapper h3{
		font-size: 20px;
	}
	.storeclinics {
	min-height: 195px;
	}
}
@media only screen and (max-width: 1220px) {
	.page-id-13 .vc_btn3-container {
		padding-bottom: 10px;
	}
}
@media only screen and (max-width: 1200px) {
	.sidebar-none .content .wpb_wrapper h3 {
		font-size: 18px;
	}
	.page-id-15 .frame-on .shortcode-teaser-content h3{
		font-size: 18px;
		margin-top: 10px;
	}
	.page-id-15 .frame-on .shortcode-teaser-content h4{
		font-size: 18px;
			margin-bottom: -10px;
	}
}

@media only screen and (max-width: 1024px){
	.shortcode-teaser-content.text-small p a.dt-btn{
		font-size: 14px;
	}
	.sidebar-none .content .wpb_wrapper h3 {
		font-size: 17px;
	}
	.page-id-15 .frame-on .shortcode-teaser-content{
		min-height: 278px;
	}
	.sidebar-none .content .wpb_wrapper h3 {
		font-size: 18px !important;
		font-weight: bold !important;
	}

}
@media only screen and (max-width: 991px){
	.vc_col-sm-3 {
		width: 50% !important;
	}
	.page-id-71 .stripe .wpb_column{
		padding: 15px 0px;
	}
	.page-id-15 .frame-on .shortcode-teaser-content{
		min-height: 180px;
	}
}
@media only screen and (max-width: 870px){
	.page-title h1{
		text-align: left;
		padding: 12px 0px;
	}
	.page-id-108 .gap{
		height: 0px !important;
	}
	/*.breadcrumbs-off .hgroup{
		text-align: left;
		padding: 12px 0;
	}*/
	.page-title .wf-table{
		float: left;
		width: 100%;
	}
	.title-left .breadcrumbs, .page-title.title-left .hr-breadcrumbs{
		float: left !important;
		width: 100%;
	}
}
@media only screen and (max-width:845px){
	.show-mobile-logo #branding, #header.show-device-logo.show-mobile-logo #branding {
		float: left !important;
	}
	.tollfreenumber, .socialiconss, #branding, .yearscelebration {
		float: right !important;
		margin-bottom: 0;
	}
	#bottom-bar{
		margin-bottom: 50px !important;
		margin-bottom: 0;
	}
	.scroll-top.on {
		z-index: 105!important;
		bottom: 60px;
	}
	.gap{
		max-height: 20px !important;
	}
	.page-id-100 .stripe.stripe-style-3.stripe-parallax-bg.stripe-transparent-bg{
		float: left;
	}
	li.ui-state-default.ui-corner-top {
		width: 50%;
		margin-right: 0px !important;
	}
	.page-id-48 .stripe.stripe-style-2.stripe-solid-bg {
		float: left;
		width: 100%;
		background-size: cover !important;
	}
	.page-id-102 .wpb_column.vc_column_container.vc_col-sm-6 {
		background: rgba(244,245,249,.8);
	}
	#main-nav.menu-material-style>li>a span.text-wrap>span{
		margin-right: 5px;
	}
}
@media only screen and (max-width: 750px){
	.vc_col-sm-3 {
		width: 100% !important;
	}
	.page-id-15 .frame-on .shortcode-teaser-content{
		min-height: auto;
	}
	.page-id-104 div.wpb_column.vc_column_container.vc_col-sm-6 {
		background: rgba(0,0,0,.5);
	}
	.page-id-104 .stripe.stripe-style-2.stripe-parallax-bg.stripe-solid-bg {
		background-color: rgba(0, 0, 0, 0.85) !important;
		background-size: 0% 0% !important;
		/* padding: 10px 0px; */
	}
	.bottomfixed span{display: none;}
	.bottomfixed{width: 2px;right: 0px;padding: 0px 20px 1px 10px;}
	.modal-content{margin: 0px;}
	.bottomfixed i {right: 10px;}
}
@media only screen and (max-width: 570px){
	.wpsl-search {
		 padding: 0px !important; 
	}
	.sidebar-none .content .wpb_wrapper h3 {
		font-size: 14px !important;
	}
	#main .wpb_content_element .wpb_accordion_header a, #main .wpb_content_element .wpb_tour_tabs_wrapper .wpb_tabs_nav a {
		padding-top: 9px;
		padding-bottom: 9px;
		font-size: 12px;
		padding-left: 5px;
		padding-right: 5px;
	}
	.tp-leftarrow.default{display:none;}
	.tp-rightarrow.default{display:none;}
	
}
@media only screen and (max-width: 480px){
	.yearscelebration img {
		width: 70px;
	}
	#header.show-device-logo.show-mobile-logo #branding img {
		width: 150px;
	}
	.page-id-419 .wpb_wrapper h4{
		padding-bottom: 0px !important;
		margin-bottom: 0px !important;
	}
}
@media only screen and (max-width: 400px){
	#page #header>.wf-wrap{
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
	.page-id-102 .alignright{
		float: left;
		width: 100%;
		margin: 10px 0;
	}
}
#gform_fields_7 .gfield,#gform_submit_button_7{
	padding:5px 15px!important;
}
#gform_submit_button_7{
    background: #f59a16!important;
    width: 46%!important;
    float: right;
    color: #fff!important;
    font-size: 26px!important;
    font-weight: normal!important;
    margin-top: 20px;
}


    


